Repository grafana/alloy, pull requests merged in 2024-12, with the labels that each got.

#2190 loki.source.podlogs: For clustering only take into account some labels
  CHANGELOG.md
  docs/sources/reference/components/loki/loki.source.kubernetes.md
  docs/sources/reference/components/loki/loki.source.podlogs.md
  internal/component/loki/source/podlogs/reconciler.go
Labels: type/docs

#1760 influxdb2otel receiver
  CHANGELOG.md
  docs/sources/reference/compatibility/_index.md
  docs/sources/reference/components/otelcol/otelcol.receiver.influxdb.md
  go.mod
  go.sum
  internal/component/all/all.go
  internal/component/otelcol/receiver/influxdb/influxdb.go
  internal/component/otelcol/receiver/influxdb/influxdb_test.go
  internal/converter/internal/otelcolconvert/converter_influxdbreceiver.go
  internal/converter/internal/otelcolconvert/testdata/influxdb.alloy
  internal/converter/internal/otelcolconvert/testdata/influxdb.yaml
Labels: enhancement, type/docs

#1557 feat: Configurable cgroup ID regex for process discovery component
  CHANGELOG.md
  docs/sources/reference/components/discovery/discovery.process.md
  internal/component/discovery/process/args.go
  internal/component/discovery/process/cgroup.go
  internal/component/discovery/process/cgroup_test.go
  internal/component/discovery/process/discover.go
  internal/component/discovery/process/process.go
Labels: type/docs

#2199 feat: Add new stdlib functions
  CHANGELOG.md
  docs/sources/reference/stdlib/encoding.md
  syntax/internal/stdlib/stdlib.go
  syntax/vm/vm_stdlib_test.go
Labels: type/docs

#2217 Fix documentation reference for string.trim_space
  docs/sources/reference/stdlib/string.md
Labels: type/docs, backport release/v1.4, backport release/v1.5

#2229 Remove incorrect info in otelcol.processor.tail_sampling topic
  docs/sources/reference/components/otelcol/otelcol.processor.tail_sampling.md
Labels: type/docs, backport release/v1.0, backport release/v1.1, backport release/v1.2, backport release/v1.3, backport release/v1.4, backport release/v1.5

#2220 prometheus.exporter.windows - Convert sentence to note to make important detail stand out
  docs/sources/reference/components/prometheus/prometheus.exporter.windows.md
Labels: type/docs, backport release/v1.0, backport release/v1.1, backport release/v1.2, backport release/v1.3, backport release/v1.4, backport release/v1.5

#2244 fix install alloyu - linux | grafana.repo using RHEL-Fedora
  docs/sources/set-up/install/linux.md
Labels: type/docs, backport release/v1.0, backport release/v1.1, backport release/v1.2, backport release/v1.3, backport release/v1.4, backport release/v1.5

#2248 [release/v1.4] fix install alloyu - linux | grafana.repo using RHEL-Fedora
  docs/sources/_index.md
  docs/sources/set-up/install/linux.md
Labels: type/docs, backport

#2249 [release/v1.3] fix install alloyu - linux | grafana.repo using RHEL-Fedora
  docs/sources/set-up/install/linux.md
Labels: type/docs, backport

#2251 [release/v1.1] fix install alloyu - linux | grafana.repo using RHEL-Fedora
  docs/sources/set-up/install/linux.md
Labels: type/docs, backport

#2252 [release/v1.0] fix install alloyu - linux | grafana.repo using RHEL-Fedora
  docs/sources/set-up/install/linux.md
Labels: type/docs, backport

#2250 [release/v1.2] fix install alloyu - linux | grafana.repo using RHEL-Fedora
  docs/sources/set-up/install/linux.md
Labels: type/docs, backport

#2213 fix: Update documentation for using filename in otelcol.auth.bearer component
  docs/sources/reference/components/otelcol/otelcol.auth.bearer.md
Labels: type/docs

#2242 Configure metrics exporter for loadbalancing when possible
  CHANGELOG.md
  docs/sources/reference/components/otelcol/otelcol.exporter.loadbalancing.md
  internal/component/otelcol/exporter/awss3/awss3.go
  internal/component/otelcol/exporter/datadog/datadog.go
  internal/component/otelcol/exporter/debug/debug.go
  internal/component/otelcol/exporter/exporter.go
  internal/component/otelcol/exporter/exporter_test.go
  internal/component/otelcol/exporter/kafka/kafka.go
  internal/component/otelcol/exporter/loadbalancing/loadbalancing.go
  internal/component/otelcol/exporter/loadbalancing/loadbalancing_test.go
  internal/component/otelcol/exporter/otlp/otlp.go
  internal/component/otelcol/exporter/otlphttp/otlphttp.go
  internal/component/otelcol/exporter/splunkhec/splunkhec.go
  internal/component/otelcol/exporter/syslog/syslog.go
Labels: type/docs

#2278 Remove dead link in OpenShift topic
  docs/sources/set-up/install/openshift.md
Labels: type/docs, backport release/v1.5

#2302 fix(pyroscope.receive_http): Handle metrics registry gracefully
  internal/component/pyroscope/receive_http/receive_http.go
  internal/component/pyroscope/receive_http/receive_http_test.go
Labels: bug, backport release/v1.5
