Repository grafana/alloy, pull requests merged in 2024-11, with the labels that each got.

#2046 pyroscope: add stability note for receive_http component
  docs/sources/reference/components/pyroscope/pyroscope.receive_http.md
Labels: type/docs

#1885 feat(otelcol/exporter/splunkhec) Add Splunk HTTP Event Collector (HEC) Exporter
  CHANGELOG.md
  docs/sources/reference/compatibility/_index.md
  docs/sources/reference/components/otelcol/otelcol.exporter.splunkhec.md
  go.mod
  go.sum
  internal/component/all/all.go
  internal/component/otelcol/exporter/splunkhec/config/splunkhec.go
  internal/component/otelcol/exporter/splunkhec/config/splunkhec_test.go
  internal/component/otelcol/exporter/splunkhec/splunkhec.go
  internal/component/otelcol/exporter/splunkhec/splunkhec_test.go
  internal/converter/internal/otelcolconvert/converter_splunkhecexporter.go
  internal/converter/internal/otelcolconvert/testdata/splunkhec.alloy
  internal/converter/internal/otelcolconvert/testdata/splunkhec.yaml
Labels: type/docs

#2055 fix: tiny typo in release notes for 1.5
  docs/sources/release-notes.md
Labels: type/docs

#2056 fix: tiny typo in release notes for 1.5 on release branch
  docs/sources/release-notes.md
Labels: type/docs

#2023 Support kubernetes_role argument for prometheus.operator.servicemonitors
  CHANGELOG.md
  docs/sources/reference/components/prometheus/prometheus.operator.servicemonitors.md
  internal/component/prometheus/operator/common/crdmanager.go
  internal/component/prometheus/operator/configgen/config_gen_servicemonitor.go
  internal/component/prometheus/operator/configgen/config_gen_servicemonitor_test.go
  internal/component/prometheus/operator/types.go
Labels: type/docs

#2009 Implement an initial version of the support bundle in Alloy
  CHANGELOG.md
  docs/sources/reference/cli/run.md
  docs/sources/troubleshoot/support_bundle.md
  go.mod
  go.sum
  internal/alloycli/cmd_run.go
  internal/runtime/logging/logger.go
  internal/service/http/http.go
  internal/service/http/http_test.go
  internal/service/http/supportbundle.go
Labels: type/docs

#2062 fix typo
  CHANGELOG.md
Labels: backport release/v1.5

#2051 Update prometheus-metrics.md
  docs/sources/collect/prometheus-metrics.md
Labels: type/docs, backport release/v1.0, backport release/v1.1, backport release/v1.2, backport release/v1.3, backport release/v1.4, backport release/v1.5

#2095 True up the documentation with the code.
  docs/sources/reference/components/prometheus/prometheus.exporter.unix.md
Labels: type/docs

#1466 Add a topic explaining Amazon ECS and AWS Fargate telemetry collection
  docs/sources/collect/ecs-openteletry-data.md
Labels: type/docs, backport release/v1.5

#2072 Update local.file.md
  docs/sources/reference/components/local/local.file.md
Labels: type/docs, backport release/v1.0, backport release/v1.1, backport release/v1.2, backport release/v1.3, backport release/v1.4, backport release/v1.5

#2108 Fix indentation on steps
  docs/sources/collect/ecs-openteletry-data.md
Labels: type/docs, backport release/v1.5

#2116 Fix typo in vars block
  docs/sources/set-up/install/ansible.md
Labels: type/docs, backport release/v1.0, backport release/v1.1, backport release/v1.2, backport release/v1.3, backport release/v1.4, backport release/v1.5

#1917 Update wal doc
  docs/sources/reference/components/prometheus/prometheus.write.queue.md
Labels: type/docs, needs-attention

#2131 nit: Update otel links that didn't use OTEL_VERSION
  docs/sources/reference/components/otelcol/otelcol.exporter.awss3.md
  docs/sources/reference/components/otelcol/otelcol.processor.filter.md
  docs/sources/reference/components/otelcol/otelcol.processor.tail_sampling.md
Labels: type/docs, backport release/v1.5

#2145 remove metrics that are not there
  docs/sources/reference/components/prometheus/prometheus.write.queue.md
Labels: type/docs

#2073 Add environment variables to support bundle
  CHANGELOG.md
  docs/sources/configure/windows.md
  docs/sources/reference/cli/environment-variables.md
  docs/sources/troubleshoot/support_bundle.md
  internal/service/http/supportbundle.go
Labels: type/docs

#2094 Capture configuration files & runtime config in support bundle
  CHANGELOG.md
  docs/sources/troubleshoot/support_bundle.md
  internal/alloycli/cmd_run.go
  internal/runtime/alloy_services.go
  internal/runtime/source.go
  internal/service/http/http.go
  internal/service/http/supportbundle.go
  internal/service/remotecfg/remotecfg.go
  internal/service/remotecfg/remotecfg_test.go
  internal/service/service.go
  syntax/ast/ast.go
  syntax/printer/printer.go
  syntax/printer/printer_test.go
  syntax/vm/struct_decoder.go
  syntax/vm/vm_block_test.go
Labels: type/docs

#2053 Add `database_observability.mysql` component
  docs/sources/reference/compatibility/_index.md
  docs/sources/reference/components/database_observability/_index.md
  docs/sources/reference/components/database_observability/database_observability.mysql.md
  go.mod
  go.sum
  internal/component/all/all.go
  internal/component/database_observability/mysql/collector/connection_info.go
  internal/component/database_observability/mysql/collector/connection_info_test.go
  internal/component/database_observability/mysql/collector/query_sample.go
  internal/component/database_observability/mysql/collector/query_sample_test.go
  internal/component/database_observability/mysql/collector/schema_table.go
  internal/component/database_observability/mysql/collector/schema_table_test.go
  internal/component/database_observability/mysql/component.go
Labels: type/docs

#2163 add --formula flag to reinstall command
  docs/sources/configure/macos.md
Labels: type/docs, backport release/v1.0, backport release/v1.1, backport release/v1.2, backport release/v1.3, backport release/v1.4, backport release/v1.5

#2155 Clean up some of the linting warnings and errors
  docs/sources/collect/_index.md
  docs/sources/collect/choose-component.md
  docs/sources/collect/datadog-traces-metrics.md
  docs/sources/collect/ecs-opentelemetry-data.md
  docs/sources/collect/logs-in-kubernetes.md
  docs/sources/collect/metamonitoring.md
  docs/sources/collect/opentelemetry-data.md
  docs/sources/collect/opentelemetry-to-lgtm-stack.md
  docs/sources/collect/prometheus-metrics.md
  docs/sources/configure/_index.md
  docs/sources/configure/clustering/distribute-prometheus-scrape-load.md
  docs/sources/configure/kubernetes.md
  docs/sources/configure/linux.md
  docs/sources/configure/macos.md
  docs/sources/configure/nonroot.md
  docs/sources/configure/windows.md
  docs/sources/introduction/_index.md
  docs/sources/introduction/backward-compatibility.md
  docs/sources/introduction/estimate-resource-usage.md
  docs/sources/set-up/deploy.md
  docs/sources/set-up/install/_index.md
  docs/sources/set-up/install/ansible.md
  docs/sources/set-up/install/binary.md
  docs/sources/set-up/install/chef.md
  docs/sources/set-up/install/docker.md
  docs/sources/set-up/install/kubernetes.md
  docs/sources/set-up/install/linux.md
  docs/sources/set-up/install/macos.md
  docs/sources/set-up/install/puppet.md
  docs/sources/set-up/install/windows.md
  docs/sources/set-up/migrate/from-flow.md
  docs/sources/set-up/migrate/from-operator.md
  docs/sources/set-up/migrate/from-otelcol.md
  docs/sources/set-up/migrate/from-prometheus.md
  docs/sources/set-up/migrate/from-promtail.md
  docs/sources/set-up/migrate/from-static.md
  docs/sources/set-up/run/binary.md
  docs/sources/set-up/run/linux.md
  docs/sources/set-up/run/macos.md
  docs/sources/set-up/run/windows.md
  docs/sources/troubleshoot/component_metrics.md
  docs/sources/troubleshoot/controller_metrics.md
  docs/sources/troubleshoot/debug.md
  docs/sources/troubleshoot/profile.md
  docs/sources/troubleshoot/support_bundle.md
  docs/sources/tutorials/_index.md
  docs/sources/tutorials/first-components-and-stdlib.md
  docs/sources/tutorials/logs-and-relabeling-basics.md
  docs/sources/tutorials/processing-logs.md
  docs/sources/tutorials/send-logs-to-loki.md
  docs/sources/tutorials/send-metrics-to-prometheus.md
Labels: type/docs

#1643 Update mysqld_exporter to v0.16.0
  CHANGELOG.md
  go.mod
  go.sum
  internal/runtime/logging/slgk_handler.go
  internal/runtime/logging/slgk_handler_test.go
  internal/static/integrations/mysqld_exporter/mysqld-exporter.go
Labels: needs-attention
