Repository grafana/alloy, pull requests merged in 2024-08, with the labels that each got.

#1359 remotecfg: wire calls to RegisterCollector
  CHANGELOG.md
  docs/sources/reference/config-blocks/remotecfg.md
  go.mod
  go.sum
  internal/service/remotecfg/noop.go
  internal/service/remotecfg/remotecfg.go
  internal/service/remotecfg/remotecfg_test.go
Labels: type/docs

#1402 Remove duplicated row in args table
  docs/sources/reference/components/loki/loki.source.azure_event_hubs.md
Labels: type/docs, backport release/v1.0, backport release/v1.1, backport release/v1.2

#1393 Update windows_exporter to v0.26.2
  CHANGELOG.md
  docs/sources/reference/components/prometheus/prometheus.exporter.windows.md
  go.mod
  go.sum
  internal/component/prometheus/exporter/windows/config.go
  internal/component/prometheus/exporter/windows/config_default_windows_test.go
  internal/component/prometheus/exporter/windows/config_windows.go
  internal/component/prometheus/exporter/windows/windows_test.go
  internal/converter/internal/staticconvert/internal/build/windows_exporter.go
  internal/static/integrations/windows_exporter/config.go
  internal/static/integrations/windows_exporter/config_windows.go
Labels: type/docs

#1403 Update path to filename
  docs/sources/reference/components/prometheus/prometheus.exporter.snmp.md
Labels: type/docs, backport release/v1.0, backport release/v1.1, backport release/v1.2, backport release/v1.3

#1435 Remove list that does not belong in the tracing block
  docs/sources/reference/config-blocks/tracing.md
Labels: type/docs, backport release/v1.0, backport-to-agent:no, backport release/v1.1, backport release/v1.2, backport release/v1.3

#1413 fix(Faro): Exception context got lost while transforming Faro exceptions.
  CHANGELOG.md
  internal/component/faro/receiver/sourcemaps.go
  internal/component/faro/receiver/sourcemaps_test.go
Labels: bug

#1445 Update azure event hub connection string data type to secret
  CHANGELOG.md
  docs/sources/reference/components/loki/loki.source.azure_event_hubs.md
  internal/component/loki/source/azure_event_hubs/azure_event_hubs.go
  internal/converter/internal/promtailconvert/internal/build/azure_event_hub.go
Labels: type/docs

#1381 Update data-collection.md
  docs/sources/data-collection.md
Labels: type/docs, backport release/v1.0, backport-to-agent:no, backport release/v1.1, backport release/v1.2, backport release/v1.3

#1454 [release/v1.2] Update data-collection.md
  docs/sources/data-collection.md
Labels: type/docs, backport

#1448 docs: nested double quotes should be escaped
  docs/sources/reference/components/loki/loki.process.md
Labels: type/docs, backport release/v1.0, backport release/v1.1, backport release/v1.2, backport release/v1.3

#1432 docs: Alloy Tutorial Sandbox
  docs/sources/tutorials/send-logs-to-loki.md
Labels: type/docs, backport release/v1.0, backport release/v1.1, backport release/v1.2, backport release/v1.3

#1474 Update encoding location
  docs/sources/reference/components/otelcol/otelcol.exporter.otlphttp.md
Labels: type/docs, backport release/v1.0, backport release/v1.1, backport release/v1.2, backport release/v1.3

#1308 Add a brief explanation how to collect different telemetry
  docs/sources/collect/choose-component.md
  docs/sources/reference/components/_index.md
Labels: type/docs, backport release/v1.0, backport release/v1.1, backport release/v1.2, backport release/v1.3

#1482 fix(docs): change pyroscope ports from 4100 to default pyroscope port 4040
  docs/sources/reference/components/pyroscope/pyroscope.ebpf.md
  docs/sources/reference/components/pyroscope/pyroscope.scrape.md
  docs/sources/reference/components/pyroscope/pyroscope.write.md
Labels: type/docs, backport release/v1.0, backport release/v1.1, backport release/v1.2, backport release/v1.3

#1481 Add new env vars
  docs/sources/reference/cli/environment-variables.md
Labels: type/docs, backport release/v1.0, backport release/v1.1, backport release/v1.2, backport release/v1.3

#891 fix: close procRoot dir
  internal/component/pyroscope/java/asprof/asprof.go
Labels: needs-attention

#1325 Add Ansible, Puppet, and Chef to Alloy install documentation
  docs/sources/set-up/install/ansible.md
  docs/sources/set-up/install/chef.md
  docs/sources/set-up/install/puppet.md
Labels: type/docs, backport release/v1.0, backport-to-agent:no, backport release/v1.1, backport release/v1.2

#1537 Update discovery.kubernetes selectors block description
  docs/sources/reference/components/discovery/discovery.kubernetes.md
Labels: type/docs, backport release/v1.0, backport release/v1.1, backport release/v1.2, backport release/v1.3

#1548 Add community shared topic
  docs/developer/adding-community-components.md
  docs/sources/shared/stability/community.md
Labels: type/docs, backport release/v1.0, backport release/v1.1, backport release/v1.2, backport release/v1.3

#739 feat(otelcol/exporter/datadog) Add Datadog exporter wrapper
  CHANGELOG.md
  docs/developer/writing-component-documentation.md
  docs/sources/reference/compatibility/_index.md
  docs/sources/reference/components/otelcol/otelcol.exporter.datadog.md
  go.mod
  go.sum
  internal/component/all/all.go
  internal/component/otelcol/exporter/datadog/config/config_datadog.go
  internal/component/otelcol/exporter/datadog/config/config_datadog_stub.go
  internal/component/otelcol/exporter/datadog/config/config_datadog_test.go
  internal/component/otelcol/exporter/datadog/datadog.go
  internal/component/otelcol/exporter/datadog/datadog_stub.go
  internal/component/otelcol/exporter/datadog/datadog_test.go
  internal/converter/internal/otelcolconvert/converter_datadogexporter.go
  internal/converter/internal/otelcolconvert/otelcolconvert_test.go
  internal/converter/internal/otelcolconvert/testdata/datadog.alloy
  internal/converter/internal/otelcolconvert/testdata/datadog.yaml
  internal/converter/internal/test_common/testing.go
Labels: type/docs, needs-attention

#1300 Add `otelcol.processor.groupbyattrs` component
  CHANGELOG.md
  docs/sources/reference/compatibility/_index.md
  docs/sources/reference/components/otelcol/otelcol.processor.groupbyattrs.md
  go.mod
  go.sum
  internal/component/all/all.go
  internal/component/otelcol/processor/groupbyattrs/groupbyattrs.go
  internal/component/otelcol/processor/groupbyattrs/groupbyattrs_test.go
  internal/converter/internal/otelcolconvert/converter_groupbyattrsprocessor.go
  internal/converter/internal/otelcolconvert/testdata/groupbyattrs.alloy
  internal/converter/internal/otelcolconvert/testdata/groupbyattrs.yaml
Labels: type/docs

#1484 feat: Add intervalprocessor component
  CHANGELOG.md
  docs/sources/reference/compatibility/_index.md
  docs/sources/reference/components/otelcol/otelcol.processor.interval.md
  go.mod
  go.sum
  internal/component/all/all.go
  internal/component/otelcol/processor/interval/interval.go
  internal/converter/internal/otelcolconvert/converter_intervalprocessor.go
  internal/converter/internal/otelcolconvert/testdata/interval.alloy
  internal/converter/internal/otelcolconvert/testdata/interval.yaml
  internal/converter/internal/otelcolconvert/testdata/otelcol_errors/corrupt_config.diags
Labels: type/docs

#1555 Add note about the community badge
  docs/developer/adding-community-components.md
Labels: type/docs, backport release/v1.3

#1565 fix: alloy docs link to discovery.relabel
  docs/sources/reference/components/discovery/discovery.kubernetes.md
Labels: type/docs, backport release/v1.0, backport release/v1.1, backport release/v1.2, backport release/v1.3

#1582 docs: incorrent url attribute in otelcol.exporter.otlp example (opentelemetry-data.md)
  docs/sources/collect/opentelemetry-data.md
Labels: type/docs, backport release/v1.0, backport release/v1.1, backport release/v1.2, backport release/v1.3

#1581 Add warning in modules doc
  docs/sources/get-started/modules.md
Labels: type/docs, backport release/v1.0, backport release/v1.1, backport release/v1.2, backport release/v1.3

#1245 Add PodDisruptionBudget to helm chart
  operations/helm/charts/alloy/CHANGELOG.md
  operations/helm/charts/alloy/Chart.yaml
  operations/helm/charts/alloy/README.md
  operations/helm/charts/alloy/ci/controller-deployment-pdb-max-unavailable-values.yaml
  operations/helm/charts/alloy/ci/controller-deployment-pdb-min-available-values.yaml
  operations/helm/charts/alloy/ci/controller-statefulset-pdb-max-unavailable-values.yaml
  operations/helm/charts/alloy/ci/controller-statefulset-pdb-min-available-values.yaml
  operations/helm/charts/alloy/templates/_helpers.tpl
  operations/helm/charts/alloy/templates/pdb.yaml
  operations/helm/charts/alloy/values.yaml
  operations/helm/tests/controller-deployment-pdb-max-unavailable/alloy/templates/configmap.yaml
  operations/helm/tests/controller-deployment-pdb-max-unavailable/alloy/templates/controllers/deployment.yaml
  operations/helm/tests/controller-deployment-pdb-max-unavailable/alloy/templates/pdb.yaml
  operations/helm/tests/controller-deployment-pdb-max-unavailable/alloy/templates/rbac.yaml
  operations/helm/tests/controller-deployment-pdb-max-unavailable/alloy/templates/service.yaml
  operations/helm/tests/controller-deployment-pdb-max-unavailable/alloy/templates/serviceaccount.yaml
  operations/helm/tests/controller-deployment-pdb-min-available/alloy/templates/configmap.yaml
  operations/helm/tests/controller-deployment-pdb-min-available/alloy/templates/controllers/deployment.yaml
  operations/helm/tests/controller-deployment-pdb-min-available/alloy/templates/pdb.yaml
  operations/helm/tests/controller-deployment-pdb-min-available/alloy/templates/rbac.yaml
  operations/helm/tests/controller-deployment-pdb-min-available/alloy/templates/service.yaml
  operations/helm/tests/controller-deployment-pdb-min-available/alloy/templates/serviceaccount.yaml
  operations/helm/tests/controller-statefulset-pdb-max-unavailable/alloy/templates/configmap.yaml
  operations/helm/tests/controller-statefulset-pdb-max-unavailable/alloy/templates/controllers/statefulset.yaml
  operations/helm/tests/controller-statefulset-pdb-max-unavailable/alloy/templates/pdb.yaml
  operations/helm/tests/controller-statefulset-pdb-max-unavailable/alloy/templates/rbac.yaml
  operations/helm/tests/controller-statefulset-pdb-max-unavailable/alloy/templates/service.yaml
  operations/helm/tests/controller-statefulset-pdb-max-unavailable/alloy/templates/serviceaccount.yaml
  operations/helm/tests/controller-statefulset-pdb-min-available/alloy/templates/configmap.yaml
  operations/helm/tests/controller-statefulset-pdb-min-available/alloy/templates/controllers/statefulset.yaml
  operations/helm/tests/controller-statefulset-pdb-min-available/alloy/templates/pdb.yaml
  operations/helm/tests/controller-statefulset-pdb-min-available/alloy/templates/rbac.yaml
  operations/helm/tests/controller-statefulset-pdb-min-available/alloy/templates/service.yaml
  operations/helm/tests/controller-statefulset-pdb-min-available/alloy/templates/serviceaccount.yaml
Labels: needs-attention
