Repository grafana/alloy, pull requests merged in 2024-06, with the labels that each got.

#797 Live debugging service with prometheus.relabel
  internal/alloy/componenttest/componenttest.go
  internal/alloycli/cmd_run.go
  internal/component/prometheus/relabel/relabel.go
  internal/component/prometheus/relabel/relabel_test.go
  internal/service/livedebugging/livedebugging.go
  internal/service/livedebugging/livedebugging_test.go
  internal/service/livedebugging/service.go
  internal/service/ui/ui.go
  internal/web/api/api.go
Labels: backport-to-agent:no

#917 Add a self pruning layer to gcp exporter delta stores
  CHANGELOG.md
  internal/static/integrations/gcp_exporter/gcp_exporter.go
  internal/static/integrations/gcp_exporter/self_pruning_store.go
  internal/static/integrations/gcp_exporter/self_pruning_store_test.go
Labels: backport-to-agent:no

#740 Add static labels support for the AWS Firehose Logs
  CHANGELOG.md
  docs/sources/reference/components/loki.source.awsfirehose.md
  internal/component/loki/source/aws_firehose/internal/handler.go
  internal/component/loki/source/aws_firehose/internal/handler_test.go
  internal/component/loki/source/aws_firehose/internal/metrics.go
Labels: type/docs, backport-to-agent:no

#953 feat(syntax/stdlib): add `base64_decode` helper function
  CHANGELOG.md
  docs/sources/reference/stdlib/base64_decode.md
  syntax/internal/stdlib/stdlib.go
  syntax/vm/vm_stdlib_test.go
Labels: type/docs

#1002 Fix bad link syntax in notes
  docs/sources/get-started/install/docker.md
Labels: type/docs, backport release/v1.0, backport-to-agent:no, backport release/v1.1

#730 AWS s3 exporter component
  CHANGELOG.md
  docs/sources/reference/compatibility/_index.md
  docs/sources/reference/components/otelcol.exporter.awss3.md
  go.mod
  go.sum
  internal/component/all/all.go
  internal/component/otelcol/exporter/awss3/awss3.go
  internal/component/otelcol/exporter/awss3/awss3_test.go
Labels: type/docs, backport-to-agent:no

#998 Update opentelemetry to 102.1 for security reasons.
  CHANGELOG.md
  docs/sources/reference/components/otelcol.extension.jaeger_remote_sampling.md
  docs/sources/reference/components/otelcol.processor.resourcedetection.md
  docs/sources/reference/components/otelcol.receiver.jaeger.md
  docs/sources/reference/components/otelcol.receiver.otlp.md
  docs/sources/reference/components/otelcol.receiver.zipkin.md
  go.mod
  go.sum
  internal/component/otelcol/processor/resourcedetection/internal/azure/config.go
  internal/component/otelcol/processor/resourcedetection/resourcedetection_test.go
  internal/component/otelcol/receiver/vcenter/vcenter.go
  internal/component/otelcol/receiver/vcenter/vcenter_test.go
  internal/converter/internal/otelcolconvert/converter_vcenterreceiver.go
  internal/converter/internal/otelcolconvert/testdata/vcenterreceiver.alloy
  internal/runtime/tracing/tracing.go
Labels: type/docs

#1019 Add a snmp_context argument to SNMP exporter
  CHANGELOG.md
  docs/sources/reference/components/prometheus.exporter.snmp.md
  internal/component/prometheus/exporter/snmp/snmp.go
  internal/component/prometheus/exporter/snmp/snmp_test.go
  internal/converter/internal/staticconvert/internal/build/snmp_exporter.go
  internal/converter/internal/staticconvert/testdata-v2/integrations_v2.alloy
  internal/converter/internal/staticconvert/testdata-v2/integrations_v2.yaml
  internal/converter/internal/staticconvert/testdata/integrations.alloy
  internal/converter/internal/staticconvert/testdata/integrations.yaml
  internal/static/integrations/snmp_exporter/snmp_exporter.go
  internal/static/integrations/v2/snmp_exporter/snmp.go
Labels: type/docs

#999 Live debugging
  CHANGELOG.md
  docs/sources/reference/config-blocks/livedebugging.md
  docs/sources/tasks/debug.md
  internal/alloycli/cmd_run.go
  internal/component/component.go
  internal/component/prometheus/relabel/relabel.go
  internal/component/prometheus/relabel/relabel_test.go
  internal/runtime/componenttest/componenttest.go
  internal/service/livedebugging/livedebugging.go
  internal/service/livedebugging/livedebugging_test.go
  internal/service/livedebugging/service.go
  internal/service/ui/ui.go
  internal/web/api/api.go
  internal/web/ui/package.json
  internal/web/ui/src/Router.tsx
  internal/web/ui/src/features/component/ComponentView.module.css
  internal/web/ui/src/features/component/ComponentView.tsx
  internal/web/ui/src/features/layout/Page.module.css
  internal/web/ui/src/features/layout/Page.tsx
  internal/web/ui/src/hooks/liveDebugging.tsx
  internal/web/ui/src/index.tsx
  internal/web/ui/src/pages/ComponentDetailPage.tsx
  internal/web/ui/src/pages/LiveDebugging.module.css
  internal/web/ui/src/pages/LiveDebugging.tsx
  internal/web/ui/yarn.lock
Labels: type/docs

#923 Getting started tutorial
  docs/sources/tutorials/get-started.md
Labels: type/docs, backport release/v1.0, backport-to-agent:no, backport release/v1.1

#909 Design document for Alloy proposal process (#908)
  docs/design/908-proposal-process.md
  docs/design/template.md
Labels: proposal

#928 Add extra K8s arguments to select processes to instrument for Beyla component
  CHANGELOG.md
  docs/sources/reference/components/beyla.ebpf.md
  go.mod
  go.sum
  internal/component/beyla/ebpf/args.go
  internal/component/beyla/ebpf/beyla_linux.go
  internal/component/beyla/ebpf/beyla_linux_test.go
Labels: type/docs

#981 Add task "Collect K8s logs" in the docs
  docs/sources/tasks/collect-logs-in-kubernetes.md
Labels: type/docs

#1044 otelcol.processor.deltatocumulative: new component
  CHANGELOG.md
  docs/sources/reference/compatibility/_index.md
  docs/sources/reference/components/otelcol.processor.deltatocumulative.md
  go.mod
  go.sum
  internal/component/all/all.go
  internal/component/otelcol/processor/deltatocumulative/deltatocumulative.go
  internal/converter/internal/otelcolconvert/converter.go
  internal/converter/internal/otelcolconvert/converter_deltatocumulativeprocessor.go
  internal/converter/internal/otelcolconvert/converter_helpers.go
  internal/converter/internal/otelcolconvert/testdata/deltatocumulative.alloy
  internal/converter/internal/otelcolconvert/testdata/deltatocumulative.yaml
  internal/converter/internal/otelcolconvert/testdata/inconsistent_processor.alloy
  internal/converter/internal/otelcolconvert/testdata/servicegraph.alloy
  internal/converter/internal/otelcolconvert/testdata/spanmetrics.alloy
  internal/converter/internal/otelcolconvert/testdata/spanmetrics_full.alloy
  internal/converter/internal/otelcolconvert/testdata/vcenterreceiver.alloy
  internal/converter/internal/staticconvert/testdata/traces.alloy
  internal/converter/internal/staticconvert/testdata/traces_multi.alloy
  internal/converter/internal/staticconvert/testdata/unsupported.alloy
Labels: type/docs

#1052 Fix shortcode syntax in debug topic
  docs/sources/tasks/debug.md
Labels: type/docs, backport release/v1.0, backport-to-agent:no, backport release/v1.1

#1060 Add documentation for OTLP Endpoint
  docs/sources/tasks/opentelemetry-to-lgtm-stack.md
Labels: type/docs, backport release/v1.0, backport-to-agent:no, backport release/v1.1

#1062 [Docs] Add reference link to shortcode body in getting-started tutorial
  docs/sources/tutorials/get-started.md
Labels: type/docs, backport release/v1.0, backport-to-agent:no, backport release/v1.1

#1027 Feat: Add Catchpoint Exporter
  CHANGELOG.md
  docs/sources/reference/compatibility/_index.md
  docs/sources/reference/components/prometheus.exporter.catchpoint.md
  go.mod
  go.sum
  internal/component/all/all.go
  internal/component/prometheus/exporter/catchpoint/catchpoint.go
  internal/component/prometheus/exporter/catchpoint/catchpoint_test.go
  internal/static/integrations/catchpoint_exporter/catchpoint_exporter.go
  internal/static/integrations/catchpoint_exporter/catchpoint_exporter_test.go
  internal/static/integrations/install/install.go
Labels: type/docs

#1085 [release/v1.0] Clean up Vale errors in task topics
  docs/sources/concepts/configuration-syntax/syntax.md
  docs/sources/reference/components/discovery.consul.md
  docs/sources/reference/components/loki.process.md
  docs/sources/reference/components/loki.source.api.md
  docs/sources/reference/components/loki.source.awsfirehose.md
  docs/sources/reference/components/loki.source.cloudflare.md
  docs/sources/reference/components/loki.write.md
  docs/sources/reference/components/otelcol.auth.oauth2.md
  docs/sources/reference/components/otelcol.exporter.otlphttp.md
  docs/sources/reference/components/otelcol.processor.discovery.md
  docs/sources/reference/components/otelcol.processor.transform.md
  docs/sources/reference/components/prometheus.exporter.azure.md
  docs/sources/reference/components/prometheus.exporter.blackbox.md
  docs/sources/reference/components/prometheus.exporter.cloudwatch.md
  docs/sources/reference/components/prometheus.exporter.gcp.md
  docs/sources/reference/components/prometheus.exporter.mssql.md
  docs/sources/reference/components/prometheus.exporter.postgres.md
  docs/sources/reference/components/prometheus.exporter.redis.md
  docs/sources/reference/components/prometheus.exporter.statsd.md
  docs/sources/reference/components/pyroscope.java.md
  docs/sources/tasks/configure/configure-windows.md
  docs/sources/tasks/migrate/from-flow.md
  docs/sources/tasks/migrate/from-operator.md
  docs/sources/tasks/migrate/from-static.md
Labels: type/docs, backport

#1084 [release/v1.1] Clean up Vale errors in task topics
  docs/sources/concepts/configuration-syntax/syntax.md
  docs/sources/reference/components/discovery.consul.md
  docs/sources/reference/components/loki.process.md
  docs/sources/reference/components/loki.source.api.md
  docs/sources/reference/components/loki.source.awsfirehose.md
  docs/sources/reference/components/loki.source.cloudflare.md
  docs/sources/reference/components/loki.write.md
  docs/sources/reference/components/otelcol.auth.oauth2.md
  docs/sources/reference/components/otelcol.exporter.otlphttp.md
  docs/sources/reference/components/otelcol.processor.discovery.md
  docs/sources/reference/components/otelcol.processor.transform.md
  docs/sources/reference/components/prometheus.exporter.azure.md
  docs/sources/reference/components/prometheus.exporter.blackbox.md
  docs/sources/reference/components/prometheus.exporter.cloudwatch.md
  docs/sources/reference/components/prometheus.exporter.gcp.md
  docs/sources/reference/components/prometheus.exporter.mssql.md
  docs/sources/reference/components/prometheus.exporter.postgres.md
  docs/sources/reference/components/prometheus.exporter.redis.md
  docs/sources/reference/components/prometheus.exporter.statsd.md
  docs/sources/reference/components/pyroscope.java.md
  docs/sources/tasks/configure/configure-windows.md
  docs/sources/tasks/migrate/from-flow.md
  docs/sources/tasks/migrate/from-operator.md
  docs/sources/tasks/migrate/from-static.md
Labels: type/docs, backport

#1087 Clean up word use, reduce passive voice, fix spelling and capitalisation use
  docs/sources/reference/components/loki.source.file.md
  docs/sources/reference/components/loki.source.windowsevent.md
  docs/sources/reference/components/otelcol.receiver.jaeger.md
  docs/sources/reference/components/prometheus.exporter.unix.md
  docs/sources/shared/reference/components/otelcol-compression-field.md
Labels: type/docs, backport release/v1.0, backport release/v1.1, backport release/v1.2

#1092 Fix issues with DataDog task doc
  docs/sources/tasks/configure-alloy-to-use-datadog-receiver.md
Labels: type/docs, backport release/v1.2

#890 Add Snowflake exporter RSA key-pair authentication
  CHANGELOG.md
  docs/sources/reference/components/prometheus.exporter.snowflake.md
  internal/component/prometheus/exporter/snowflake/snowflake.go
  internal/component/prometheus/exporter/snowflake/snowflake_test.go
  internal/static/integrations/snowflake_exporter/snowflake_exporter.go
Labels: type/docs

#1104 [release/v1.0] Clean up word use, reduce passive voice, fix spelling and capitalisation use #1094
  docs/sources/reference/components/loki.source.file.md
  docs/sources/reference/components/loki.source.windowsevent.md
  docs/sources/reference/components/otelcol.receiver.jaeger.md
  docs/sources/reference/components/prometheus.exporter.unix.md
  docs/sources/shared/reference/components/otelcol-compression-field.md
Labels: type/docs, backport

#1103 [release/v1.1] Clean up word use, reduce passive voice, fix spelling and capitalisation use #1094
  docs/sources/reference/components/loki.source.file.md
  docs/sources/reference/components/loki.source.windowsevent.md
  docs/sources/reference/components/otelcol.receiver.jaeger.md
  docs/sources/reference/components/prometheus.exporter.unix.md
  docs/sources/shared/reference/components/otelcol-compression-field.md
Labels: type/docs, backport

#1018 Docs: Add "Tuning max_shards" to Prometheus remote write doc
  docs/sources/reference/components/prometheus.remote_write.md
Labels: type/docs

#1091 [DOC] Update migrate static for tracing
  docs/sources/reference/components/otelcol.connector.servicegraph.md
  docs/sources/reference/components/otelcol.exporter.otlp.md
  docs/sources/tasks/migrate/from-static.md
  docs/sources/tasks/opentelemetry-to-lgtm-stack.md
Labels: type/docs, backport release/v1.0, backport-to-agent:no, backport release/v1.1

#1112 Updated Typo in MSSQL Block Docs
  docs/sources/reference/components/prometheus.exporter.windows.md
Labels: type/docs, backport release/v1.0, backport-to-agent, backport release/v1.1, backport release/v1.2

#1098 Docs/add filter logs section
  docs/sources/tutorials/get-started.md
Labels: type/docs, backport release/v1.0, backport release/v1.1, backport release/v1.2

#1138 General cleanup of the Get Started tutorial content
  docs/sources/tutorials/get-started.md
Labels: type/docs, backport release/v1.0, backport release/v1.1, backport release/v1.2

#1150 docs: warn in task page that live debugging must be enabled
  docs/sources/tasks/debug.md
Labels: type/docs, backport release/v1.2

#1141 Correct typo for data stream field
  docs/sources/reference/components/prometheus.exporter.elasticsearch.md
Labels: type/docs, backport release/v1.0, backport release/v1.1, backport release/v1.2

#1165 Add link to the run command documentation
  docs/sources/get-started/run/binary.md
Labels: type/docs, backport release/v1.0, backport-to-agent:no, backport release/v1.1, backport release/v1.2

#1152 Add more Prometheus compatible endpoint information to the Collect Prometheus metrics task
  docs/sources/tasks/collect-prometheus-metrics.md
Labels: type/docs, backport release/v1.0, backport-to-agent, backport release/v1.1, backport release/v1.2
