Repository grafana/alloy, pull requests merged in 2024-10, with the labels that each got.

#1787 Fix broken link otelcol.exporter.loki.md
  docs/sources/reference/components/otelcol/otelcol.exporter.loki.md
Labels: backport release/v1.0, backport release/v1.1, backport release/v1.2, backport release/v1.3, backport release/v1.4

#1779 docs: update pyroscope.java JVM configuration
  docs/sources/reference/components/pyroscope/pyroscope.java.md
Labels: type/docs, backport release/v1.0, backport release/v1.1, backport release/v1.2, backport release/v1.3, backport release/v1.4

#1724 Support for TLS client settings for clustering
  CHANGELOG.md
  docs/sources/reference/cli/run.md
  go.mod
  go.sum
  internal/alloycli/cluster_builder.go
  internal/alloycli/cmd_run.go
  internal/service/cluster/cluster.go
Labels: type/docs

#1716 Fix logs cluster
  CHANGELOG.md
  docs/sources/reference/components/loki/loki.source.kubernetes.md
  internal/component/discovery/discovery.go
  internal/component/discovery/distributed_targets.go
  internal/component/loki/source/kubernetes/kubernetes.go
  internal/component/loki/source/kubernetes/kubernetes_test.go
  internal/component/loki/source/kubernetes/kubetail/target.go
Labels: type/docs

#1788 docs: add Linux capabilities config for pyroscope.java
  docs/sources/reference/components/pyroscope/pyroscope.java.md
Labels: type/docs, backport release/v1.0, backport release/v1.1, backport release/v1.2, backport release/v1.3, backport release/v1.4

#1822 Update docs to move decision_cache from block to attribute
  docs/sources/reference/components/otelcol/otelcol.processor.tail_sampling.md
Labels: type/docs, backport release/v1.3, backport release/v1.4

#1865 [prometheus.exporter.windows] Add missing physical_disk block
  docs/sources/reference/components/prometheus/prometheus.exporter.windows.md
Labels: type/docs, backport release/v1.0, backport release/v1.1, backport release/v1.2, backport release/v1.3, backport release/v1.4

#1877 fix: Disable generic API key rule by default in loki.secretfilter
  docs/sources/reference/components/loki/loki.secretfilter.md
  internal/component/loki/secretfilter/secretfilter.go
  internal/component/loki/secretfilter/secretfilter_test.go
Labels: type/docs

#1893 Fix dead link for PodLogs RelabelConfig
  CHANGELOG.md
  docs/sources/reference/components/loki/loki.source.podlogs.md
Labels: type/docs, backport release/v1.0, backport release/v1.1, backport release/v1.2, backport release/v1.3, backport release/v1.4

#1898 Fix dead link for PodLogs RelabelConfig (#1893)
  docs/sources/reference/components/loki/loki.source.podlogs.md
Labels: type/docs, backport

#1899 Fix dead link for PodLogs RelabelConfig (#1893)
  docs/sources/reference/components/loki/loki.source.podlogs.md
Labels: type/docs, backport

#1902 Fix dead link for PodLogs RelabelConfig (#1893)
  docs/sources/reference/components/loki/loki.source.podlogs.md
Labels: type/docs, backport

#1901 Fix dead link for PodLogs RelabelConfig (#1893)
  docs/sources/reference/components/loki/loki.source.podlogs.md
Labels: type/docs, backport

#1900 Fix dead link for PodLogs RelabelConfig (#1893)
  docs/sources/reference/components/loki/loki.source.podlogs.md
Labels: type/docs, backport

#1726 Modules support relative path 2
  CHANGELOG.md
  docs/sources/reference/config-blocks/import.file.md
  docs/sources/reference/config-blocks/import.git.md
  docs/sources/reference/config-blocks/import.http.md
  internal/alloycli/cmd_run.go
  internal/converter/internal/test_common/testing.go
  internal/runtime/alloy.go
  internal/runtime/alloy_services.go
  internal/runtime/alloy_services_test.go
  internal/runtime/alloy_test.go
  internal/runtime/alloy_updates_test.go
  internal/runtime/declare_test.go
  internal/runtime/import_git_test.go
  internal/runtime/import_test.go
  internal/runtime/internal/controller/component_references.go
  internal/runtime/internal/controller/custom_component_registry.go
  internal/runtime/internal/controller/loader.go
  internal/runtime/internal/controller/node_config_import.go
  internal/runtime/internal/controller/value_cache.go
  internal/runtime/internal/importsource/import_file.go
  internal/runtime/internal/importsource/import_git.go
  internal/runtime/internal/importsource/import_http.go
  internal/runtime/internal/importsource/import_source.go
  internal/runtime/internal/importsource/import_string.go
  internal/runtime/module.go
  internal/runtime/module_eval_test.go
  internal/runtime/module_fail_test.go
  internal/runtime/module_test.go
  internal/runtime/source_test.go
  internal/runtime/testdata/import_file/import_file_18.txtar
  internal/runtime/testdata/import_file/import_file_19.txtar
  internal/runtime/testdata/import_file/import_file_20.txtar
  internal/runtime/testdata/import_file_folder/import_file_folder_7.txtar
  internal/runtime/testdata/import_git/import_git_4.txtar
  internal/runtime/testdata/import_git/import_git_5.txtar
  internal/runtime/testdata/repo.git.tar
  internal/service/remotecfg/remotecfg.go
  internal/service/remotecfg/remotecfg_test.go
  internal/service/service.go
  internal/util/filepath.go
  syntax/alloytypes/secret_test.go
  syntax/vm/op_binary_test.go
  syntax/vm/vm.go
  syntax/vm/vm_benchmarks_test.go
  syntax/vm/vm_errors_test.go
  syntax/vm/vm_stdlib_test.go
  syntax/vm/vm_test.go
Labels: type/docs

#1878 [prometheus.exporter.windows] Fix default values
  CHANGELOG.md
  docs/sources/_index.md
  docs/sources/_index.md.t
  docs/sources/reference/components/prometheus/prometheus.exporter.windows.md
  go.mod
  go.sum
  internal/component/prometheus/exporter/windows/config.go
  internal/component/prometheus/exporter/windows/config_default_windows_test.go
  internal/component/prometheus/exporter/windows/windows_test.go
Labels: type/docs

#1685 Add `recently_active_only` to `prometheus.exporter.cloudwatch` `discovery` block
  CHANGELOG.md
  docs/sources/reference/components/prometheus/prometheus.exporter.cloudwatch.md
  internal/component/prometheus/exporter/cloudwatch/config.go
  internal/component/prometheus/exporter/cloudwatch/config_test.go
Labels: type/docs

#1914 feat: add prometheus.write.queue bearer token auth
  CHANGELOG.md
  docs/sources/reference/components/prometheus/prometheus.write.queue.md
  internal/component/prometheus/write/queue/network/loop.go
  internal/component/prometheus/write/queue/types.go
  internal/component/prometheus/write/queue/types/network.go
Labels: type/docs

#1937 docs: Fix broken link in writing exporter components
  docs/developer/writing-exporter-components.md
Labels: type/docs

#1889 [prometheus.remote_write] Add troubleshooting steps for ooo errors
  docs/sources/reference/components/prometheus/prometheus.remote_write.md
Labels: type/docs, backport release/v1.0, backport release/v1.1, backport release/v1.2, backport release/v1.3, backport release/v1.4

#1925 Update `loki.secretfilter` docs
  docs/sources/reference/components/loki/loki.secretfilter.md
Labels: type/docs

#1928 import.file is GA
  docs/sources/reference/config-blocks/import.file.md
Labels: type/docs, backport release/v1.0, backport release/v1.1, backport release/v1.2, backport release/v1.3, backport release/v1.4

#1880 Static Agent should be stopped before the Alloy agent can be started
  docs/sources/set-up/migrate/from-static.md
Labels: type/docs, backport release/v1.0, backport release/v1.1, backport release/v1.2, backport release/v1.3, backport release/v1.4

#1948 Fix indentation causing rendering issues
  docs/sources/tutorials/send-metrics-to-prometheus.md
Labels: type/docs, backport release/v1.0, backport release/v1.1, backport release/v1.2, backport release/v1.3, backport release/v1.4

#1972 Add note about collecting from Kubernetes Pods
  docs/sources/reference/components/loki/loki.source.kubernetes.md
Labels: type/docs, backport release/v1.0, backport release/v1.1, backport release/v1.2, backport release/v1.3, backport release/v1.4

#1986 [release/v1.1] Add note about collecting from Kubernetes Pods
  docs/sources/reference/components/loki/loki.source.kubernetes.md
Labels: type/docs, backport

#1985 [release/v1.2] Add note about collecting from Kubernetes Pods
  docs/sources/reference/components/loki/loki.source.kubernetes.md
Labels: type/docs, backport

#1987 [release/v1.0] Add note about collecting from Kubernetes Pods
  docs/sources/reference/components/loki/loki.source.kubernetes.md
Labels: type/docs, backport

#1984 [release/v1.3] Add note about collecting from Kubernetes Pods
  docs/sources/reference/components/loki/loki.source.kubernetes.md
Labels: type/docs, backport

#1989 Docs: Update loki.secretfilter.md
  docs/sources/reference/components/loki/loki.secretfilter.md
Labels: type/docs

#1188 update automatically settting gomemlimit
  docs/sources/reference/cli/environment-variables.md
  docs/sources/reference/cli/run.md
  internal/alloycli/cmd_run.go
  internal/component/otelcol/exporter/datadog/config/config_datadog_test.go
  internal/component/otelcol/exporter/datadog/datadog_test.go
  internal/component/prometheus/exporter/oracledb/oracledb.go
  internal/component/prometheus/exporter/oracledb/oracledb_test.go
  internal/static/integrations/oracledb_exporter/oracledb_exporter.go
Labels: needs-attention

#1911 [Datadog collection] Update instructions for trace forwarding
  docs/sources/collect/datadog-traces-metrics.md
Labels: type/docs, backport release/v1.2, backport release/v1.3, backport release/v1.4
