Repository grafana/alloy, pull requests merged in 2024-07, with the labels that each got.

#1137 Add an environment variable topic
  docs/sources/reference/cli/_index.md
  docs/sources/reference/cli/environment-variables.md
Labels: type/docs, backport release/v1.0, backport release/v1.1, backport release/v1.2

#997 Add dynamic targets support to prometheus.exporter.blackbox
  CHANGELOG.md
  docs/sources/reference/components/prometheus.exporter.blackbox.md
  internal/cmd/integration-tests/tests/blackbox/blackbox_metrics_test.go
  internal/cmd/integration-tests/tests/blackbox/config.alloy
  internal/component/prometheus/exporter/blackbox/blackbox.go
  internal/component/prometheus/exporter/blackbox/blackbox_test.go
  internal/converter/internal/staticconvert/internal/build/blackbox_exporter.go
  internal/converter/internal/staticconvert/testdata-v2/integrations_v2.alloy
  internal/converter/internal/staticconvert/testdata/integrations.alloy
Labels: type/docs

#1189 Minor tidy on the new nonroot topic
  docs/sources/tasks/nonroot.md
Labels: type/docs, backport release/v1.0, backport-to-agent:no, backport release/v1.1, backport release/v1.2

#1198 Update prometheus.exporter.unix - OS specific defaults for filesystem block
  docs/sources/reference/components/prometheus.exporter.unix.md
Labels: type/docs, backport release/v1.0, backport-to-agent:no, backport release/v1.1, backport release/v1.2

#1126 Docs - metrics tutorial
  docs/sources/tutorials/send-metrics-to-prometheus.md
Labels: type/docs, backport release/v1.0, backport-to-agent:no, backport release/v1.1, backport release/v1.2

#1216 Fix bad links in Alloy set up docs
  docs/sources/set-up/install/ansible.md
  docs/sources/set-up/install/chef.md
  docs/sources/set-up/install/kubernetes.md
  docs/sources/set-up/install/linux.md
  docs/sources/set-up/install/macos.md
  docs/sources/set-up/install/puppet.md
  docs/sources/set-up/install/windows.md
  docs/sources/set-up/run/linux.md
  docs/sources/set-up/run/macos.md
  docs/sources/set-up/run/windows.md
Labels: type/docs, backport release/v1.0, backport-to-agent:no, backport release/v1.1, backport release/v1.2

#1229 Clean up some missing markdown in Alloy docs
  docs/sources/_index.md
  docs/sources/_index.md.t
  docs/sources/collect/metamonitoring.md
  docs/sources/tutorials/send-metrics-to-prometheus.md
Labels: type/docs, backport release/v1.0, backport-to-agent:no, backport release/v1.1, backport release/v1.2

#1227 Mention `otelcol.processor.deltatocumulative` in the `otelcol.exporter.prometheus` docs
  docs/sources/reference/components/otelcol.exporter.prometheus.md
Labels: type/docs, backport release/v1.2

#1235 Fix some bad xref links
  docs/sources/collect/opentelemetry-to-lgtm-stack.md
  docs/sources/configure/clustering/distribute-prometheus-scrape-load.md
  docs/sources/configure/nonroot.md
Labels: type/docs, backport release/v1.0, backport-to-agent:no, backport release/v1.1, backport release/v1.2

#1042 Add live debugging support to all otel processors
  CHANGELOG.md
  docs/sources/troubleshoot/debug.md
  internal/component/component.go
  internal/component/otelcol/internal/livedebuggingconsumer/databuffer.go
  internal/component/otelcol/internal/livedebuggingconsumer/livedebuggingconsumer.go
  internal/component/otelcol/internal/livedebuggingconsumer/logs.go
  internal/component/otelcol/internal/livedebuggingconsumer/metrics.go
  internal/component/otelcol/internal/livedebuggingconsumer/traces.go
  internal/component/otelcol/processor/discovery/discovery.go
  internal/component/otelcol/processor/processor.go
  internal/component/prometheus/relabel/relabel.go
  internal/service/livedebugging/livedebugging.go
  internal/service/livedebugging/livedebugging_test.go
Labels: type/docs

#1260 Add live debugging support to all otelcol receivers
  CHANGELOG.md
  docs/sources/troubleshoot/debug.md
  internal/component/otelcol/receiver/loki/loki.go
  internal/component/otelcol/receiver/prometheus/prometheus.go
  internal/component/otelcol/receiver/receiver.go
Labels: type/docs

#1001 Community components
  .github/ISSUE_TEMPLATE/community_component_proposal.yaml
  CHANGELOG.md
  docs/developer/adding-community-components.md
  docs/sources/get-started/community_components.md
  docs/sources/introduction/backward-compatibility.md
  docs/sources/reference/cli/run.md
  internal/alloycli/cmd_run.go
  internal/component/registry.go
  internal/runtime/alloy.go
  internal/runtime/alloy_services_test.go
  internal/runtime/declare_test.go
  internal/runtime/internal/controller/component_registry.go
  internal/runtime/internal/controller/loader.go
  internal/runtime/internal/controller/loader_test.go
  internal/runtime/internal/controller/node_builtin_component.go
  internal/runtime/internal/testcomponents/community.go
  internal/runtime/module.go
  internal/runtime/module_eval_test.go
  internal/runtime/testdata/import_error/import_error_5.txtar
  internal/runtime/testdata/import_error/import_error_6.txtar
Labels: type/docs

#1289 Fix missing comma in k8s logs doc
  docs/sources/collect/logs-in-kubernetes.md
Labels: type/docs, backport-to-agent:no, backport release/v1.2

#1293 Correct SELF_LABEL example syntax in Metamonitoring topic
  docs/sources/collect/metamonitoring.md
Labels: type/docs, backport release/v1.0, backport-to-agent:no, backport release/v1.1, backport release/v1.2

#1281 Update cross reference links to the updated/new targets
  docs/sources/collect/datadog-traces-metrics.md
  docs/sources/collect/logs-in-kubernetes.md
  docs/sources/collect/metamonitoring.md
  docs/sources/collect/opentelemetry-data.md
  docs/sources/collect/opentelemetry-to-lgtm-stack.md
  docs/sources/collect/prometheus-metrics.md
  docs/sources/configure/nonroot.md
  docs/sources/get-started/clustering.md
  docs/sources/get-started/component_controller.md
  docs/sources/get-started/configuration-syntax/syntax.md
  docs/sources/reference/cli/convert.md
  docs/sources/reference/cli/run.md
  docs/sources/reference/config-blocks/argument.md
  docs/sources/reference/config-blocks/declare.md
  docs/sources/reference/config-blocks/export.md
  docs/sources/reference/config-blocks/livedebugging.md
  docs/sources/reference/stdlib/json_decode.md
  docs/sources/reference/stdlib/json_path.md
  docs/sources/reference/stdlib/nonsensitive.md
  docs/sources/reference/stdlib/yaml_decode.md
  docs/sources/set-up/migrate/from-flow.md
  docs/sources/set-up/migrate/from-operator.md
  docs/sources/set-up/migrate/from-otelcol.md
  docs/sources/set-up/migrate/from-prometheus.md
  docs/sources/set-up/migrate/from-promtail.md
  docs/sources/set-up/migrate/from-static.md
Labels: type/docs, backport release/v1.0, backport-to-agent:no, backport release/v1.1, backport release/v1.2

#1299 [release/v1.0] Update cross reference links to the updated/new targets
  docs/sources/collect/metamonitoring.md
  docs/sources/collect/opentelemetry-data.md
  docs/sources/collect/opentelemetry-to-lgtm-stack.md
  docs/sources/collect/prometheus-metrics.md
  docs/sources/configure/nonroot.md
  docs/sources/get-started/clustering.md
  docs/sources/get-started/component_controller.md
  docs/sources/get-started/configuration-syntax/syntax.md
  docs/sources/reference/cli/convert.md
  docs/sources/reference/cli/run.md
  docs/sources/reference/config-blocks/argument.md
  docs/sources/reference/config-blocks/declare.md
  docs/sources/reference/config-blocks/export.md
  docs/sources/reference/stdlib/json_decode.md
  docs/sources/reference/stdlib/json_path.md
  docs/sources/reference/stdlib/nonsensitive.md
  docs/sources/set-up/migrate/from-flow.md
  docs/sources/set-up/migrate/from-operator.md
  docs/sources/set-up/migrate/from-otelcol.md
  docs/sources/set-up/migrate/from-prometheus.md
  docs/sources/set-up/migrate/from-promtail.md
  docs/sources/set-up/migrate/from-static.md
Labels: type/docs, backport

#1298 [release/v1.1] Update cross reference links to the updated/new targets
  docs/sources/collect/metamonitoring.md
  docs/sources/collect/opentelemetry-data.md
  docs/sources/collect/opentelemetry-to-lgtm-stack.md
  docs/sources/collect/prometheus-metrics.md
  docs/sources/configure/nonroot.md
  docs/sources/get-started/clustering.md
  docs/sources/get-started/component_controller.md
  docs/sources/get-started/configuration-syntax/syntax.md
  docs/sources/reference/cli/convert.md
  docs/sources/reference/cli/run.md
  docs/sources/reference/config-blocks/argument.md
  docs/sources/reference/config-blocks/declare.md
  docs/sources/reference/config-blocks/export.md
  docs/sources/reference/stdlib/json_decode.md
  docs/sources/reference/stdlib/json_path.md
  docs/sources/reference/stdlib/nonsensitive.md
  docs/sources/set-up/migrate/from-flow.md
  docs/sources/set-up/migrate/from-operator.md
  docs/sources/set-up/migrate/from-otelcol.md
  docs/sources/set-up/migrate/from-prometheus.md
  docs/sources/set-up/migrate/from-promtail.md
  docs/sources/set-up/migrate/from-static.md
Labels: type/docs, backport

#1161 proposal: standardizing the Alloy stdlib
  docs/design/1161-standardize-stdlib.md
Labels: proposal

#1258 Allow setting the CPU profiling event for Java Async Profiler in the `pyroscope.java` component
  CHANGELOG.md
  docs/sources/reference/components/pyroscope/pyroscope.java.md
  internal/component/pyroscope/java/args.go
  internal/component/pyroscope/java/loop.go
Labels: type/docs

#1312 Fix some issues in Beyla component docs
  docs/sources/reference/components/beyla/beyla.ebpf.md
Labels: type/docs, backport release/v1.2

#1314 docs: Fix spelling of apparmor
  docs/sources/reference/components/beyla/beyla.ebpf.md
Labels: type/docs, backport release/v1.0, backport-to-agent:no, backport release/v1.1, backport release/v1.2

#1257 Update Alloy tutorials
  docs/sources/tutorials/_index.md
  docs/sources/tutorials/first-components-and-stdlib.md
  docs/sources/tutorials/logs-and-relabeling-basics.md
  docs/sources/tutorials/processing-logs.md
  docs/sources/tutorials/send-logs-to-loki.md
  docs/sources/tutorials/send-metrics-to-prometheus.md
Labels: type/docs, backport release/v1.0, backport-to-agent:no, backport release/v1.1, backport release/v1.2

#1328 Move shared content into the only topic that uses it
  docs/sources/set-up/deploy.md
  docs/sources/shared/deploy-alloy.md
Labels: type/docs, backport release/v1.0, backport-to-agent:no, backport release/v1.1, backport release/v1.2

#1313 docs: Make supported language explicit
  docs/sources/reference/components/pyroscope/pyroscope.ebpf.md
Labels: type/docs, backport release/v1.2

#1326 mimir.rules.kubernetes: Add additional labels to rules
  CHANGELOG.md
  docs/sources/reference/components/mimir/mimir.rules.kubernetes.md
  internal/component/mimir/rules/kubernetes/events.go
  internal/component/mimir/rules/kubernetes/events_test.go
  internal/component/mimir/rules/kubernetes/rules.go
  internal/component/mimir/rules/kubernetes/rules_test.go
  internal/component/mimir/rules/kubernetes/types.go
Labels: type/docs

#1334 Add missing alt text
  docs/sources/reference/components/prometheus/prometheus.exporter.cloudwatch.md
Labels: type/docs, backport-to-agent:no, backport release/v1.2

#1342 Fix reference to Amazon Cloudwatch
  docs/sources/reference/components/prometheus/prometheus.exporter.cloudwatch.md
Labels: type/docs, backport release/v1.0, backport-to-agent:no, backport release/v1.1, backport release/v1.2

#1346 [release/v1.1] Fix reference to Amazon Cloudwatch
  docs/sources/reference/components/prometheus/prometheus.exporter.cloudwatch.md
Labels: type/docs, backport

#1345 [release/v1.0] Fix reference to Amazon Cloudwatch
  docs/sources/reference/components/prometheus/prometheus.exporter.cloudwatch.md
Labels: type/docs, backport

#1347 Add log file information and combine duplicate info
  docs/sources/set-up/run/binary.md
Labels: type/docs, backport release/v1.0, backport-to-agent:no, backport release/v1.1, backport release/v1.2

#1304 Add live debugging support to loki.relabel
  CHANGELOG.md
  docs/sources/troubleshoot/debug.md
  internal/component/loki/relabel/relabel.go
  internal/component/loki/relabel/relabel_test.go
Labels: type/docs

#1354 Minor cleanup on Alloy docs
  docs/sources/configure/kubernetes.md
  docs/sources/configure/linux.md
  docs/sources/configure/macos.md
  docs/sources/configure/windows.md
  docs/sources/introduction/supported-platforms.md
  docs/sources/set-up/install/_index.md
  docs/sources/set-up/install/macos.md
  docs/sources/set-up/run/linux.md
  docs/sources/set-up/run/macos.md
Labels: type/docs, backport release/v1.0, backport-to-agent:no, backport release/v1.1, backport release/v1.2

#1357 Fix link to Probe CRD
  docs/sources/reference/components/prometheus/prometheus.operator.probes.md
Labels: type/docs, backport release/v1.0, backport-to-agent:no, backport release/v1.1, backport release/v1.2

#1356 Upgrade `beyla.ebpf` component to Beyla 1.7
  CHANGELOG.md
  docs/sources/reference/components/beyla/beyla.ebpf.md
  go.mod
  go.sum
  internal/component/beyla/ebpf/args.go
  internal/component/beyla/ebpf/beyla_linux.go
  internal/component/beyla/ebpf/beyla_linux_test.go
Labels: type/docs

#1391 Update loki.source.docker.md
  docs/sources/reference/components/loki/loki.source.docker.md
Labels: type/docs, backport release/v1.0, backport-to-agent:no, backport release/v1.1, backport release/v1.2
