Repository grafana/alloy, pull requests merged in 2024-09, with the labels that each got.

#1527 Upgrade windows_exporter to 0.27.2
  CHANGELOG.md
  docs/sources/reference/components/prometheus/prometheus.exporter.windows.md
  go.mod
  go.sum
  internal/component/prometheus/exporter/windows/config_windows.go
  internal/static/integrations/windows_exporter/config.go
  internal/static/integrations/windows_exporter/config_windows.go
  internal/static/integrations/windows_exporter/windows_exporter_windows.go
Labels: type/docs

#839 Update cloudwatch exporter dependency
  .github/workflows/test.yml
  CHANGELOG.md
  docs/sources/reference/components/prometheus/prometheus.exporter.cloudwatch.md
  go.mod
  go.sum
  internal/component/prometheus/exporter/cloudwatch/cloudwatch.go
  internal/component/prometheus/exporter/cloudwatch/config.go
  internal/component/prometheus/exporter/cloudwatch/config_test.go
  internal/converter/internal/staticconvert/internal/build/cloudwatch_exporter.go
  internal/converter/internal/staticconvert/testdata-v2/integrations_v2.alloy
  internal/converter/internal/staticconvert/testdata-v2/integrations_v2.yaml
  internal/converter/internal/staticconvert/testdata/integrations.alloy
  internal/converter/internal/staticconvert/testdata/integrations.yaml
  internal/static/integrations/cloudwatch_exporter/cloudwatch_exporter.go
  internal/static/integrations/cloudwatch_exporter/cloudwatch_exporter_decoupled.go
  internal/static/integrations/cloudwatch_exporter/config.go
  internal/static/integrations/cloudwatch_exporter/config_test.go
  internal/static/integrations/cloudwatch_exporter/docs/doc.go
  internal/static/integrations/cloudwatch_exporter/docs/template.md
Labels: dependencies, type/docs, backport release/v1.0, outdated-dependency, backport-to-agent:no, backport release/v1.1, backport release/v1.2, backport release/v1.3

#1604 Fix some typos in loki.process component
  docs/sources/reference/components/loki/loki.process.md
Labels: type/docs, backport release/v1.0, backport release/v1.1, backport release/v1.2, backport release/v1.3

#1619 docs: Sandboxed Metrics tutorial
  docs/sources/tutorials/send-metrics-to-prometheus.md
Labels: type/docs, backport release/v1.0, backport release/v1.1, backport release/v1.2, backport release/v1.3

#1605 Remote vault patch 1
  CHANGELOG.md
  docs/sources/reference/components/remote/remote.vault.md
  internal/component/remote/vault/client.go
  internal/component/remote/vault/vault.go
  internal/component/remote/vault/vault_test.go
Labels: type/docs

#1632 Add a test flag for alloy fmt
  CHANGELOG.md
  docs/sources/reference/cli/fmt.md
  internal/alloycli/cmd_fmt.go
Labels: type/docs

#1636 Add a note about group membership
  docs/sources/reference/components/loki/loki.source.journal.md
Labels: type/docs, backport release/v1.0, backport release/v1.1, backport release/v1.2, backport release/v1.3

#1639 Fix typo in docs components.md
  docs/sources/get-started/components.md
Labels: type/docs, backport release/v1.0, backport release/v1.1, backport release/v1.2, backport release/v1.3

#1689 docs: explicitly mention deviations from semver
  docs/sources/introduction/backward-compatibility.md
Labels: type/docs, backport release/v1.0, backport release/v1.1, backport release/v1.2, backport release/v1.3

#1733 Add info about end of line character in loki.source.file
  docs/sources/reference/components/loki/loki.source.file.md
Labels: type/docs, backport release/v1.0, backport release/v1.1, backport release/v1.2, backport release/v1.3

#1734 Fix typos in shortcodes
  docs/sources/configure/kubernetes.md
  docs/sources/set-up/deploy.md
Labels: type/docs, backport release/v1.0, backport release/v1.1, backport release/v1.2, backport release/v1.3

#1753 Add v1.4 breaking changes to release notes
  docs/sources/release-notes.md
Labels: backport release/v1.4
