Repository grafana/alloy, pull requests merged in 2024-05, with the labels that each got.

#725 Reintroduce boringcrypto images
  .drone/drone.yml
  .drone/pipelines/publish.jsonnet
  CHANGELOG.md
  Dockerfile.windows
  docs/sources/get-started/install/docker.md
  docs/sources/reference/config-blocks/http.md
  tools/ci/docker-containers
  tools/ci/docker-containers-windows
Labels: type/docs

#729 Remove shortcode from metadata
  docs/sources/concepts/configuration-syntax/expressions/types_and_values.md
  docs/sources/concepts/configuration-syntax/files.md
  docs/sources/concepts/configuration-syntax/syntax.md
  docs/sources/tutorials/first-components-and-stdlib/index.md
Labels: type/docs, backport release/v1.0

#715 Updated local.file to change `path` to `filename` as per documentation
  docs/sources/tutorials/first-components-and-stdlib/index.md
Labels: type/docs, backport release/v1.0, backport-to-agent

#741 Fix syntax error in first code block and execute TS in command
  docs/sources/tutorials/processing-logs/index.md
Labels: type/docs, backport release/v1.0, backport-to-agent

#750 update CHANGELOG for 1.1.0-rc.0
  CHANGELOG.md
Labels: backport release/v1.1

#755 Update converters with 0.99 upgrade
  internal/converter/internal/otelcolconvert/converter_loadbalancingexporter.go
  internal/converter/internal/otelcolconvert/converter_servicegraphconnector.go
  internal/converter/internal/otelcolconvert/converter_spanmetricsconnector.go
  internal/converter/internal/otelcolconvert/testdata/servicegraph.alloy
  internal/converter/internal/otelcolconvert/testdata/servicegraph.yaml
Labels: backport release/v1.1

#754 Add AWS CloudMap resolver to OTel LB exporter
  CHANGELOG.md
  docs/sources/reference/components/otelcol.exporter.loadbalancing.md
  internal/component/otelcol/exporter/loadbalancing/loadbalancing.go
  internal/component/otelcol/exporter/loadbalancing/loadbalancing_test.go
  internal/converter/internal/otelcolconvert/converter_loadbalancingexporter.go
Labels: type/docs

#753 Dockerfile.windows: fix issue where Alloy build was not produced
  Dockerfile.windows
Labels: backport release/v1.1

#759 [Docs] discovery.ec2 add missing basic-auth block reference
  docs/sources/reference/components/discovery.ec2.md
Labels: type/docs, backport release/v1.0, backport-to-agent, backport release/v1.1

#769 [Controller]: check node refs before stdlib refs when nodes are wired together
  CHANGELOG.md
  internal/alloy/declare_test.go
  internal/alloy/internal/controller/component_references.go
Labels: backport-to-agent, backport release/v1.1

#772 CHANGELOG: remove date tracking from changelog
  CHANGELOG.md
  docs/developer/release/3-update-version-in-code.md
  docs/developer/release/README.md
Labels: backport release/v1.1

#697 ci: add automated fuzz tests
  .github/workflows/fuzz-go-pr.yml
  .github/workflows/fuzz-go-scheduled.yml
  .github/workflows/fuzz-go.yml
Labels: backport-to-agent:no

#791 Set OTel metrics telemetry level to "detailed".
  docs/sources/reference/components/otelcol.processor.batch.md
  internal/component/otelcol/auth/auth.go
  internal/component/otelcol/connector/connector.go
  internal/component/otelcol/exporter/exporter.go
  internal/component/otelcol/extension/extension.go
  internal/component/otelcol/processor/processor.go
  internal/component/otelcol/receiver/prometheus/prometheus.go
  internal/component/otelcol/receiver/receiver.go
Labels: backport-to-agent, backport release/v1.1

#774 Dockerfile: make it clear that non-root support is experimental
  Dockerfile
Labels: backport-to-agent:no, backport release/v1.1

#788 Upgrade Go to 1.22.3
  .drone/drone.yml
  .drone/pipelines/build_images.jsonnet
  .github/workflows/check-linux-build-image.yml
  Dockerfile.windows
  docs/Makefile
  go.mod
  internal/cmd/integration-tests/configs/kafka/Dockerfile
  internal/cmd/integration-tests/configs/otel-metrics-gen/Dockerfile
  internal/cmd/integration-tests/configs/prom-gen/Dockerfile
  tools/build-image/Dockerfile
  tools/build-image/windows/Dockerfile
Labels: go, outdated-dependency

#796 Enable linux boringcrypto builds
  .drone/drone.yml
  .drone/pipelines/crosscompile.jsonnet
  .drone/pipelines/publish.jsonnet
  CHANGELOG.md
  docs/sources/get-started/install/docker.md
  docs/sources/reference/config-blocks/http.md
Labels: backport-to-agent:no, backport release/v1.1

#812 add otelcol.receiver.file_stats component
  CHANGELOG.md
  docs/sources/reference/compatibility/_index.md
  docs/sources/reference/components/otelcol.receiver.file_stats.md
  go.mod
  go.sum
  internal/component/all/all.go
  internal/component/otelcol/config_controller.go
  internal/component/otelcol/receiver/file_stats/file_stats.go
  internal/component/otelcol/receiver/file_stats/file_stats_shim.go
  internal/component/otelcol/receiver/file_stats/file_stats_test.go
  internal/component/otelcol/receiver/file_stats/types.go
  internal/component/otelcol/receiver/file_stats/types_convert.go
  internal/converter/internal/otelcolconvert/converter_filestatsreceiver.go
  internal/converter/internal/otelcolconvert/testdata/filestatsreceiver.alloy
  internal/converter/internal/otelcolconvert/testdata/filestatsreceiver.yaml
Labels: backport-to-agent:no, backport release/v1.1

#748 Update remotecfg dep to use `alloy-remote-config` over `agent-remote-config`
  CHANGELOG.md
  docs/sources/release-notes.md
  go.mod
  go.sum
  internal/service/remotecfg/noop.go
  internal/service/remotecfg/remotecfg.go
  internal/service/remotecfg/remotecfg_test.go
Labels: backport-to-agent:no

#836 Update Loki and sync some of the Promtail code
  go.mod
  go.sum
  internal/component/loki/process/metric/metricvec.go
  internal/component/loki/process/stages/decolorize.go
  internal/component/loki/process/stages/drop.go
  internal/component/loki/process/stages/eventlogmessage.go
  internal/component/loki/process/stages/extensions.go
  internal/component/loki/process/stages/geoip.go
  internal/component/loki/process/stages/json.go
  internal/component/loki/process/stages/limit.go
  internal/component/loki/process/stages/match.go
  internal/component/loki/process/stages/metric.go
  internal/component/loki/process/stages/metric_test.go
  internal/component/loki/process/stages/multiline.go
  internal/component/loki/process/stages/pack.go
  internal/component/loki/process/stages/pipeline.go
  internal/component/loki/process/stages/sampling.go
  internal/component/loki/process/stages/stage.go
  internal/component/loki/process/stages/structured_metadata.go
Labels: backport-to-agent

#762 Update SNMP exporter
  CHANGELOG.md
  docs/sources/reference/components/prometheus.exporter.snmp.md
  go.mod
  go.sum
  internal/static/integrations/snmp_exporter/snmp.go
  internal/static/integrations/snmp_exporter/snmp_exporter.go
Labels: type/docs, backport-to-agent

#829 docs(prometheus/scrape): add example for K8s auth
  docs/sources/reference/components/prometheus.scrape.md
Labels: type/docs, backport release/v1.0, backport-to-agent, backport release/v1.1

#837 Add info about order of arguments when customising the Windows config
  docs/sources/tasks/configure/configure-windows.md
Labels: type/docs, backport release/v1.0, backport-to-agent, backport release/v1.1

#850 prepare for 1.1 release
  CHANGELOG.md
Labels: backport-to-agent:no, backport release/v1.1

#851 [release/v1.1] prepare for 1.1 release
  CHANGELOG.md
Labels: backport, backport-to-agent:no

#852 helm: use Grafana Alloy v1.1.0
  operations/helm/charts/alloy/CHANGELOG.md
  operations/helm/charts/alloy/Chart.yaml
  operations/helm/charts/alloy/README.md
  operations/helm/tests/additional-serviceaccount-label/alloy/templates/controllers/daemonset.yaml
  operations/helm/tests/clustering/alloy/templates/controllers/statefulset.yaml
  operations/helm/tests/controller-volumes-extra/alloy/templates/controllers/daemonset.yaml
  operations/helm/tests/create-daemonset-hostnetwork/alloy/templates/controllers/daemonset.yaml
  operations/helm/tests/create-daemonset/alloy/templates/controllers/daemonset.yaml
  operations/helm/tests/create-deployment-autoscaling/alloy/templates/controllers/deployment.yaml
  operations/helm/tests/create-deployment/alloy/templates/controllers/deployment.yaml
  operations/helm/tests/create-statefulset-autoscaling/alloy/templates/controllers/statefulset.yaml
  operations/helm/tests/create-statefulset/alloy/templates/controllers/statefulset.yaml
  operations/helm/tests/custom-config/alloy/templates/controllers/daemonset.yaml
  operations/helm/tests/default-values/alloy/templates/controllers/daemonset.yaml
  operations/helm/tests/enable-servicemonitor-tls/alloy/templates/controllers/daemonset.yaml
  operations/helm/tests/enable-servicemonitor/alloy/templates/controllers/daemonset.yaml
  operations/helm/tests/envFrom/alloy/templates/controllers/daemonset.yaml
  operations/helm/tests/existing-config/alloy/templates/controllers/daemonset.yaml
  operations/helm/tests/extra-env/alloy/templates/controllers/daemonset.yaml
  operations/helm/tests/extra-ports/alloy/templates/controllers/daemonset.yaml
  operations/helm/tests/faro-ingress/alloy/templates/controllers/daemonset.yaml
  operations/helm/tests/global-image-pullsecrets/alloy/templates/controllers/daemonset.yaml
  operations/helm/tests/global-image-registry/alloy/templates/controllers/daemonset.yaml
  operations/helm/tests/initcontainers/alloy/templates/controllers/daemonset.yaml
  operations/helm/tests/local-image-pullsecrets/alloy/templates/controllers/daemonset.yaml
  operations/helm/tests/local-image-registry/alloy/templates/controllers/daemonset.yaml
  operations/helm/tests/nodeselectors-and-tolerations/alloy/templates/controllers/daemonset.yaml
  operations/helm/tests/nonroot/alloy/templates/controllers/daemonset.yaml
  operations/helm/tests/pod_annotations/alloy/templates/controllers/daemonset.yaml
  operations/helm/tests/sidecars/alloy/templates/controllers/daemonset.yaml
  operations/helm/tests/topologyspreadconstraints/alloy/templates/controllers/deployment.yaml
Labels: backport-to-agent:no

#862 ci: use app token for Homebrew releases
  .github/workflows/bump-formula-pr.yml
Labels: backport release/v1.0, backport release/v1.1

#710 Add alias for common URL mistake in get started section
  docs/sources/get-started/_index.md
Labels: type/docs, backport release/v1.0, backport-to-agent:no, backport release/v1.1

#849 reorganize configuration syntax intro
  docs/sources/concepts/configuration-syntax/_index.md
Labels: type/docs, backport release/v1.0, backport release/v1.1

#900 fix for panic in prometheus.exporter.snmp from the recent version upgrade
  CHANGELOG.md
  internal/static/integrations/snmp_exporter/snmp_exporter.go
Labels: backport-to-agent

#591 feat(pyroscope/scrape): add support for configuring CPU profile's duration scraped by `pyroscope.scrape`
  CHANGELOG.md
  docs/sources/reference/components/pyroscope.scrape.md
  internal/component/pyroscope/scrape/scrape.go
  internal/component/pyroscope/scrape/scrape_test.go
  internal/component/pyroscope/scrape/target.go
  internal/component/pyroscope/scrape/target_test.go
Labels: type/docs, backport-to-agent:no

#910 docs: clarify DNS lookup in clustering documentation
  docs/sources/reference/cli/run.md
Labels: type/docs, backport release/v1.0, backport-to-agent, backport release/v1.1

#904 chore(pyroscope): mark pyroscope components as GA
  CHANGELOG.md
  docs/sources/reference/components/discovery.process.md
  docs/sources/reference/components/pyroscope.ebpf.md
  docs/sources/reference/components/pyroscope.java.md
  docs/sources/reference/components/pyroscope.scrape.md
  docs/sources/reference/components/pyroscope.write.md
  internal/component/discovery/process/process.go
  internal/component/pyroscope/ebpf/ebpf_linux.go
  internal/component/pyroscope/java/java.go
  internal/component/pyroscope/scrape/scrape.go
  internal/component/pyroscope/write/write.go
Labels: type/docs

#918 Update index.md
  docs/sources/tutorials/first-components-and-stdlib/index.md
Labels: type/docs, backport release/v1.0, backport-to-agent, backport release/v1.1

#931 Update Flow migration to remove references to components no longer in public preview
  docs/sources/tasks/migrate/from-flow.md
Labels: type/docs

#930 Update Agent Static to Alloy migration
  docs/sources/tasks/migrate/from-static.md
Labels: type/docs, backport release/v1.0, backport release/v1.1

#906 Updates OTEL version to v0.101.0.
  CHANGELOG.md
  docs/sources/reference/components/otelcol.processor.probabilistic_sampler.md
  docs/sources/reference/components/otelcol.receiver.vcenter.md
  go.mod
  go.sum
  internal/component/otelcol/processor/probabilistic_sampler/probabilistic_sampler.go
  internal/component/otelcol/processor/probabilistic_sampler/probabilistic_sampler_test.go
  internal/component/otelcol/receiver/vcenter/vcenter.go
  internal/component/otelcol/receiver/vcenter/vcenter_test.go
  internal/converter/internal/otelcolconvert/converter_probabilisticsamplerprocessor.go
  internal/converter/internal/otelcolconvert/converter_vcenterreceiver.go
  internal/converter/internal/otelcolconvert/testdata/vcenterreceiver.alloy
Labels: type/docs

#624 Update Faro receiver docs
  docs/sources/reference/components/faro.receiver.md
Labels: type/docs, backport release/v1.0, backport-to-agent, backport release/v1.1
