Repository grafana/alloy, pull requests merged in 2025-07, with the labels that each got.

#3958 Correct secretfilter documented argument types
  docs/sources/reference/components/loki/loki.secretfilter.md
Labels: documentation

#3979 Update brew commands for macos
  docs/sources/set-up/run/macos.md
Labels: backport release/v1.9

#2920 pyroscope.ebpf: otel profiler implementation
  Dockerfile
  docs/sources/reference/components/pyroscope/pyroscope.ebpf.md
  go.mod
  go.sum
  internal/component/pyroscope/ebpf/args.go
  internal/component/pyroscope/ebpf/ebpf_linux.go
  internal/component/pyroscope/ebpf/ebpf_linux_test.go
  internal/component/pyroscope/ebpf/ebpf_placeholder.go
  internal/component/pyroscope/ebpf/metrics.go
  internal/component/pyroscope/ebpf/pool.go
  internal/component/pyroscope/ebpf/reporter/builder.go
  internal/component/pyroscope/ebpf/reporter/pprof.go
  internal/component/pyroscope/ebpf/reporter/reporter.go
  internal/component/pyroscope/ebpf/send.go
  internal/component/pyroscope/ebpf/send_test.go
  tools/make/packaging.mk
Labels: type/docs, area/pyroscope

#3996 add log_level and quiet to async-profiler configuration for java
  CHANGELOG.md
  docs/sources/reference/components/pyroscope/pyroscope.java.md
  internal/component/pyroscope/java/args.go
  internal/component/pyroscope/java/loop.go
Labels: enhancement, area/pyroscope

#4025 Fix docs for memcached example
  docs/sources/reference/components/prometheus/prometheus.exporter.memcached.md
Labels: type/docs, backport release/v1.9, backport release/v1.10

#3878 docs: clarify sequential keep rule behavior (AND vs OR)
  docs/sources/tutorials/logs-and-relabeling-basics.md
Labels: type/docs, backport release/v1.0, backport release/v1.9

#4035 docs: clarify sequential keep rule behavior (AND vs OR) (#3878)
  docs/sources/tutorials/logs-and-relabeling-basics.md
Labels: backport

#4024 Fix references to `text_file` collector and lack of`dns` config conversion
  CHANGELOG.md
  docs/sources/reference/components/prometheus/prometheus.exporter.windows.md
  internal/component/prometheus/exporter/windows/config.go
Labels: type/docs, backport release/v1.10

#4049 Backport #4024 docs fix
  docs/sources/reference/components/prometheus/prometheus.exporter.windows.md
Labels: type/docs

#4057 Add more docs for local.file_match __path_exclude__
  docs/sources/reference/components/local/local.file_match.md
Labels: type/docs, backport release/v1.9, backport release/v1.10

#4058 Add documentation of loki.source.syslog labels & behavior
  docs/sources/reference/components/loki/loki.source.syslog.md
Labels: type/docs, backport release/v1.9, backport release/v1.10

#4076 Update Alloy docs to use new badge shortcode
  docs/sources/reference/components/beyla/beyla.ebpf.md
  docs/sources/reference/components/faro/faro.receiver.md
  docs/sources/reference/components/loki/loki.source.azure_event_hubs.md
  docs/sources/reference/components/otelcol/otelcol.auth.headers.md
  docs/sources/reference/components/otelcol/otelcol.connector.host_info.md
  docs/sources/reference/components/otelcol/otelcol.connector.servicegraph.md
  docs/sources/reference/components/otelcol/otelcol.connector.spanlogs.md
  docs/sources/reference/components/otelcol/otelcol.connector.spanmetrics.md
  docs/sources/reference/components/otelcol/otelcol.exporter.awss3.md
  docs/sources/reference/components/otelcol/otelcol.exporter.datadog.md
  docs/sources/reference/components/otelcol/otelcol.exporter.faro.md
  docs/sources/reference/components/otelcol/otelcol.exporter.googlecloud.md
  docs/sources/reference/components/otelcol/otelcol.exporter.loadbalancing.md
  docs/sources/reference/components/otelcol/otelcol.exporter.otlp.md
  docs/sources/reference/components/otelcol/otelcol.exporter.otlphttp.md
  docs/sources/reference/components/otelcol/otelcol.exporter.splunkhec.md
  docs/sources/reference/components/otelcol/otelcol.extension.jaeger_remote_sampling.md
  docs/sources/reference/components/otelcol/otelcol.processor.attributes.md
  docs/sources/reference/components/otelcol/otelcol.processor.batch.md
  docs/sources/reference/components/otelcol/otelcol.processor.cumulativetodelta.md
  docs/sources/reference/components/otelcol/otelcol.processor.deltatocumulative.md
  docs/sources/reference/components/otelcol/otelcol.processor.discovery.md
  docs/sources/reference/components/otelcol/otelcol.processor.filter.md
  docs/sources/reference/components/otelcol/otelcol.processor.groupbyattrs.md
  docs/sources/reference/components/otelcol/otelcol.processor.interval.md
  docs/sources/reference/components/otelcol/otelcol.processor.k8sattributes.md
  docs/sources/reference/components/otelcol/otelcol.processor.memory_limiter.md
  docs/sources/reference/components/otelcol/otelcol.processor.resourcedetection.md
  docs/sources/reference/components/otelcol/otelcol.processor.span.md
  docs/sources/reference/components/otelcol/otelcol.processor.tail_sampling.md
  docs/sources/reference/components/otelcol/otelcol.processor.transform.md
  docs/sources/reference/components/otelcol/otelcol.receiver.awscloudwatch.md
  docs/sources/reference/components/otelcol/otelcol.receiver.datadog.md
  docs/sources/reference/components/otelcol/otelcol.receiver.faro.md
  docs/sources/reference/components/otelcol/otelcol.receiver.file_stats.md
  docs/sources/reference/components/otelcol/otelcol.receiver.filelog.md
  docs/sources/reference/components/otelcol/otelcol.receiver.fluentforward.md
  docs/sources/reference/components/otelcol/otelcol.receiver.influxdb.md
  docs/sources/reference/components/otelcol/otelcol.receiver.jaeger.md
  docs/sources/reference/components/otelcol/otelcol.receiver.kafka.md
  docs/sources/reference/components/otelcol/otelcol.receiver.loki.md
  docs/sources/reference/components/otelcol/otelcol.receiver.opencensus.md
  docs/sources/reference/components/otelcol/otelcol.receiver.otlp.md
  docs/sources/reference/components/otelcol/otelcol.receiver.prometheus.md
  docs/sources/reference/components/otelcol/otelcol.receiver.solace.md
  docs/sources/reference/components/otelcol/otelcol.receiver.splunkhec.md
  docs/sources/reference/components/otelcol/otelcol.receiver.syslog.md
  docs/sources/reference/components/otelcol/otelcol.receiver.tcplog.md
  docs/sources/reference/components/otelcol/otelcol.receiver.vcenter.md
  docs/sources/reference/components/otelcol/otelcol.receiver.zipkin.md
  docs/sources/reference/components/prometheus/prometheus.exporter.cloudwatch.md
  docs/sources/reference/components/prometheus/prometheus.remote_write.md
Labels: type/docs, backport release/v1.9, backport release/v1.10
