Repository grafana/alloy, pull requests merged in 2025-08, with the labels that each got.

#4131 Use new Community badge label in Alloy docs
  docs/developer/adding-community-components.md
  docs/sources/reference/components/otelcol/otelcol.exporter.datadog.md
  docs/sources/reference/components/otelcol/otelcol.exporter.googlecloud.md
  docs/sources/reference/components/otelcol/otelcol.exporter.splunkhec.md
Labels: type/docs, backport release/v1.10

#4125 Fix Windows installer values
  CHANGELOG.md
  packaging/windows/install_script.nsis
Labels: bug, os:windows

#4136 URL link in the Alloy Release Notes has the wrong target
  docs/sources/release-notes.md
Labels: type/docs, backport release/v1.9, backport release/v1.10

#4139 Add CUSTOM_ARGS to docs to disable reporting when installed as systemd service
  docs/sources/data-collection.md
Labels: type/docs, backport release/v1.10

#4149 docs: import.git basic_auth block
  docs/sources/reference/config-blocks/import.git.md
Labels: type/docs, backport release/v1.9, backport release/v1.10

#4148 fix typo
  docs/sources/collect/logs-in-kubernetes.md
Labels: type/docs, backport release/v1.10

#4158 fix typo
  docs/sources/collect/logs-in-kubernetes.md
Labels: backport

#4159 Import copilot instructions file
  .github/copilot-instructions.md
Labels: type/docs

#4164 Apply tweaks from pattern review to regex
  docs/sources/reference/components/loki/loki.process.md
Labels: type/docs, backport release/v1.9, backport release/v1.10

#4037 Update windows exporter dependency to v0.31.1
  CHANGELOG.md
  docs/sources/_index.md
  docs/sources/_index.md.t
  docs/sources/reference/components/prometheus/prometheus.exporter.windows.md
  docs/sources/release-notes.md
  go.mod
  go.sum
  internal/component/prometheus/exporter/tests/instance_key_test.go
  internal/component/prometheus/exporter/windows/config.go
  internal/component/prometheus/exporter/windows/config_default_windows_test.go
  internal/component/prometheus/exporter/windows/config_windows.go
  internal/component/prometheus/exporter/windows/windows_test.go
  internal/converter/internal/staticconvert/internal/build/windows_exporter.go
  internal/converter/internal/staticconvert/testdata-v2_windows/integrations_v2.alloy
  internal/converter/internal/staticconvert/testdata_windows/promtail_prom.alloy
  internal/static/integrations/windows_exporter/config.go
  internal/static/integrations/windows_exporter/config_windows.go
Labels: os:windows

#4065 Update process exporter to v0.8.7
  CHANGELOG.md
  docs/sources/reference/components/prometheus/prometheus.exporter.process.md
  go.mod
  go.sum
  internal/component/prometheus/exporter/process/process.go
  internal/component/prometheus/exporter/process/process_test.go
  internal/converter/internal/staticconvert/internal/build/process_exporter.go
  internal/static/integrations/process_exporter/config.go
  internal/static/integrations/process_exporter/process-exporter_linux.go
Labels: type/docs

#4185 fix(pyroscope.receive_http): increase default connection limit to 16k
  CHANGELOG.md
  docs/sources/reference/components/pyroscope/pyroscope.receive_http.md
  docs/sources/reference/components/pyroscope/pyroscope.write.md
  internal/component/pyroscope/receive_http/receive_http.go
  internal/component/pyroscope/receive_http/receive_http_test.go
Labels: type/docs

#4210 Fix style issues and fix vale warnings
  docs/sources/reference/components/pyroscope/pyroscope.receive_http.md
Labels: type/docs

#4180 database_observability: Add support for supplying CSP information
  CHANGELOG.md
  docs/sources/reference/components/database_observability/database_observability.mysql.md
  internal/component/database_observability/cloud_provider.go
  internal/component/database_observability/mysql/collector/connection_info.go
  internal/component/database_observability/mysql/collector/connection_info_test.go
  internal/component/database_observability/mysql/component.go
  internal/component/database_observability/mysql/component_test.go
Labels: type/docs

#4212 Using remote write v2 with remote_write is experimental
  docs/sources/reference/components/prometheus/prometheus.remote_write.md
  internal/component/otelcol/exporter/prometheus/otlp-paylod.bin
  internal/component/prometheus/remotewrite/remote_write.go
Labels: type/docs, c/prometheus.remote_write

#4251 Update discovery.docker.md to detail how labelnames are normalized
  docs/sources/reference/components/discovery/discovery.docker.md
Labels: type/docs, backport release/v1.9, backport release/v1.10

#4272 Fix broken admonition
  docs/sources/reference/components/discovery/discovery.docker.md
Labels: type/docs

#4273 Extend documentation for discovery.process
  docs/sources/reference/components/discovery/discovery.process.md
Labels: type/docs, backport release/v1.9, backport release/v1.10

#4293 Docs: restrict pod discovery to own node in "Collect Kubernetes logs" example
  docs/sources/collect/logs-in-kubernetes.md
Labels: type/docs, backport release/v1.9, backport release/v1.10

#4294 Extend documentation for discovery.process (#4273)
  docs/sources/reference/components/discovery/discovery.process.md
Labels: backport

#4295 Extend documentation for discovery.process (#4273)
  docs/sources/reference/components/discovery/discovery.process.md
Labels: backport

#4298 Docs: restrict pod discovery to own node in "Collect Kubernetes logs"…
  docs/sources/collect/logs-in-kubernetes.md
Labels: backport
