Repository grafana/alloy, pull requests merged in 2025-05, with the labels that each got.

#3478 Add new configuration info to the MacOS configuration steps
  docs/sources/configure/macos.md
Labels: type/docs, backport release/v1.8

#3483 Update prometheus-metrics.md
  docs/sources/collect/prometheus-metrics.md
Labels: type/docs, backport release/v1.6, backport release/v1.7, backport release/v1.8

#3505 Add new configuration info to the MacOS configuration steps (#3478)
  docs/sources/configure/macos.md
Labels: backport

#3508 Update prometheus-metrics.md (#3483)
  docs/sources/collect/prometheus-metrics.md
Labels: backport

#3470 Fix broken and redirect links in Alloy docs
  docs/sources/monitor/monitor-windows.md
  docs/sources/reference/cli/run.md
  docs/sources/reference/components/prometheus/prometheus.remote_write.md
  docs/sources/reference/stdlib/encoding.md
  docs/sources/set-up/install/windows.md
Labels: type/docs, backport release/v1.8

#3515 Fix broken and redirect links in Alloy docs
  docs/sources/monitor/monitor-windows.md
  docs/sources/reference/cli/run.md
  docs/sources/reference/components/prometheus/prometheus.remote_write.md
  docs/sources/reference/stdlib/encoding.md
  docs/sources/set-up/install/windows.md
Labels: backport

#3418 Bump snmp_exporter to 0.29
  CHANGELOG.md
  docs/sources/_index.md
  docs/sources/_index.md.t
  go.mod
  go.sum
  internal/static/integrations/snmp_exporter/common/common.go
  internal/static/integrations/snmp_exporter/common/snmp.yml.gz
  internal/static/integrations/snmp_exporter/snmp_exporter_test.go
Labels: type/docs

#3440 feat: add splunkhec receiver
  CHANGELOG.md
  docs/sources/reference/compatibility/_index.md
  docs/sources/reference/components/otelcol/otelcol.receiver.splunkhec.md
  go.mod
  go.sum
  internal/component/all/all.go
  internal/component/loki/source/gelf/gelf_test.go
  internal/component/loki/source/syslog/syslog_test.go
  internal/component/otelcol/extension/jaeger_remote_sampling/jaeger_remote_sampling_test.go
  internal/component/otelcol/receiver/datadog/datadog_test.go
  internal/component/otelcol/receiver/influxdb/influxdb_test.go
  internal/component/otelcol/receiver/jaeger/jaeger_test.go
  internal/component/otelcol/receiver/opencensus/opencensus_test.go
  internal/component/otelcol/receiver/otlp/otlp_test.go
  internal/component/otelcol/receiver/splunkhec/splunkhec.go
  internal/component/otelcol/receiver/splunkhec/splunkhec_test.go
  internal/component/otelcol/receiver/syslog/syslog_test.go
  internal/component/otelcol/receiver/tcplog/tcplog_test.go
  internal/component/otelcol/receiver/zipkin/zipkin_test.go
  internal/converter/internal/otelcolconvert/converter_splunkhecreceiver.go
  internal/converter/internal/otelcolconvert/testdata/splunkhec.alloy
  internal/converter/internal/otelcolconvert/testdata/splunkhec.yaml
  internal/runtime/componenttest/addr.go
Labels: type/docs

#3534 Improve string format doc
  docs/sources/reference/stdlib/string.md
Labels: type/docs, backport release/v1.6, backport release/v1.7, backport release/v1.8

#3553 Improve string format doc (#3534)
  docs/sources/reference/stdlib/string.md
Labels: backport

#3552 Improve string format doc (#3534)
  docs/sources/reference/stdlib/string.md
Labels: backport

#3571 Update remote.kubernetes.secret.md
  docs/sources/reference/components/remote/remote.kubernetes.configmap.md
  docs/sources/reference/components/remote/remote.kubernetes.secret.md
Labels: type/docs, backport release/v1.6, backport release/v1.7, backport release/v1.8

#3566 Add examples for excluded_services in Beyla docs
  docs/sources/reference/components/beyla/beyla.ebpf.md
Labels: type/docs, backport release/v1.6, backport release/v1.7, backport release/v1.8

#3565 feat: validate foreach blocks
  CHANGELOG.md
  docs/sources/reference/cli/validate.md
  internal/alloycli/cmd_validate.go
  internal/nodeconf/foreach/foreach.go
  internal/runtime/internal/controller/loader.go
  internal/runtime/internal/controller/node_config.go
  internal/runtime/internal/controller/node_config_foreach.go
  internal/runtime/source.go
  internal/validator/component_registry.go
  internal/validator/testdata/default/invalid_foreach.diags
  internal/validator/testdata/default/invalid_foreach.txtar
  internal/validator/testdata/default/valid.txtar
  internal/validator/testdata/ga/non_ga.diags
  internal/validator/testdata/ga/non_ga.txtar
  internal/validator/validate.go
  internal/validator/validate_test.go
Labels: type/docs

#3578 fix: failing test on windows
  .drone/drone.yml
  .drone/pipelines/test.jsonnet
  .github/workflows/test_windows.yml
Labels: os:windows

#3572 Update remote.kubernetes.secret and remote.kubernetes.configmap to re…
  docs/sources/reference/components/remote/remote.kubernetes.configmap.md
  docs/sources/reference/components/remote/remote.kubernetes.secret.md
Labels: backport

#3581 Update remote.kubernetes.secret and remote.kubernetes.configmap to re…
  docs/sources/reference/components/remote/remote.kubernetes.configmap.md
  docs/sources/reference/components/remote/remote.kubernetes.secret.md
Labels: backport

#3580 Update remote.kubernetes.secret and remote.kubernetes.configmap to re…
  docs/sources/reference/components/remote/remote.kubernetes.configmap.md
  docs/sources/reference/components/remote/remote.kubernetes.secret.md
Labels: backport

#3582 Add examples for excluded_services in Beyla docs (#3566)
  docs/sources/reference/components/beyla/beyla.ebpf.md
Labels: backport

#3522 Fix typo: detained --> detailed
  operations/helm/charts/alloy/README.md
  operations/helm/charts/alloy/README.md.gotmpl
Labels: type/docs

#3586 docs: fix typo in stage.match example and description
  docs/sources/reference/components/loki/loki.process.md
Labels: type/docs, backport release/v1.6, backport release/v1.7, backport release/v1.8

#3596 docs: fix typo in stage.match example and description (#3586)
  docs/sources/reference/components/loki/loki.process.md
Labels: backport

#3595 docs: fix typo in stage.match example and description (#3586)
  docs/sources/reference/components/loki/loki.process.md
Labels: backport

#3597 docs: fix typo in stage.match example and description (#3586)
  docs/sources/reference/components/loki/loki.process.md
Labels: backport

#3599 docs: Fix Windows install instructions
  docs/sources/set-up/install/windows.md
Labels: documentation, type/docs, backport release/v1.6, backport release/v1.7, backport release/v1.8

#3175 feature: extract label matchers from the prometheus-rules labels
  CHANGELOG.md
  docs/sources/reference/components/mimir/mimir.rules.kubernetes.md
  internal/component/mimir/rules/kubernetes/events.go
  internal/component/mimir/rules/kubernetes/events_test.go
  internal/component/mimir/rules/kubernetes/types.go
  internal/component/mimir/rules/kubernetes/types_test.go
Labels: type/docs

#3623 docs: Fix Windows install instructions (#3599)
  docs/sources/set-up/install/windows.md
Labels: backport

#3622 docs: Fix Windows install instructions (#3599)
  docs/sources/set-up/install/windows.md
Labels: backport

#3624 pyroscope.java: Document the executable requirement.
  docs/sources/reference/components/pyroscope/pyroscope.java.md
Labels: type/docs, area/pyroscope, backport release/v1.8

#3637 Clean up the markdown in the Alloy shared topics
  docs/sources/collect/choose-component.md
  docs/sources/shared/reference/components/authorization-block.md
  docs/sources/shared/reference/components/azure-managed_identity-block.md
  docs/sources/shared/reference/components/azure-oauth-block.md
  docs/sources/shared/reference/components/azuread-block.md
  docs/sources/shared/reference/components/azuread-sdk.md
  docs/sources/shared/reference/components/basic-auth-block.md
  docs/sources/shared/reference/components/exporter-component-exports.md
  docs/sources/shared/reference/components/extract-field-block.md
  docs/sources/shared/reference/components/field-filter-block.md
  docs/sources/shared/reference/components/http-client-config-block.md
  docs/sources/shared/reference/components/local-file-arguments-text.md
  docs/sources/shared/reference/components/loki-server-grpc.md
  docs/sources/shared/reference/components/loki-server-http.md
  docs/sources/shared/reference/components/match-properties-block.md
  docs/sources/shared/reference/components/oauth2-block.md
  docs/sources/shared/reference/components/otelcol-debug-metrics-block.md
  docs/sources/shared/reference/components/otelcol-filter-attribute-block.md
  docs/sources/shared/reference/components/otelcol-filter-library-block.md
  docs/sources/shared/reference/components/otelcol-filter-log-severity-block.md
  docs/sources/shared/reference/components/otelcol-filter-regexp-block.md
  docs/sources/shared/reference/components/otelcol-filter-resource-block.md
  docs/sources/shared/reference/components/otelcol-grpc-balancer-name.md
  docs/sources/shared/reference/components/otelcol-kafka-authentication-kerberos.md
  docs/sources/shared/reference/components/otelcol-kafka-authentication-plaintext.md
  docs/sources/shared/reference/components/otelcol-kafka-authentication-sasl-aws_msk.md
  docs/sources/shared/reference/components/otelcol-kafka-authentication-sasl.md
  docs/sources/shared/reference/components/otelcol-kafka-metadata-retry.md
  docs/sources/shared/reference/components/otelcol-kafka-metadata.md
  docs/sources/shared/reference/components/otelcol-queue-block.md
  docs/sources/shared/reference/components/otelcol-retry-block.md
  docs/sources/shared/reference/components/otelcol-tls-client-block.md
  docs/sources/shared/reference/components/otelcol-tls-server-block.md
  docs/sources/shared/reference/components/output-block-logs.md
  docs/sources/shared/reference/components/output-block-metrics.md
  docs/sources/shared/reference/components/output-block-traces.md
  docs/sources/shared/reference/components/output-block.md
  docs/sources/shared/reference/components/prom-operator-scrape.md
  docs/sources/shared/reference/components/rule-block-logs.md
  docs/sources/shared/reference/components/rule-block.md
  docs/sources/shared/reference/components/sigv4-block.md
  docs/sources/shared/reference/components/tls-config-block.md
  docs/sources/shared/reference/components/write_relabel_config.md
  docs/sources/shared/stability/experimental.md
  docs/sources/shared/stability/experimental_feature.md
  docs/sources/shared/stability/public_preview.md
Labels: type/docs, backport release/v1.6, backport release/v1.7, backport release/v1.8

#3270 Implement support for mimir.rules.kubernetes federated group rules
  CHANGELOG.md
  docs/sources/reference/components/mimir/mimir.rules.kubernetes.md
  internal/component/common/kubernetes/mimir_rule_group_diff.go
  internal/component/common/kubernetes/mimir_rule_group_diff_test.go
  internal/component/common/kubernetes/prometheus_rule_group_diff.go
  internal/component/common/kubernetes/prometheus_rule_group_diff_test.go
  internal/component/common/kubernetes/rules.go
  internal/component/loki/rules/kubernetes/events.go
  internal/component/loki/rules/kubernetes/rules.go
  internal/component/mimir/rules/kubernetes/events.go
  internal/component/mimir/rules/kubernetes/events_test.go
  internal/component/mimir/rules/kubernetes/types.go
  internal/mimir/client/client.go
  internal/mimir/client/rules.go
  internal/mimir/client/types.go
  internal/mimir/client/types_test.go
Labels: type/docs

#3648 Clean up the markdown in the Alloy shared topics (#3637)
  docs/sources/collect/choose-component.md
  docs/sources/shared/reference/components/authorization-block.md
  docs/sources/shared/reference/components/azure-managed_identity-block.md
  docs/sources/shared/reference/components/azure-oauth-block.md
  docs/sources/shared/reference/components/azuread-block.md
  docs/sources/shared/reference/components/azuread-sdk.md
  docs/sources/shared/reference/components/basic-auth-block.md
  docs/sources/shared/reference/components/exporter-component-exports.md
  docs/sources/shared/reference/components/extract-field-block.md
  docs/sources/shared/reference/components/field-filter-block.md
  docs/sources/shared/reference/components/http-client-config-block.md
  docs/sources/shared/reference/components/local-file-arguments-text.md
  docs/sources/shared/reference/components/loki-server-grpc.md
  docs/sources/shared/reference/components/loki-server-http.md
  docs/sources/shared/reference/components/match-properties-block.md
  docs/sources/shared/reference/components/oauth2-block.md
  docs/sources/shared/reference/components/otelcol-debug-metrics-block.md
  docs/sources/shared/reference/components/otelcol-filter-attribute-block.md
  docs/sources/shared/reference/components/otelcol-filter-library-block.md
  docs/sources/shared/reference/components/otelcol-filter-log-severity-block.md
  docs/sources/shared/reference/components/otelcol-filter-regexp-block.md
  docs/sources/shared/reference/components/otelcol-filter-resource-block.md
  docs/sources/shared/reference/components/otelcol-grpc-balancer-name.md
  docs/sources/shared/reference/components/otelcol-kafka-authentication-kerberos.md
  docs/sources/shared/reference/components/otelcol-kafka-authentication-plaintext.md
  docs/sources/shared/reference/components/otelcol-kafka-authentication-sasl-aws_msk.md
  docs/sources/shared/reference/components/otelcol-kafka-authentication-sasl.md
  docs/sources/shared/reference/components/otelcol-kafka-metadata-retry.md
  docs/sources/shared/reference/components/otelcol-kafka-metadata.md
  docs/sources/shared/reference/components/otelcol-queue-block.md
  docs/sources/shared/reference/components/otelcol-retry-block.md
  docs/sources/shared/reference/components/otelcol-tls-client-block.md
  docs/sources/shared/reference/components/otelcol-tls-server-block.md
  docs/sources/shared/reference/components/output-block-logs.md
  docs/sources/shared/reference/components/output-block-metrics.md
  docs/sources/shared/reference/components/output-block-traces.md
  docs/sources/shared/reference/components/output-block.md
  docs/sources/shared/reference/components/prom-operator-scrape.md
  docs/sources/shared/reference/components/rule-block-logs.md
  docs/sources/shared/reference/components/rule-block.md
  docs/sources/shared/reference/components/sigv4-block.md
  docs/sources/shared/reference/components/tls-config-block.md
  docs/sources/shared/reference/components/write_relabel_config.md
  docs/sources/shared/stability/experimental.md
  docs/sources/shared/stability/experimental_feature.md
  docs/sources/shared/stability/public_preview.md
Labels: backport

#3649 Clean up the markdown in the Alloy shared topics (#3637)
  docs/sources/collect/choose-component.md
  docs/sources/shared/reference/components/authorization-block.md
  docs/sources/shared/reference/components/azure-managed_identity-block.md
  docs/sources/shared/reference/components/azure-oauth-block.md
  docs/sources/shared/reference/components/azuread-block.md
  docs/sources/shared/reference/components/azuread-sdk.md
  docs/sources/shared/reference/components/basic-auth-block.md
  docs/sources/shared/reference/components/exporter-component-exports.md
  docs/sources/shared/reference/components/extract-field-block.md
  docs/sources/shared/reference/components/field-filter-block.md
  docs/sources/shared/reference/components/http-client-config-block.md
  docs/sources/shared/reference/components/local-file-arguments-text.md
  docs/sources/shared/reference/components/loki-server-grpc.md
  docs/sources/shared/reference/components/loki-server-http.md
  docs/sources/shared/reference/components/match-properties-block.md
  docs/sources/shared/reference/components/oauth2-block.md
  docs/sources/shared/reference/components/otelcol-debug-metrics-block.md
  docs/sources/shared/reference/components/otelcol-filter-attribute-block.md
  docs/sources/shared/reference/components/otelcol-filter-library-block.md
  docs/sources/shared/reference/components/otelcol-filter-log-severity-block.md
  docs/sources/shared/reference/components/otelcol-filter-regexp-block.md
  docs/sources/shared/reference/components/otelcol-filter-resource-block.md
  docs/sources/shared/reference/components/otelcol-grpc-balancer-name.md
  docs/sources/shared/reference/components/otelcol-kafka-authentication-kerberos.md
  docs/sources/shared/reference/components/otelcol-kafka-authentication-plaintext.md
  docs/sources/shared/reference/components/otelcol-kafka-authentication-sasl-aws_msk.md
  docs/sources/shared/reference/components/otelcol-kafka-authentication-sasl.md
  docs/sources/shared/reference/components/otelcol-kafka-metadata-retry.md
  docs/sources/shared/reference/components/otelcol-kafka-metadata.md
  docs/sources/shared/reference/components/otelcol-queue-block.md
  docs/sources/shared/reference/components/otelcol-retry-block.md
  docs/sources/shared/reference/components/otelcol-tls-client-block.md
  docs/sources/shared/reference/components/otelcol-tls-server-block.md
  docs/sources/shared/reference/components/output-block-logs.md
  docs/sources/shared/reference/components/output-block-metrics.md
  docs/sources/shared/reference/components/output-block-traces.md
  docs/sources/shared/reference/components/output-block.md
  docs/sources/shared/reference/components/prom-operator-scrape.md
  docs/sources/shared/reference/components/rule-block-logs.md
  docs/sources/shared/reference/components/rule-block.md
  docs/sources/shared/reference/components/sigv4-block.md
  docs/sources/shared/reference/components/tls-config-block.md
  docs/sources/shared/reference/components/write_relabel_config.md
  docs/sources/shared/stability/experimental.md
  docs/sources/shared/stability/experimental_feature.md
  docs/sources/shared/stability/public_preview.md
Labels: backport

#3650 Clean up the markdown in the Alloy shared topics (#3637)
  docs/sources/collect/choose-component.md
  docs/sources/shared/reference/components/authorization-block.md
  docs/sources/shared/reference/components/azuread-block.md
  docs/sources/shared/reference/components/basic-auth-block.md
  docs/sources/shared/reference/components/exporter-component-exports.md
  docs/sources/shared/reference/components/extract-field-block.md
  docs/sources/shared/reference/components/field-filter-block.md
  docs/sources/shared/reference/components/http-client-config-block.md
  docs/sources/shared/reference/components/local-file-arguments-text.md
  docs/sources/shared/reference/components/loki-server-grpc.md
  docs/sources/shared/reference/components/loki-server-http.md
  docs/sources/shared/reference/components/managed_identity-block.md
  docs/sources/shared/reference/components/match-properties-block.md
  docs/sources/shared/reference/components/oauth2-block.md
  docs/sources/shared/reference/components/otelcol-debug-metrics-block.md
  docs/sources/shared/reference/components/otelcol-filter-attribute-block.md
  docs/sources/shared/reference/components/otelcol-filter-library-block.md
  docs/sources/shared/reference/components/otelcol-filter-log-severity-block.md
  docs/sources/shared/reference/components/otelcol-filter-regexp-block.md
  docs/sources/shared/reference/components/otelcol-filter-resource-block.md
  docs/sources/shared/reference/components/otelcol-grpc-balancer-name.md
  docs/sources/shared/reference/components/otelcol-kafka-authentication-kerberos.md
  docs/sources/shared/reference/components/otelcol-kafka-authentication-plaintext.md
  docs/sources/shared/reference/components/otelcol-kafka-authentication-sasl-aws_msk.md
  docs/sources/shared/reference/components/otelcol-kafka-authentication-sasl.md
  docs/sources/shared/reference/components/otelcol-kafka-metadata-retry.md
  docs/sources/shared/reference/components/otelcol-kafka-metadata.md
  docs/sources/shared/reference/components/otelcol-queue-block.md
  docs/sources/shared/reference/components/otelcol-retry-block.md
  docs/sources/shared/reference/components/otelcol-tls-client-block.md
  docs/sources/shared/reference/components/otelcol-tls-server-block.md
  docs/sources/shared/reference/components/output-block-logs.md
  docs/sources/shared/reference/components/output-block-metrics.md
  docs/sources/shared/reference/components/output-block-traces.md
  docs/sources/shared/reference/components/output-block.md
  docs/sources/shared/reference/components/prom-operator-scrape.md
  docs/sources/shared/reference/components/rule-block-logs.md
  docs/sources/shared/reference/components/rule-block.md
  docs/sources/shared/reference/components/sigv4-block.md
  docs/sources/shared/reference/components/tls-config-block.md
  docs/sources/shared/reference/components/write_relabel_config.md
  docs/sources/shared/stability/experimental.md
  docs/sources/shared/stability/public_preview.md
Labels: backport

#3610 Beyla 2.2
  CHANGELOG.md
  docs/sources/reference/components/beyla/beyla.ebpf.md
  internal/component/beyla/ebpf/args.go
  internal/component/beyla/ebpf/beyla_linux.go
  internal/component/beyla/ebpf/beyla_linux_test.go
Labels: type/docs

#3654 Fix minor discrepancies in otelcol topics
  docs/sources/reference/components/otelcol/otelcol.exporter.loadbalancing.md
  docs/sources/reference/components/otelcol/otelcol.exporter.otlp.md
  docs/sources/reference/components/otelcol/otelcol.exporter.otlphttp.md
  docs/sources/reference/components/otelcol/otelcol.exporter.prometheus.md
  docs/sources/reference/components/otelcol/otelcol.exporter.splunkhec.md
  docs/sources/reference/components/otelcol/otelcol.exporter.syslog.md
  docs/sources/reference/components/otelcol/otelcol.processor.attributes.md
  docs/sources/reference/components/otelcol/otelcol.processor.interval.md
Labels: type/docs

#3651 Update content in otelcol.auth.* docs
  docs/sources/reference/components/otelcol/otelcol.auth.basic.md
  docs/sources/reference/components/otelcol/otelcol.auth.bearer.md
  docs/sources/reference/components/otelcol/otelcol.auth.headers.md
  docs/sources/reference/components/otelcol/otelcol.auth.oauth2.md
  docs/sources/reference/components/otelcol/otelcol.auth.sigv4.md
Labels: type/docs, backport release/v1.6, backport release/v1.7, backport release/v1.8

#3653 Update content in otelcol.connectors and otelcol.exporter topics
  docs/sources/reference/components/otelcol/otelcol.connector.host_info.md
  docs/sources/reference/components/otelcol/otelcol.connector.spanlogs.md
  docs/sources/reference/components/otelcol/otelcol.exporter.awss3.md
  docs/sources/reference/components/otelcol/otelcol.exporter.datadog.md
  docs/sources/reference/components/otelcol/otelcol.exporter.debug.md
  docs/sources/reference/components/otelcol/otelcol.exporter.googlecloud.md
Labels: type/docs, backport release/v1.6, backport release/v1.7, backport release/v1.8

#3664 Fix minor discrepancies in otelcol topics (#3654)
  docs/sources/reference/components/otelcol/otelcol.exporter.loadbalancing.md
  docs/sources/reference/components/otelcol/otelcol.exporter.otlp.md
  docs/sources/reference/components/otelcol/otelcol.exporter.otlphttp.md
  docs/sources/reference/components/otelcol/otelcol.exporter.prometheus.md
  docs/sources/reference/components/otelcol/otelcol.exporter.splunkhec.md
  docs/sources/reference/components/otelcol/otelcol.exporter.syslog.md
  docs/sources/reference/components/otelcol/otelcol.processor.attributes.md
  docs/sources/reference/components/otelcol/otelcol.processor.interval.md
Labels: backport

#3663 Update content in connectors and some exporter topics (#3653)
  docs/sources/reference/components/otelcol/otelcol.connector.host_info.md
  docs/sources/reference/components/otelcol/otelcol.connector.spanlogs.md
  docs/sources/reference/components/otelcol/otelcol.exporter.datadog.md
  docs/sources/reference/components/otelcol/otelcol.exporter.debug.md
Labels: backport

#3655 Fix discrepancies in otelcol.processor, receiver, storage topics
  docs/sources/reference/components/otelcol/otelcol.processor.k8sattributes.md
  docs/sources/reference/components/otelcol/otelcol.processor.transform.md
  docs/sources/reference/components/otelcol/otelcol.receiver.datadog.md
  docs/sources/reference/components/otelcol/otelcol.receiver.filelog.md
  docs/sources/reference/components/otelcol/otelcol.receiver.influxdb.md
  docs/sources/reference/components/otelcol/otelcol.receiver.jaeger.md
  docs/sources/reference/components/otelcol/otelcol.receiver.loki.md
  docs/sources/reference/components/otelcol/otelcol.receiver.opencensus.md
  docs/sources/reference/components/otelcol/otelcol.receiver.otlp.md
  docs/sources/reference/components/otelcol/otelcol.receiver.splunkhec.md
  docs/sources/reference/components/otelcol/otelcol.receiver.syslog.md
  docs/sources/reference/components/otelcol/otelcol.receiver.tcplog.md
  docs/sources/reference/components/otelcol/otelcol.receiver.vcenter.md
  docs/sources/reference/components/otelcol/otelcol.receiver.zipkin.md
  docs/sources/reference/components/otelcol/otelcol.storage.file.md
Labels: type/docs, backport release/v1.8

#3659 windows exporter update to v0.30.6
  CHANGELOG.md
  docs/sources/_index.md
  docs/sources/_index.md.t
  docs/sources/reference/components/prometheus/prometheus.exporter.windows.md
  go.mod
  go.sum
  internal/component/prometheus/exporter/windows/config.go
  internal/component/prometheus/exporter/windows/config_default_windows_test.go
  internal/component/prometheus/exporter/windows/config_windows.go
  internal/component/prometheus/exporter/windows/windows_test.go
  internal/converter/internal/staticconvert/internal/build/windows_exporter.go
  internal/converter/internal/staticconvert/testdata-v2_windows/integrations_v2.alloy
  internal/converter/internal/staticconvert/testdata_windows/integrations.alloy
  internal/static/integrations/windows_exporter/config.go
  internal/static/integrations/windows_exporter/config_windows.go
  internal/static/integrations/windows_exporter/windows_exporter_windows.go
Labels: os:windows

#3703 fix: datadog url env var (#3700)
  docs/sources/collect/datadog-traces-metrics.md
Labels: backport

#3702 fix: datadog url env var (#3700)
  docs/sources/collect/datadog-traces-metrics.md
Labels: backport

#3708 fix syntax tests in ci
  Makefile
  syntax/vm/vm_block_test.go
Labels: os:windows

#3707 chore: add fix tests flag converters
  internal/converter/internal/otelcolconvert/otelcolconvert_test.go
  internal/converter/internal/otelcolconvert/testdata/debug.diags
  internal/converter/internal/otelcolconvert/testdata/otelcol_errors/corrupt_config.diags
  internal/converter/internal/otelcolconvert/testdata/otelcol_telemetry/default.diags
  internal/converter/internal/otelcolconvert/testdata/otelcol_telemetry/logging_console.diags
  internal/converter/internal/otelcolconvert/testdata/otelcol_telemetry/logging_default.diags
  internal/converter/internal/otelcolconvert/testdata/otelcol_telemetry/logging_json.diags
  internal/converter/internal/prometheusconvert/prometheusconvert_test.go
  internal/converter/internal/prometheusconvert/testdata/bad_config.diags
  internal/converter/internal/prometheusconvert/testdata/broken_yaml.diags
  internal/converter/internal/prometheusconvert/testdata/digitalocean.diags
  internal/converter/internal/prometheusconvert/testdata/empty.alloy
  internal/converter/internal/prometheusconvert/testdata/empty.yaml
  internal/converter/internal/prometheusconvert/testdata/scrape.diags
  internal/converter/internal/prometheusconvert/testdata/unsupported.diags
  internal/converter/internal/promtailconvert/promtailconvert_test.go
  internal/converter/internal/promtailconvert/promtailconvert_windows_test.go
  internal/converter/internal/promtailconvert/testdata/bad_config.diags
  internal/converter/internal/promtailconvert/testdata/consulagent.diags
  internal/converter/internal/promtailconvert/testdata/pipeline_stages_drop.diags
  internal/converter/internal/promtailconvert/testdata/push_api_unsupported.alloy
  internal/converter/internal/promtailconvert/testdata/push_api_unsupported.diags
  internal/converter/internal/promtailconvert/testdata/syslog_invalid.diags
  internal/converter/internal/promtailconvert/testdata/unsupported.alloy
  internal/converter/internal/staticconvert/internal/build/builder_integrations.go
  internal/converter/internal/staticconvert/staticconvert_test.go
  internal/converter/internal/staticconvert/staticconvert_windows_test.go
  internal/converter/internal/staticconvert/testdata-v2/unsupported.diags
  internal/converter/internal/staticconvert/testdata/integrations_no_rw.diags
  internal/converter/internal/staticconvert/testdata/prom_missing_name.diags
  internal/converter/internal/staticconvert/testdata/unsupported.alloy
  internal/converter/internal/staticconvert/testdata/unsupported.diags
  internal/converter/internal/test_common/testing.go
Labels: os:windows
