Repository grafana/alloy, pull requests merged in 2025-04, with the labels that each got.

#3171 Add info about URL encoding
  docs/sources/reference/components/prometheus/prometheus.exporter.mssql.md
Labels: type/docs, backport release/v1.5, backport release/v1.6, backport release/v1.7

#2970 clustering traffic admission control
  CHANGELOG.md
  docs/sources/reference/cli/run.md
  internal/alloycli/cluster_builder.go
  internal/alloycli/cmd_run.go
  internal/component/discovery/distributed_targets.go
  internal/component/discovery/distributed_targets_test.go
  internal/component/discovery/target_test.go
  internal/component/loki/source/podlogs/reconciler.go
  internal/component/mimir/rules/kubernetes/rules.go
  internal/component/mimir/rules/kubernetes/rules_test.go
  internal/component/prometheus/operator/common/crdmanager.go
  internal/component/prometheus/scrape/scrape_clustering_test.go
  internal/component/pyroscope/scrape/scrape.go
  internal/service/cluster/cluster.go
  internal/service/cluster/cluster_e2e_test.go
  internal/service/cluster/cluster_readonly.go
  internal/service/cluster/cluster_test.go
  internal/service/cluster/internal/testcomponent/cluster_state_tracker.go
  internal/service/cluster/internal/testcomponent/ticker.go
  internal/service/cluster/mock.go
Labels: type/docs

#3154 Bump beyla.ebpf component to use Beyla 2.1
  CHANGELOG.md
  docs/sources/_index.md
  docs/sources/_index.md.t
  docs/sources/reference/components/beyla/beyla.ebpf.md
  internal/component/beyla/ebpf/args.go
  internal/component/beyla/ebpf/beyla_linux.go
  internal/component/beyla/ebpf/beyla_linux_test.go
  internal/component/pyroscope/ebpf/ebpf_linux_test.go
Labels: type/docs

#3041 refactor(pyroscope.write): Forward content-type header only.
  CHANGELOG.md
  internal/component/pyroscope/appender.go
  internal/component/pyroscope/receive_http/receive_http.go
  internal/component/pyroscope/receive_http/receive_http_test.go
  internal/component/pyroscope/write/write.go
  internal/component/pyroscope/write/write_test.go
Labels: area/pyroscope

#3168 feat: http server authentication
  CHANGELOG.md
  docs/sources/reference/config-blocks/http.md
  internal/service/http/auth.go
  internal/service/http/auth_test.go
  internal/service/http/http.go
  internal/service/http/http_test.go
  internal/web/ui/public/index.html
Labels: type/docs

#2555 feat: expose binary version in constants
  CHANGELOG.md
  Makefile
  docs/sources/reference/stdlib/constants.md
  example/config/alloy/config.alloy
  syntax/go.mod
  syntax/go.sum
  syntax/internal/stdlib/constants.go
Labels: type/docs, needs-attention

#2985 [secretfilter] Add metrics to track the redaction of secrets
  CHANGELOG.md
  docs/sources/reference/components/loki/loki.secretfilter.md
  internal/component/loki/secretfilter/secretfilter.go
  internal/component/loki/secretfilter/secretfilter_test.go
Labels: type/docs

#2826 Add scenarios to Alloy docs
  docs/sources/monitor/_index.md
  docs/sources/monitor/monitor-docker-containers.md
  docs/sources/monitor/monitor-kubernetes-logs.md
  docs/sources/monitor/monitor-logs-from-file.md
  docs/sources/monitor/monitor-logs-over-tcp.md
  docs/sources/monitor/monitor-structured-logs.md
  docs/sources/monitor/monitor-syslog-messages.md
  docs/sources/monitor/monitor-windows.md
Labels: type/docs, backport release/v1.6, backport release/v1.7, backport release/v1.8

#3304 docs(resourcedetection): fixed sample role object
  docs/sources/reference/components/otelcol/otelcol.processor.resourcedetection.md
Labels: type/docs, backport release/v1.7, backport release/v1.8

#2548 Add support for minReadySeconds in helm chart
  operations/helm/charts/alloy/CHANGELOG.md
  operations/helm/charts/alloy/README.md
  operations/helm/charts/alloy/ci/create-statefulset-values.yaml
  operations/helm/charts/alloy/templates/controllers/daemonset.yaml
  operations/helm/charts/alloy/templates/controllers/deployment.yaml
  operations/helm/charts/alloy/templates/controllers/statefulset.yaml
  operations/helm/charts/alloy/values.yaml
  operations/helm/tests/create-statefulset/alloy/templates/controllers/statefulset.yaml
Labels: needs-attention

#3197 docs: clustering best practices
  docs/sources/get-started/clustering.md
Labels: type/docs, backport release/v1.8

#3285 Add Linux scenario topic to Alloy docs
  docs/sources/monitor/monitor-docker-containers.md
  docs/sources/monitor/monitor-linux.md
  docs/sources/monitor/monitor-syslog-messages.md
  docs/sources/monitor/monitor-windows.md
Labels: type/docs, backport release/v1.6, backport release/v1.7, backport release/v1.8

#3337 Update openshift.md
  docs/sources/set-up/install/openshift.md
Labels: type/docs, backport release/v1.6, backport release/v1.7, backport release/v1.8

#3329 docs: Fix broken capabilities link
  docs/sources/reference/components/beyla/beyla.ebpf.md
Labels: type/docs, backport release/v1.8

#3254 database_observability: collect sql_text in query sample
  CHANGELOG.md
  docs/sources/reference/components/database_observability/database_observability.mysql.md
  internal/component/database_observability/mysql/collector/query_sample.go
  internal/component/database_observability/mysql/collector/query_sample_test.go
  internal/component/database_observability/mysql/component.go
  internal/component/database_observability/mysql/component_test.go
Labels: type/docs

#3362 tests: Update windows test to act on some PRs and fix converter test
  .github/workflows/test_windows.yml
  internal/converter/internal/otelcolconvert/testdata/loadbalancing.yaml
Labels: os:windows

#3363 Correct cross reference links that use version variables
  docs/sources/reference/components/beyla/beyla.ebpf.md
  docs/sources/set-up/migrate/from-promtail.md
Labels: type/docs, backport release/v1.6, backport release/v1.7, backport release/v1.8

#3369 [release/v1.6] Correct cross reference links that use version variables
  docs/sources/set-up/migrate/from-promtail.md
Labels: backport

#3368 [release/v1.7] Correct cross reference links that use version variables
  docs/sources/set-up/migrate/from-promtail.md
Labels: backport

#3331 docs: improve docs for `loki.secretfilter` component
  docs/sources/reference/components/loki/loki.secretfilter.md
Labels: type/docs, backport release/v1.6, backport release/v1.7, backport release/v1.8

#3371 [release/v1.7] docs: improve docs for loki.secretfilter component
  docs/sources/reference/components/loki/loki.secretfilter.md
Labels: backport

#3387 [release/v1.7] Change start_at default to end.
  docs/sources/reference/components/otelcol/otelcol.receiver.filelog.md
Labels: backport

#3388 [release/v1.8] Change start_at default to end
  docs/sources/reference/components/otelcol/otelcol.receiver.filelog.md
Labels: backport

#3389 update changelog for rc release (#3187)
  VERSION
  docs/sources/_index.md
Labels: type/docs

#3391 [release/v1.5] Add info about URL encoding]
  docs/sources/reference/components/prometheus/prometheus.exporter.mssql.md
Labels: backport

#3392 [release/v1.6] Add info about URL encoding
  docs/sources/reference/components/prometheus/prometheus.exporter.mssql.md
Labels: backport

#3393 [release/v1.7] Add info about URL encoding
  docs/sources/reference/components/prometheus/prometheus.exporter.mssql.md
Labels: backport

#3412 Removed windowsevent stage from v1.3 doc
  docs/sources/reference/components/loki/loki.process.md
Labels: type/docs

#3413 Update belya topic to catch a few minor markdown issues
  docs/sources/reference/components/beyla/beyla.ebpf.md
Labels: type/docs, backport release/v1.8

#3220 feat: Add command for config validation
  CHANGELOG.md
  docs/sources/reference/cli/run.md
  docs/sources/reference/cli/validate.md
  internal/alloycli/alloycli.go
  internal/alloycli/cmd_validate.go
  internal/runtime/alloy.go
  internal/runtime/source.go
  internal/service/labelstore/service.go
  internal/validator/component_registry.go
  internal/validator/report.go
  internal/validator/testdata/default/duplicates.diags
  internal/validator/testdata/default/duplicates.txtar
  internal/validator/testdata/default/missing.diags
  internal/validator/testdata/default/missing.txtar
  internal/validator/testdata/default/mixed.diags
  internal/validator/testdata/default/mixed.txtar
  internal/validator/testdata/default/syntax_errors.diags
  internal/validator/testdata/default/syntax_errors.txtar
  internal/validator/testdata/default/valid.diags
  internal/validator/testdata/default/valid.txtar
  internal/validator/validate.go
  internal/validator/validate_test.go
Labels: type/docs

#3422 Update Alloy data collection topic to align with other topics
  docs/sources/data-collection.md
Labels: type/docs, backport release/v1.6, backport release/v1.7, backport release/v1.8

#3423 Fix links to estimate-resource-usage topic
  docs/sources/introduction/estimate-resource-usage.md
Labels: type/docs, backport release/v1.0, backport release/v1.1, backport release/v1.2, backport release/v1.3, backport release/v1.4, backport release/v1.5, backport release/v1.6, backport release/v1.7, backport release/v1.8

#3110 database_observability: add collector to get enabled performance_schema.setup_consumers
  CHANGELOG.md
  docs/sources/reference/components/database_observability/database_observability.mysql.md
  internal/component/database_observability/mysql/collector/setup_consumers.go
  internal/component/database_observability/mysql/collector/setup_consumers_test.go
  internal/component/database_observability/mysql/component.go
  internal/component/database_observability/mysql/component_test.go
Labels: type/docs
