Repository grafana/alloy, pull requests merged in 2025-10, with the labels that each got.

#4476 docs: Update send-logs-to-loki.md
  docs/sources/tutorials/send-logs-to-loki.md
Labels: type/docs, backport release/v1.10, backport release/v1.11

#4506 Update windows install with Winget and new exe
  docs/sources/set-up/install/windows.md
Labels: type/docs, backport release/v1.11

#4532 docs: Update send-logs-to-loki.md
  docs/sources/tutorials/send-logs-to-loki.md
Labels: type/docs, backport

#4531 docs: Update send-logs-to-loki.md
  docs/sources/tutorials/send-logs-to-loki.md
Labels: type/docs, backport

#4535 Add links to Learning Journeys
  docs/sources/set-up/install/kubernetes.md
  docs/sources/set-up/install/linux.md
  docs/sources/set-up/install/macos.md
Labels: type/docs, backport release/v1.10, backport release/v1.11

#4464 Add docs note about converting promtail daemonset configs
  docs/sources/set-up/migrate/from-promtail.md
Labels: type/docs, backport release/v1.10, backport release/v1.11

#4570 Remove old reference to default 8192
  docs/sources/reference/components/otelcol/otelcol.processor.batch.md
Labels: type/docs, backport release/v1.11

#4567 adds references to label types
  docs/sources/reference/components/loki/loki.process.md
Labels: backport
