Repository grafana/alloy, pull requests merged in 2025-03, with the labels that each got.

#2892 [release/v1.5] docs(pyroscope.receive_http): fix ingest api docs link
  docs/sources/reference/components/pyroscope/pyroscope.receive_http.md
Labels: type/docs, backport

#2891 [release/v1.6] docs(pyroscope.receive_http): fix ingest api docs link
  docs/sources/reference/components/pyroscope/pyroscope.receive_http.md
Labels: type/docs, backport

#2859 Updating ECS Fargate/EC2 Documentation
  docs/sources/collect/ecs-opentelemetry-data.md
Labels: type/docs, backport release/v1.5, backport release/v1.6, backport release/v1.7

#2902 Fix mixed up descriptions for `store` and `system_store` in the server block description
  docs/sources/reference/config-blocks/http.md
Labels: type/docs, backport release/v1.5, backport release/v1.6, backport release/v1.7

#2897 Update flow diagram for Alloy
  docs/sources/_index.md
  docs/sources/_index.md.t
Labels: type/docs, backport release/v1.6, backport release/v1.7

#2830 Bump snmp_exporter and modules to v0.28.0
  CHANGELOG.md
  Makefile
  docs/sources/_index.md
  docs/sources/_index.md.t
  go.mod
  go.sum
  internal/cmd/integration-tests/tests/snmp/config.alloy
  internal/cmd/integration-tests/tests/snmp/snmp_metrics_test.go
  internal/static/integrations/snmp_exporter/common/common.go
  internal/static/integrations/snmp_exporter/common/snmp.yml
  internal/static/integrations/snmp_exporter/common/snmp.yml.gz
  internal/static/integrations/snmp_exporter/snmp_exporter_test.go
Labels: type/docs

#2915 Fix image scaling on Alloy landing page
  docs/sources/_index.md
  docs/sources/_index.md.t
Labels: type/docs, backport release/v1.6, backport release/v1.7

#2932 Add missing double quotes inOTel to LGTM stack tutorial sample config
  docs/sources/collect/opentelemetry-to-lgtm-stack.md
Labels: type/docs, backport release/v1.4, backport release/v1.5, backport release/v1.6, backport release/v1.7

#2638 Add support for ScrapeConfig CRD to `prometheus.operator`
  CHANGELOG.md
  docs/sources/reference/compatibility/_index.md
  docs/sources/reference/components/prometheus/prometheus.operator.scrapeconfigs.md
  docs/sources/set-up/migrate/from-operator.md
  go.mod
  go.sum
  internal/component/all/all.go
  internal/component/prometheus/operator/common/crdmanager.go
  internal/component/prometheus/operator/configgen/config_gen_podmonitor.go
  internal/component/prometheus/operator/configgen/config_gen_podmonitor_test.go
  internal/component/prometheus/operator/configgen/config_gen_probe.go
  internal/component/prometheus/operator/configgen/config_gen_scrapeconfig.go
  internal/component/prometheus/operator/configgen/config_gen_scrapeconfig_test.go
  internal/component/prometheus/operator/configgen/config_gen_servicemonitor.go
  internal/component/prometheus/operator/configgen/config_gen_servicemonitor_test.go
  internal/component/prometheus/operator/scrapeconfigs/operator.go
Labels: type/docs

#2919 database_observability: fix dsn example in docs
  docs/sources/reference/components/database_observability/database_observability.mysql.md
Labels: type/docs, backport release/v1.6, backport release/v1.7

#2966 Fix attribute name in Beyla configuration.
  CHANGELOG.md
  docs/sources/reference/components/beyla/beyla.ebpf.md
  internal/component/beyla/ebpf/args.go
  internal/component/beyla/ebpf/beyla_linux_test.go
Labels: type/docs

#2957 add named connections to mssql
  CHANGELOG.md
  docs/sources/reference/components/prometheus/prometheus.exporter.mssql.md
  internal/component/prometheus/exporter/mssql/mssql.go
  internal/component/prometheus/exporter/mssql/mssql_test.go
  internal/converter/internal/staticconvert/internal/build/mssql_exporter.go
  internal/static/integrations/mssql/sql_exporter.go
  internal/static/integrations/mssql/sql_exporter_test.go
Labels: type/docs

#2755 feat: Support configuring behavior of `loki.source.syslog` setting the year of an incoming timestamp
  CHANGELOG.md
  docs/sources/reference/components/loki/loki.source.syslog.md
  internal/component/loki/process/stages/util.go
  internal/component/loki/source/syslog/config/config.go
  internal/component/loki/source/syslog/internal/syslogtarget/syslogparser/syslogparser.go
  internal/component/loki/source/syslog/internal/syslogtarget/syslogparser/syslogparser_test.go
  internal/component/loki/source/syslog/internal/syslogtarget/syslogtarget.go
  internal/component/loki/source/syslog/internal/syslogtarget/syslogtarget_test.go
  internal/component/loki/source/syslog/internal/syslogtarget/transport.go
  internal/component/loki/source/syslog/types.go
  internal/util/time.go
Labels: type/docs

#2999 Remove explicit 4.x kernel requirement
  docs/sources/introduction/supported-platforms.md
Labels: type/docs, backport release/v1.6, backport release/v1.7

#2997 fix doc "collect/metamonitoring": relocate 'replace prometheus.exporter.self "<SELF_LABEL>" instruction' to correct location
  docs/sources/collect/metamonitoring.md
Labels: type/docs, backport release/v1.5, backport release/v1.6, backport release/v1.7

#3012 docs: Wrong meta label used
  docs/sources/reference/components/pyroscope/pyroscope.ebpf.md
Labels: type/docs, backport release/v1.5, backport release/v1.6, area/pyroscope, backport release/v1.7

#3013 docs: Fix the hostname env variables name
  docs/sources/reference/components/pyroscope/pyroscope.ebpf.md
Labels: type/docs, backport release/v1.5, backport release/v1.6, area/pyroscope, backport release/v1.7

#3023 Fix mongodb_uri type in doc
  docs/sources/reference/components/prometheus/prometheus.exporter.mongodb.md
Labels: type/docs, backport release/v1.5, backport release/v1.6, backport release/v1.7

#3025 fix(loki.process.md): stage.tenant example
  docs/sources/reference/components/loki/loki.process.md
Labels: type/docs, backport release/v1.5, backport release/v1.6, backport release/v1.7

#2882 Add loki.enrich component
  CHANGELOG.md
  docs/sources/reference/compatibility/_index.md
  docs/sources/reference/components/loki/loki.enrich.md
  internal/cmd/integration-tests/common/common.go
  internal/cmd/integration-tests/common/log.go
  internal/cmd/integration-tests/common/logs_assert.go
  internal/cmd/integration-tests/tests/loki-enrich/config.alloy
  internal/cmd/integration-tests/tests/loki-enrich/devices.json
  internal/cmd/integration-tests/tests/loki-enrich/enrich_test.go
  internal/component/all/all.go
  internal/component/loki/enrich/enrich.go
  internal/component/loki/enrich/enrich_test.go
Labels: type/docs

#2697 mimir.rules.kubernetes: explicitely mark the component as healthy on successful startup.
  CHANGELOG.md
  internal/component/mimir/rules/kubernetes/rules.go
Labels: needs-attention

#2860 feat: Add new stdlib function to_json
  CHANGELOG.md
  docs/sources/reference/stdlib/encoding.md
  syntax/internal/stdlib/stdlib.go
  syntax/vm/vm_stdlib_test.go
Labels: type/docs

#3076 Update loki.source.docker.md
  docs/sources/reference/components/loki/loki.source.docker.md
Labels: type/docs, backport release/v1.5, backport release/v1.6, backport release/v1.7

#3087 docs: Update discovery.relabel docs to include static label example
  docs/sources/reference/components/discovery/discovery.relabel.md
Labels: type/docs

#3062 database_observability: add query sample collector
  CHANGELOG.md
  docs/sources/reference/components/database_observability/database_observability.mysql.md
  internal/component/database_observability/mysql/collector/query_sample.go
  internal/component/database_observability/mysql/collector/query_sample_test.go
  internal/component/database_observability/mysql/collector/query_tables_test.go
  internal/component/database_observability/mysql/component.go
  internal/component/database_observability/mysql/component_test.go
Labels: type/docs

#2945 remote.vault: enhance auth.custom to support namespace switching for authentication
  CHANGELOG.md
  docs/sources/reference/components/remote/remote.vault.md
  internal/component/remote/vault/auth.go
Labels: type/docs

#3127 Update linux.md
  docs/sources/set-up/install/linux.md
Labels: type/docs, backport release/v1.5, backport release/v1.6, backport release/v1.7

#3119 feat: Set Windows process priority for Alloy
  CHANGELOG.md
  docs/sources/reference/cli/run.md
  docs/sources/set-up/install/windows.md
  internal/alloycli/cmd_run.go
  internal/util/windowspriority/set_priority_nonwindows.go
  internal/util/windowspriority/set_priority_windows.go
  internal/util/windowspriority/set_priority_windows_test.go
  packaging/windows/install_script.nsis
Labels: type/docs

#3145 docs: Add note for using proxy_from_environment
  docs/sources/reference/cli/environment-variables.md
Labels: type/docs, backport release/v1.5, backport release/v1.6, backport release/v1.7

#3038 Add basic support for OTel's `service/telemetry` config argument
  docs/sources/collect/metamonitoring.md
  docs/sources/reference/http/_index.md
  docs/sources/set-up/migrate/from-otelcol.md
  internal/component/discovery/process/process_stub.go
  internal/converter/diag/diagnostics.go
  internal/converter/internal/otelcolconvert/converter_service_telemetry.go
  internal/converter/internal/otelcolconvert/otelcolconvert.go
  internal/converter/internal/otelcolconvert/otelcolconvert_test.go
  internal/converter/internal/otelcolconvert/testdata/otelcol_telemetry/default.alloy
  internal/converter/internal/otelcolconvert/testdata/otelcol_telemetry/default.diags
  internal/converter/internal/otelcolconvert/testdata/otelcol_telemetry/default.yaml
  internal/converter/internal/otelcolconvert/testdata/otelcol_telemetry/logging_console.alloy
  internal/converter/internal/otelcolconvert/testdata/otelcol_telemetry/logging_console.diags
  internal/converter/internal/otelcolconvert/testdata/otelcol_telemetry/logging_console.yaml
  internal/converter/internal/otelcolconvert/testdata/otelcol_telemetry/logging_default.alloy
  internal/converter/internal/otelcolconvert/testdata/otelcol_telemetry/logging_default.diags
  internal/converter/internal/otelcolconvert/testdata/otelcol_telemetry/logging_default.yaml
  internal/converter/internal/otelcolconvert/testdata/otelcol_telemetry/logging_json.alloy
  internal/converter/internal/otelcolconvert/testdata/otelcol_telemetry/logging_json.diags
  internal/converter/internal/otelcolconvert/testdata/otelcol_telemetry/logging_json.yaml
  internal/converter/internal/otelcolconvert/utils.go
  internal/converter/internal/prometheusconvert/prometheusconvert_test.go
  internal/converter/internal/promtailconvert/promtailconvert_test.go
  internal/converter/internal/staticconvert/internal/build/builder_traces.go
  internal/converter/internal/staticconvert/staticconvert_test.go
  internal/converter/internal/test_common/testing.go
Labels: type/docs

#3117 database_observability: fix gcloud references in docs
  docs/sources/reference/components/database_observability/database_observability.mysql.md
Labels: type/docs, backport release/v1.6, backport release/v1.7

#3155 docs: Fix links to secrets in remote.http
  docs/sources/reference/components/remote/remote.http.md
Labels: type/docs, backport release/v1.5, backport release/v1.6, backport release/v1.7

#3159 docs: fix reference in otelcol.exporter.prometheus.md
  docs/sources/reference/components/otelcol/otelcol.exporter.prometheus.md
Labels: type/docs, backport release/v1.5, backport release/v1.6, backport release/v1.7
