Repository grafana/alloy, pull requests merged in 2025-06, with the labels that each got.

#3668 General updates and corrections to the Alloy Component docs part 2
  docs/sources/reference/components/discovery/discovery.linode.md
  docs/sources/reference/components/discovery/discovery.nomad.md
  docs/sources/reference/components/discovery/discovery.openstack.md
  docs/sources/reference/components/discovery/discovery.ovhcloud.md
  docs/sources/reference/components/discovery/discovery.process.md
  docs/sources/reference/components/discovery/discovery.puppetdb.md
  docs/sources/reference/components/discovery/discovery.serverset.md
  docs/sources/reference/components/discovery/discovery.triton.md
  docs/sources/reference/components/discovery/discovery.uyuni.md
  docs/sources/reference/components/faro/faro.receiver.md
  docs/sources/reference/components/loki/loki.enrich.md
  docs/sources/reference/components/loki/loki.process.md
  docs/sources/reference/components/loki/loki.relabel.md
  docs/sources/reference/components/loki/loki.rules.kubernetes.md
  docs/sources/reference/components/loki/loki.secretfilter.md
Labels: type/docs, backport release/v1.7, backport release/v1.8, backport release/v1.9

#3718 Update developer component docs topic to add new elements and style
  docs/developer/writing-component-documentation.md
Labels: type/docs

#3687 General updates and corrections to the Alloy Component docs part 5
  docs/sources/reference/components/otelcol/otelcol.exporter.otlp.md
  docs/sources/reference/components/otelcol/otelcol.exporter.otlphttp.md
  docs/sources/reference/components/otelcol/otelcol.exporter.prometheus.md
  docs/sources/reference/components/otelcol/otelcol.exporter.splunkhec.md
  docs/sources/reference/components/otelcol/otelcol.exporter.syslog.md
  docs/sources/reference/components/otelcol/otelcol.extension.jaeger_remote_sampling.md
  docs/sources/reference/components/otelcol/otelcol.processor.attributes.md
  docs/sources/reference/components/otelcol/otelcol.processor.deltatocumulative.md
  docs/sources/reference/components/otelcol/otelcol.processor.discovery.md
  docs/sources/reference/components/otelcol/otelcol.processor.filter.md
  docs/sources/reference/components/otelcol/otelcol.processor.interval.md
  docs/sources/reference/components/otelcol/otelcol.processor.k8sattributes.md
  docs/sources/reference/components/otelcol/otelcol.processor.resourcedetection.md
  docs/sources/reference/components/otelcol/otelcol.processor.span.md
  docs/sources/reference/components/otelcol/otelcol.processor.tail_sampling.md
  docs/sources/reference/components/otelcol/otelcol.processor.transform.md
  docs/sources/reference/components/otelcol/otelcol.receiver.datadog.md
  docs/sources/reference/components/otelcol/otelcol.receiver.filelog.md
  docs/sources/reference/components/otelcol/otelcol.receiver.influxdb.md
  docs/sources/reference/components/otelcol/otelcol.receiver.jaeger.md
  docs/sources/reference/components/otelcol/otelcol.receiver.kafka.md
  docs/sources/reference/components/otelcol/otelcol.receiver.loki.md
  docs/sources/reference/components/otelcol/otelcol.receiver.opencensus.md
  docs/sources/reference/components/otelcol/otelcol.receiver.otlp.md
  docs/sources/reference/components/otelcol/otelcol.receiver.prometheus.md
  docs/sources/reference/components/otelcol/otelcol.receiver.solace.md
  docs/sources/reference/components/otelcol/otelcol.receiver.splunkhec.md
Labels: type/docs, backport release/v1.7, backport release/v1.8, backport release/v1.9

#3705 General updates and corrections to the Alloy Component docs part 6
  docs/sources/reference/components/otelcol/otelcol.receiver.syslog.md
  docs/sources/reference/components/otelcol/otelcol.receiver.tcplog.md
  docs/sources/reference/components/otelcol/otelcol.receiver.vcenter.md
  docs/sources/reference/components/otelcol/otelcol.receiver.zipkin.md
  docs/sources/reference/components/otelcol/otelcol.storage.file.md
  docs/sources/reference/components/prometheus/prometheus.exporter.apache.md
  docs/sources/reference/components/prometheus/prometheus.exporter.cadvisor.md
  docs/sources/reference/components/prometheus/prometheus.exporter.consul.md
  docs/sources/reference/components/prometheus/prometheus.exporter.dnsmasq.md
  docs/sources/reference/components/prometheus/prometheus.exporter.gcp.md
  docs/sources/reference/components/prometheus/prometheus.exporter.github.md
  docs/sources/reference/components/prometheus/prometheus.exporter.kafka.md
  docs/sources/reference/components/prometheus/prometheus.exporter.mongodb.md
  docs/sources/reference/components/prometheus/prometheus.exporter.oracledb.md
  docs/sources/reference/components/prometheus/prometheus.exporter.postgres.md
  docs/sources/reference/components/prometheus/prometheus.exporter.process.md
Labels: type/docs, backport release/v1.8, backport release/v1.9

#3720 General updates and validation of cli docs
  docs/sources/reference/cli/convert.md
  docs/sources/reference/cli/environment-variables.md
  docs/sources/reference/cli/fmt.md
  docs/sources/reference/cli/run.md
  docs/sources/reference/cli/tools.md
  docs/sources/reference/cli/validate.md
Labels: type/docs, backport release/v1.8, backport release/v1.9

#3722 General updates and validation of config blocks documentation
  docs/sources/reference/config-blocks/argument.md
  docs/sources/reference/config-blocks/declare.md
  docs/sources/reference/config-blocks/export.md
  docs/sources/reference/config-blocks/foreach.md
  docs/sources/reference/config-blocks/http.md
  docs/sources/reference/config-blocks/import.file.md
  docs/sources/reference/config-blocks/import.git.md
  docs/sources/reference/config-blocks/import.http.md
  docs/sources/reference/config-blocks/import.string.md
  docs/sources/reference/config-blocks/livedebugging.md
  docs/sources/reference/config-blocks/logging.md
  docs/sources/reference/config-blocks/remotecfg.md
  docs/sources/reference/config-blocks/tracing.md
Labels: type/docs, backport release/v1.8, backport release/v1.9

#3739 General updates and corrections to the Alloy Component docs part 1
  docs/sources/reference/components/beyla/beyla.ebpf.md
  docs/sources/reference/components/database_observability/database_observability.mysql.md
  docs/sources/reference/components/discovery/discovery.azure.md
  docs/sources/reference/components/discovery/discovery.consul.md
  docs/sources/reference/components/discovery/discovery.consulagent.md
  docs/sources/reference/components/discovery/discovery.digitalocean.md
  docs/sources/reference/components/discovery/discovery.dns.md
  docs/sources/reference/components/discovery/discovery.docker.md
  docs/sources/reference/components/discovery/discovery.dockerswarm.md
  docs/sources/reference/components/discovery/discovery.ec2.md
  docs/sources/reference/components/discovery/discovery.eureka.md
  docs/sources/reference/components/discovery/discovery.file.md
  docs/sources/reference/components/discovery/discovery.hetzner.md
  docs/sources/reference/components/discovery/discovery.http.md
  docs/sources/reference/components/discovery/discovery.ionos.md
  docs/sources/reference/components/discovery/discovery.kubelet.md
  docs/sources/reference/components/discovery/discovery.kubernetes.md
  docs/sources/reference/components/discovery/discovery.kuma.md
  docs/sources/reference/components/discovery/discovery.lightsail.md
Labels: backport

#3740 General updates and corrections to the Alloy Component docs part 1
  docs/sources/reference/components/beyla/beyla.ebpf.md
  docs/sources/reference/components/database_observability/database_observability.mysql.md
  docs/sources/reference/components/discovery/discovery.azure.md
  docs/sources/reference/components/discovery/discovery.consul.md
  docs/sources/reference/components/discovery/discovery.consulagent.md
  docs/sources/reference/components/discovery/discovery.digitalocean.md
  docs/sources/reference/components/discovery/discovery.dns.md
  docs/sources/reference/components/discovery/discovery.docker.md
  docs/sources/reference/components/discovery/discovery.dockerswarm.md
  docs/sources/reference/components/discovery/discovery.ec2.md
  docs/sources/reference/components/discovery/discovery.eureka.md
  docs/sources/reference/components/discovery/discovery.file.md
  docs/sources/reference/components/discovery/discovery.hetzner.md
  docs/sources/reference/components/discovery/discovery.http.md
  docs/sources/reference/components/discovery/discovery.ionos.md
  docs/sources/reference/components/discovery/discovery.kubelet.md
  docs/sources/reference/components/discovery/discovery.kubernetes.md
  docs/sources/reference/components/discovery/discovery.kuma.md
  docs/sources/reference/components/discovery/discovery.lightsail.md
Labels: backport

#3743 General updates and corrections to the Alloy Component docs part 2
  docs/sources/reference/components/discovery/discovery.linode.md
  docs/sources/reference/components/discovery/discovery.nomad.md
  docs/sources/reference/components/discovery/discovery.openstack.md
  docs/sources/reference/components/discovery/discovery.ovhcloud.md
  docs/sources/reference/components/discovery/discovery.process.md
  docs/sources/reference/components/discovery/discovery.puppetdb.md
  docs/sources/reference/components/discovery/discovery.serverset.md
  docs/sources/reference/components/discovery/discovery.triton.md
  docs/sources/reference/components/discovery/discovery.uyuni.md
  docs/sources/reference/components/faro/faro.receiver.md
  docs/sources/reference/components/loki/loki.enrich.md
  docs/sources/reference/components/loki/loki.process.md
  docs/sources/reference/components/loki/loki.relabel.md
  docs/sources/reference/components/loki/loki.rules.kubernetes.md
  docs/sources/reference/components/loki/loki.secretfilter.md
Labels: backport

#3746 General updates and corrections to the Alloy Component docs part 3
  docs/sources/reference/components/loki/loki.source.api.md
  docs/sources/reference/components/loki/loki.source.awsfirehose.md
  docs/sources/reference/components/loki/loki.source.azure_event_hubs.md
  docs/sources/reference/components/loki/loki.source.cloudflare.md
  docs/sources/reference/components/loki/loki.source.docker.md
  docs/sources/reference/components/loki/loki.source.file.md
  docs/sources/reference/components/loki/loki.source.gcplog.md
  docs/sources/reference/components/loki/loki.source.gelf.md
  docs/sources/reference/components/loki/loki.source.heroku.md
  docs/sources/reference/components/loki/loki.source.kafka.md
  docs/sources/reference/components/loki/loki.source.kubernetes.md
  docs/sources/reference/components/loki/loki.source.kubernetes_events.md
  docs/sources/reference/components/loki/loki.source.podlogs.md
  docs/sources/reference/components/loki/loki.source.syslog.md
  docs/sources/reference/components/loki/loki.source.windowsevent.md
  docs/sources/reference/components/loki/loki.write.md
Labels: backport

#3745 General updates and corrections to the Alloy Component docs part 2 (#…
  docs/sources/reference/components/discovery/discovery.linode.md
  docs/sources/reference/components/discovery/discovery.nomad.md
  docs/sources/reference/components/discovery/discovery.openstack.md
  docs/sources/reference/components/discovery/discovery.ovhcloud.md
  docs/sources/reference/components/discovery/discovery.process.md
  docs/sources/reference/components/discovery/discovery.puppetdb.md
  docs/sources/reference/components/discovery/discovery.serverset.md
  docs/sources/reference/components/discovery/discovery.triton.md
  docs/sources/reference/components/discovery/discovery.uyuni.md
  docs/sources/reference/components/faro/faro.receiver.md
  docs/sources/reference/components/loki/loki.process.md
  docs/sources/reference/components/loki/loki.relabel.md
  docs/sources/reference/components/loki/loki.rules.kubernetes.md
  docs/sources/reference/components/loki/loki.secretfilter.md
Labels: backport

#3747 General updates and corrections to the Alloy Component docs part 3 (#…
  docs/sources/reference/components/loki/loki.source.api.md
  docs/sources/reference/components/loki/loki.source.awsfirehose.md
  docs/sources/reference/components/loki/loki.source.azure_event_hubs.md
  docs/sources/reference/components/loki/loki.source.cloudflare.md
  docs/sources/reference/components/loki/loki.source.docker.md
  docs/sources/reference/components/loki/loki.source.file.md
  docs/sources/reference/components/loki/loki.source.gcplog.md
  docs/sources/reference/components/loki/loki.source.gelf.md
  docs/sources/reference/components/loki/loki.source.heroku.md
  docs/sources/reference/components/loki/loki.source.kafka.md
  docs/sources/reference/components/loki/loki.source.kubernetes.md
  docs/sources/reference/components/loki/loki.source.kubernetes_events.md
  docs/sources/reference/components/loki/loki.source.podlogs.md
  docs/sources/reference/components/loki/loki.source.syslog.md
  docs/sources/reference/components/loki/loki.source.windowsevent.md
  docs/sources/reference/components/loki/loki.write.md
Labels: backport

#3753 General updates and corrections to the Alloy Component docs part 5
  docs/sources/reference/components/otelcol/otelcol.exporter.otlp.md
  docs/sources/reference/components/otelcol/otelcol.exporter.otlphttp.md
  docs/sources/reference/components/otelcol/otelcol.exporter.prometheus.md
  docs/sources/reference/components/otelcol/otelcol.exporter.splunkhec.md
  docs/sources/reference/components/otelcol/otelcol.exporter.syslog.md
  docs/sources/reference/components/otelcol/otelcol.extension.jaeger_remote_sampling.md
  docs/sources/reference/components/otelcol/otelcol.processor.attributes.md
  docs/sources/reference/components/otelcol/otelcol.processor.deltatocumulative.md
  docs/sources/reference/components/otelcol/otelcol.processor.discovery.md
  docs/sources/reference/components/otelcol/otelcol.processor.filter.md
  docs/sources/reference/components/otelcol/otelcol.processor.interval.md
  docs/sources/reference/components/otelcol/otelcol.processor.k8sattributes.md
  docs/sources/reference/components/otelcol/otelcol.processor.resourcedetection.md
  docs/sources/reference/components/otelcol/otelcol.processor.span.md
  docs/sources/reference/components/otelcol/otelcol.processor.tail_sampling.md
  docs/sources/reference/components/otelcol/otelcol.processor.transform.md
  docs/sources/reference/components/otelcol/otelcol.receiver.datadog.md
  docs/sources/reference/components/otelcol/otelcol.receiver.filelog.md
  docs/sources/reference/components/otelcol/otelcol.receiver.influxdb.md
  docs/sources/reference/components/otelcol/otelcol.receiver.jaeger.md
  docs/sources/reference/components/otelcol/otelcol.receiver.loki.md
  docs/sources/reference/components/otelcol/otelcol.receiver.opencensus.md
  docs/sources/reference/components/otelcol/otelcol.receiver.otlp.md
  docs/sources/reference/components/otelcol/otelcol.receiver.prometheus.md
  docs/sources/reference/components/otelcol/otelcol.receiver.solace.md
Labels: backport

#3754 General updates and corrections to the Alloy Component docs part 6
  docs/sources/reference/components/otelcol/otelcol.receiver.syslog.md
  docs/sources/reference/components/otelcol/otelcol.receiver.tcplog.md
  docs/sources/reference/components/otelcol/otelcol.receiver.vcenter.md
  docs/sources/reference/components/otelcol/otelcol.receiver.zipkin.md
  docs/sources/reference/components/otelcol/otelcol.storage.file.md
  docs/sources/reference/components/prometheus/prometheus.exporter.apache.md
  docs/sources/reference/components/prometheus/prometheus.exporter.cadvisor.md
  docs/sources/reference/components/prometheus/prometheus.exporter.consul.md
  docs/sources/reference/components/prometheus/prometheus.exporter.dnsmasq.md
  docs/sources/reference/components/prometheus/prometheus.exporter.gcp.md
  docs/sources/reference/components/prometheus/prometheus.exporter.github.md
  docs/sources/reference/components/prometheus/prometheus.exporter.kafka.md
  docs/sources/reference/components/prometheus/prometheus.exporter.mongodb.md
  docs/sources/reference/components/prometheus/prometheus.exporter.oracledb.md
  docs/sources/reference/components/prometheus/prometheus.exporter.postgres.md
  docs/sources/reference/components/prometheus/prometheus.exporter.process.md
Labels: backport

#3756 General updates and corrections to the Alloy Component docs part 7
  docs/sources/reference/components/prometheus/prometheus.exporter.self.md
  docs/sources/reference/components/prometheus/prometheus.exporter.snmp.md
  docs/sources/reference/components/prometheus/prometheus.exporter.squid.md
  docs/sources/reference/components/prometheus/prometheus.exporter.statsd.md
  docs/sources/reference/components/prometheus/prometheus.exporter.unix.md
  docs/sources/reference/components/prometheus/prometheus.exporter.windows.md
  docs/sources/reference/components/prometheus/prometheus.operator.podmonitors.md
  docs/sources/reference/components/prometheus/prometheus.operator.probes.md
  docs/sources/reference/components/prometheus/prometheus.operator.scrapeconfigs.md
  docs/sources/reference/components/prometheus/prometheus.operator.servicemonitors.md
  docs/sources/reference/components/prometheus/prometheus.relabel.md
  docs/sources/reference/components/prometheus/prometheus.scrape.md
  docs/sources/reference/components/prometheus/prometheus.write.queue.md
  docs/sources/reference/components/pyroscope/pyroscope.ebpf.md
  docs/sources/reference/components/pyroscope/pyroscope.java.md
  docs/sources/reference/components/pyroscope/pyroscope.receive_http.md
  docs/sources/reference/components/pyroscope/pyroscope.relabel.md
  docs/sources/reference/components/pyroscope/pyroscope.write.md
  docs/sources/reference/components/remote/remote.http.md
  docs/sources/reference/components/remote/remote.kubernetes.secret.md
  docs/sources/reference/components/remote/remote.s3.md
  docs/sources/reference/components/remote/remote.vault.md
Labels: backport

#3757 General updates and corrections to the Alloy Component docs part 7 (#…
  docs/sources/reference/components/prometheus/prometheus.exporter.self.md
  docs/sources/reference/components/prometheus/prometheus.exporter.snmp.md
  docs/sources/reference/components/prometheus/prometheus.exporter.squid.md
  docs/sources/reference/components/prometheus/prometheus.exporter.statsd.md
  docs/sources/reference/components/prometheus/prometheus.exporter.unix.md
  docs/sources/reference/components/prometheus/prometheus.operator.podmonitors.md
  docs/sources/reference/components/prometheus/prometheus.operator.probes.md
  docs/sources/reference/components/prometheus/prometheus.operator.scrapeconfigs.md
  docs/sources/reference/components/prometheus/prometheus.operator.servicemonitors.md
  docs/sources/reference/components/prometheus/prometheus.relabel.md
  docs/sources/reference/components/prometheus/prometheus.scrape.md
  docs/sources/reference/components/prometheus/prometheus.write.queue.md
  docs/sources/reference/components/pyroscope/pyroscope.ebpf.md
  docs/sources/reference/components/pyroscope/pyroscope.java.md
  docs/sources/reference/components/pyroscope/pyroscope.receive_http.md
  docs/sources/reference/components/pyroscope/pyroscope.relabel.md
  docs/sources/reference/components/pyroscope/pyroscope.write.md
  docs/sources/reference/components/remote/remote.http.md
  docs/sources/reference/components/remote/remote.kubernetes.secret.md
  docs/sources/reference/components/remote/remote.s3.md
  docs/sources/reference/components/remote/remote.vault.md
Labels: backport

#3758 General updates and validation of cli docs
  docs/sources/reference/cli/convert.md
  docs/sources/reference/cli/environment-variables.md
  docs/sources/reference/cli/fmt.md
  docs/sources/reference/cli/run.md
  docs/sources/reference/cli/tools.md
  docs/sources/reference/cli/validate.md
Labels: backport

#3759 General updates and validation of cli docs (#3720)
  docs/sources/reference/cli/convert.md
  docs/sources/reference/cli/environment-variables.md
  docs/sources/reference/cli/fmt.md
  docs/sources/reference/cli/run.md
  docs/sources/reference/cli/tools.md
Labels: backport

#3761 General updates and validation of config blocks documentation (#3722)
  docs/sources/reference/config-blocks/argument.md
  docs/sources/reference/config-blocks/declare.md
  docs/sources/reference/config-blocks/export.md
  docs/sources/reference/config-blocks/foreach.md
  docs/sources/reference/config-blocks/http.md
  docs/sources/reference/config-blocks/import.file.md
  docs/sources/reference/config-blocks/import.git.md
  docs/sources/reference/config-blocks/import.http.md
  docs/sources/reference/config-blocks/import.string.md
  docs/sources/reference/config-blocks/livedebugging.md
  docs/sources/reference/config-blocks/logging.md
  docs/sources/reference/config-blocks/remotecfg.md
  docs/sources/reference/config-blocks/tracing.md
Labels: backport

#3771 add alloy learning journey
  docs/sources/introduction/_index.md
Labels: documentation, type/docs, backport release/v1.9

#3691 Fix dead link for ServiceMonitor in the prometheus.operator.servicemonitors documentation page
  docs/sources/reference/components/prometheus/prometheus.operator.servicemonitors.md
Labels: type/docs, backport release/v1.7, backport release/v1.8, backport release/v1.9

#3742 Add new collectors enabled_list to dns collector and update windows exporter version
  CHANGELOG.md
  docs/sources/_index.md
  docs/sources/_index.md.t
  docs/sources/reference/components/prometheus/prometheus.exporter.windows.md
  go.mod
  go.sum
  internal/component/prometheus/exporter/windows/config.go
  internal/component/prometheus/exporter/windows/config_default_windows_test.go
  internal/component/prometheus/exporter/windows/config_windows.go
  internal/converter/internal/staticconvert/internal/build/windows_exporter.go
  internal/static/integrations/windows_exporter/config.go
  internal/static/integrations/windows_exporter/config_windows.go
Labels: type/docs, os:windows

#3800 docs: Update nonroot.md to include how to set the securityContext for the configReloader sidecar
  docs/sources/configure/nonroot.md
Labels: backport

#3765 Mark the number comparison examples as not alloy syntax
  docs/sources/get-started/configuration-syntax/expressions/types_and_values.md
Labels: type/docs, backport release/v1.8, backport release/v1.9

#3803 Add links from Alloy otelcol components to the upstream OTelCol components (#3675)
  docs/sources/_index.md
  docs/sources/_index.md.t
  docs/sources/reference/components/otelcol/otelcol.auth.basic.md
  docs/sources/reference/components/otelcol/otelcol.auth.bearer.md
  docs/sources/reference/components/otelcol/otelcol.auth.headers.md
  docs/sources/reference/components/otelcol/otelcol.auth.oauth2.md
  docs/sources/reference/components/otelcol/otelcol.auth.sigv4.md
  docs/sources/reference/components/otelcol/otelcol.connector.host_info.md
  docs/sources/reference/components/otelcol/otelcol.connector.servicegraph.md
  docs/sources/reference/components/otelcol/otelcol.connector.spanmetrics.md
  docs/sources/reference/components/otelcol/otelcol.exporter.awss3.md
  docs/sources/reference/components/otelcol/otelcol.exporter.datadog.md
  docs/sources/reference/components/otelcol/otelcol.exporter.debug.md
  docs/sources/reference/components/otelcol/otelcol.exporter.googlecloud.md
  docs/sources/reference/components/otelcol/otelcol.exporter.kafka.md
  docs/sources/reference/components/otelcol/otelcol.exporter.loadbalancing.md
  docs/sources/reference/components/otelcol/otelcol.exporter.otlp.md
  docs/sources/reference/components/otelcol/otelcol.exporter.otlphttp.md
  docs/sources/reference/components/otelcol/otelcol.exporter.splunkhec.md
  docs/sources/reference/components/otelcol/otelcol.exporter.syslog.md
  docs/sources/reference/components/otelcol/otelcol.extension.jaeger_remote_sampling.md
  docs/sources/reference/components/otelcol/otelcol.processor.attributes.md
  docs/sources/reference/components/otelcol/otelcol.processor.batch.md
  docs/sources/reference/components/otelcol/otelcol.processor.cumulativetodelta.md
  docs/sources/reference/components/otelcol/otelcol.processor.deltatocumulative.md
  docs/sources/reference/components/otelcol/otelcol.processor.filter.md
  docs/sources/reference/components/otelcol/otelcol.processor.groupbyattrs.md
  docs/sources/reference/components/otelcol/otelcol.processor.interval.md
  docs/sources/reference/components/otelcol/otelcol.processor.k8sattributes.md
  docs/sources/reference/components/otelcol/otelcol.processor.memory_limiter.md
  docs/sources/reference/components/otelcol/otelcol.processor.probabilistic_sampler.md
  docs/sources/reference/components/otelcol/otelcol.processor.resourcedetection.md
  docs/sources/reference/components/otelcol/otelcol.processor.span.md
  docs/sources/reference/components/otelcol/otelcol.processor.tail_sampling.md
  docs/sources/reference/components/otelcol/otelcol.processor.transform.md
  docs/sources/reference/components/otelcol/otelcol.receiver.awscloudwatch.md
  docs/sources/reference/components/otelcol/otelcol.receiver.datadog.md
  docs/sources/reference/components/otelcol/otelcol.receiver.file_stats.md
  docs/sources/reference/components/otelcol/otelcol.receiver.filelog.md
  docs/sources/reference/components/otelcol/otelcol.receiver.influxdb.md
  docs/sources/reference/components/otelcol/otelcol.receiver.jaeger.md
  docs/sources/reference/components/otelcol/otelcol.receiver.kafka.md
  docs/sources/reference/components/otelcol/otelcol.receiver.loki.md
  docs/sources/reference/components/otelcol/otelcol.receiver.opencensus.md
  docs/sources/reference/components/otelcol/otelcol.receiver.otlp.md
  docs/sources/reference/components/otelcol/otelcol.receiver.prometheus.md
  docs/sources/reference/components/otelcol/otelcol.receiver.solace.md
  docs/sources/reference/components/otelcol/otelcol.receiver.splunkhec.md
  docs/sources/reference/components/otelcol/otelcol.receiver.syslog.md
  docs/sources/reference/components/otelcol/otelcol.receiver.tcplog.md
  docs/sources/reference/components/otelcol/otelcol.receiver.vcenter.md
  docs/sources/reference/components/otelcol/otelcol.receiver.zipkin.md
  docs/sources/reference/components/otelcol/otelcol.storage.file.md
Labels: backport

#3809 Update prometheus.exporter.unix.md
  docs/sources/reference/components/prometheus/prometheus.exporter.unix.md
Labels: type/docs, backport release/v1.9

#3798 chore(pyroscope): mark pyroscope.receive_http and pyroscope.relabel components GA
  CHANGELOG.md
  docs/sources/reference/components/pyroscope/pyroscope.receive_http.md
  docs/sources/reference/components/pyroscope/pyroscope.relabel.md
  internal/component/pyroscope/receive_http/receive_http.go
  internal/component/pyroscope/relabel/relabel.go
Labels: type/docs

#3830 fix loki.source.file docs re legacy positions file
  docs/sources/reference/components/loki/loki.source.file.md
  internal/component/common/loki/positions/positions.go
Labels: type/docs

#3822 Fix bad link syntax in the `beyla.ebpf` topic
  docs/sources/reference/components/beyla/beyla.ebpf.md
Labels: type/docs, backport release/v1.8, backport release/v1.9

#3857 fix(pyroscope.ebpf): send profiles concurrently
  CHANGELOG.md
  internal/component/pyroscope/ebpf/ebpf_linux.go
  internal/component/pyroscope/ebpf/metrics.go
  internal/component/pyroscope/ebpf/pool.go
  internal/component/pyroscope/ebpf/send.go
  internal/component/pyroscope/ebpf/send_test.go
Labels: bug, area/pyroscope, backport release/v1.8, backport release/v1.9

#3871 fix(pyroscope.ebpf): send profiles concurrently (#3857)
  CHANGELOG.md
  go.mod
  go.sum
  internal/cmd/integration-tests/configs/kafka/main.go
  internal/cmd/integration-tests/docker-compose.yaml
  internal/cmd/integration-tests/utils.go
  internal/component/pyroscope/ebpf/ebpf_linux.go
  internal/component/pyroscope/ebpf/metrics.go
  internal/component/pyroscope/ebpf/pool.go
  internal/component/pyroscope/ebpf/send.go
  internal/component/pyroscope/ebpf/send_test.go
Labels: backport

#3899 [v1.9 fixes] Upgrade a dependency, add windows exporter no-op params
  CHANGELOG.md
  docs/sources/reference/components/prometheus/prometheus.exporter.windows.md
  go.mod
  go.sum
  internal/component/prometheus/exporter/windows/config.go
  internal/component/prometheus/exporter/windows/windows.go
  internal/component/prometheus/exporter/windows/windows_test.go
Labels: type/docs
