Repository grafana/alloy, pull requests merged in 2025-02, with the labels that each got.

#2575 database_observability: change default collect_interval to 1 minute
  docs/sources/reference/components/database_observability/database_observability.mysql.md
  internal/component/database_observability/mysql/component.go
Labels: type/docs

#2587 pyroscope.ebpf: pass go_table_fallback arg
  CHANGELOG.md
  docs/sources/reference/components/pyroscope/pyroscope.ebpf.md
  internal/component/pyroscope/ebpf/args.go
  internal/component/pyroscope/ebpf/ebpf_linux.go
Labels: type/docs

#2614 fix(pyroscope.scrape): godeltaprof hiding
  CHANGELOG.md
  internal/component/pyroscope/scrape/target.go
  internal/component/pyroscope/scrape/target_test.go
Labels: area/pyroscope

#2574 pyroscope: Add relabel component for modifying and filtering profiles
  CHANGELOG.md
  docs/sources/reference/compatibility/_index.md
  docs/sources/reference/components/pyroscope/pyroscope.relabel.md
  internal/component/all/all.go
  internal/component/pyroscope/appender.go
  internal/component/pyroscope/receive_http/receive_http.go
  internal/component/pyroscope/receive_http/receive_http_test.go
  internal/component/pyroscope/relabel/metrics.go
  internal/component/pyroscope/relabel/relabel.go
  internal/component/pyroscope/relabel/relabel_test.go
  internal/component/pyroscope/write/write.go
  internal/component/pyroscope/write/write_test.go
Labels: area/pyroscope

#2604 pyroscope.scrape: add __profile_path_prefix__ label handling
  CHANGELOG.md
  docs/sources/reference/components/pyroscope/pyroscope.scrape.md
  internal/component/pyroscope/scrape/scrape.go
  internal/component/pyroscope/scrape/scrape_test.go
  internal/component/pyroscope/scrape/target.go
  internal/component/pyroscope/scrape/target_test.go
Labels: area/pyroscope

#2618 fix backticks in EC2 and Kuma discovery page
  docs/sources/reference/components/discovery/discovery.ec2.md
  docs/sources/reference/components/discovery/discovery.kuma.md
Labels: type/docs, backport release/v1.3, backport release/v1.4, backport release/v1.5, backport release/v1.6

#2627 pyroscope.scrape: remove relabeling, remove discovered targets field, remove public labels field, use labels builder
  CHANGELOG.md
  internal/component/pyroscope/scrape/manager.go
  internal/component/pyroscope/scrape/scrape.go
  internal/component/pyroscope/scrape/scrape_loop.go
  internal/component/pyroscope/scrape/scrape_loop_test.go
  internal/component/pyroscope/scrape/target.go
  internal/component/pyroscope/scrape/target_test.go
Labels: area/pyroscope

#2619 Update markdown styles in beyla docs
  docs/sources/reference/components/beyla/_index.md
  docs/sources/reference/components/beyla/beyla.ebpf.md
Labels: type/docs, backport release/v1.3, backport release/v1.4, backport release/v1.5, backport release/v1.6

#2625 Update markdown styles in discovery docs
  docs/sources/reference/components/discovery/_index.md
  docs/sources/reference/components/discovery/discovery.azure.md
  docs/sources/reference/components/discovery/discovery.consul.md
  docs/sources/reference/components/discovery/discovery.consulagent.md
  docs/sources/reference/components/discovery/discovery.digitalocean.md
  docs/sources/reference/components/discovery/discovery.dns.md
  docs/sources/reference/components/discovery/discovery.docker.md
  docs/sources/reference/components/discovery/discovery.dockerswarm.md
  docs/sources/reference/components/discovery/discovery.ec2.md
  docs/sources/reference/components/discovery/discovery.eureka.md
  docs/sources/reference/components/discovery/discovery.file.md
  docs/sources/reference/components/discovery/discovery.gce.md
  docs/sources/reference/components/discovery/discovery.hetzner.md
  docs/sources/reference/components/discovery/discovery.http.md
  docs/sources/reference/components/discovery/discovery.ionos.md
  docs/sources/reference/components/discovery/discovery.kubelet.md
  docs/sources/reference/components/discovery/discovery.kubernetes.md
  docs/sources/reference/components/discovery/discovery.kuma.md
  docs/sources/reference/components/discovery/discovery.lightsail.md
  docs/sources/reference/components/discovery/discovery.linode.md
  docs/sources/reference/components/discovery/discovery.marathon.md
  docs/sources/reference/components/discovery/discovery.nerve.md
  docs/sources/reference/components/discovery/discovery.nomad.md
  docs/sources/reference/components/discovery/discovery.openstack.md
  docs/sources/reference/components/discovery/discovery.ovhcloud.md
  docs/sources/reference/components/discovery/discovery.process.md
  docs/sources/reference/components/discovery/discovery.puppetdb.md
  docs/sources/reference/components/discovery/discovery.relabel.md
  docs/sources/reference/components/discovery/discovery.scaleway.md
  docs/sources/reference/components/discovery/discovery.serverset.md
  docs/sources/reference/components/discovery/discovery.triton.md
  docs/sources/reference/components/discovery/discovery.uyuni.md
Labels: type/docs, backport release/v1.3, backport release/v1.4, backport release/v1.5, backport release/v1.6

#2626 Update markdown styles in faro docs
  docs/sources/reference/components/faro/_index.md
  docs/sources/reference/components/faro/faro.receiver.md
Labels: type/docs, backport release/v1.3, backport release/v1.4, backport release/v1.5, backport release/v1.6

#2620 Update markdown styles in database_observability docs
  docs/sources/reference/components/database_observability/_index.md
Labels: type/docs, backport release/v1.6

#2594 Apply linting rules to loki.* component docs
  docs/sources/reference/components/local/_index.md
  docs/sources/reference/components/local/local.file.md
  docs/sources/reference/components/local/local.file_match.md
  docs/sources/reference/components/loki/_index.md
  docs/sources/reference/components/loki/loki.echo.md
  docs/sources/reference/components/loki/loki.process.md
  docs/sources/reference/components/loki/loki.relabel.md
  docs/sources/reference/components/loki/loki.rules.kubernetes.md
  docs/sources/reference/components/loki/loki.secretfilter.md
  docs/sources/reference/components/loki/loki.source.api.md
  docs/sources/reference/components/loki/loki.source.awsfirehose.md
  docs/sources/reference/components/loki/loki.source.azure_event_hubs.md
  docs/sources/reference/components/loki/loki.source.cloudflare.md
  docs/sources/reference/components/loki/loki.source.docker.md
  docs/sources/reference/components/loki/loki.source.file.md
  docs/sources/reference/components/loki/loki.source.gcplog.md
  docs/sources/reference/components/loki/loki.source.gelf.md
  docs/sources/reference/components/loki/loki.source.heroku.md
  docs/sources/reference/components/loki/loki.source.journal.md
  docs/sources/reference/components/loki/loki.source.kafka.md
  docs/sources/reference/components/loki/loki.source.kubernetes.md
  docs/sources/reference/components/loki/loki.source.kubernetes_events.md
  docs/sources/reference/components/loki/loki.source.podlogs.md
  docs/sources/reference/components/loki/loki.source.syslog.md
  docs/sources/reference/components/loki/loki.source.windowsevent.md
  docs/sources/reference/components/loki/loki.write.md
Labels: type/docs, backport release/v1.3, backport release/v1.4, backport release/v1.5, backport release/v1.6

#2685 [release/v1.3] Apply linting rules to loki.* component docs
  docs/sources/reference/components/local/_index.md
  docs/sources/reference/components/local/local.file.md
  docs/sources/reference/components/local/local.file_match.md
  docs/sources/reference/components/loki/_index.md
  docs/sources/reference/components/loki/loki.echo.md
  docs/sources/reference/components/loki/loki.process.md
  docs/sources/reference/components/loki/loki.relabel.md
  docs/sources/reference/components/loki/loki.rules.kubernetes.md
  docs/sources/reference/components/loki/loki.source.api.md
  docs/sources/reference/components/loki/loki.source.awsfirehose.md
  docs/sources/reference/components/loki/loki.source.azure_event_hubs.md
  docs/sources/reference/components/loki/loki.source.cloudflare.md
  docs/sources/reference/components/loki/loki.source.docker.md
  docs/sources/reference/components/loki/loki.source.file.md
  docs/sources/reference/components/loki/loki.source.gcplog.md
  docs/sources/reference/components/loki/loki.source.gelf.md
  docs/sources/reference/components/loki/loki.source.heroku.md
  docs/sources/reference/components/loki/loki.source.journal.md
  docs/sources/reference/components/loki/loki.source.kafka.md
  docs/sources/reference/components/loki/loki.source.kubernetes.md
  docs/sources/reference/components/loki/loki.source.kubernetes_events.md
  docs/sources/reference/components/loki/loki.source.podlogs.md
  docs/sources/reference/components/loki/loki.source.syslog.md
  docs/sources/reference/components/loki/loki.source.windowsevent.md
  docs/sources/reference/components/loki/loki.write.md
Labels: type/docs, backport

#2684 [release/v1.4] Apply linting rules to loki.* component docs
  docs/sources/reference/components/local/_index.md
  docs/sources/reference/components/local/local.file.md
  docs/sources/reference/components/local/local.file_match.md
  docs/sources/reference/components/loki/_index.md
  docs/sources/reference/components/loki/loki.echo.md
  docs/sources/reference/components/loki/loki.process.md
  docs/sources/reference/components/loki/loki.relabel.md
  docs/sources/reference/components/loki/loki.rules.kubernetes.md
  docs/sources/reference/components/loki/loki.source.api.md
  docs/sources/reference/components/loki/loki.source.awsfirehose.md
  docs/sources/reference/components/loki/loki.source.azure_event_hubs.md
  docs/sources/reference/components/loki/loki.source.cloudflare.md
  docs/sources/reference/components/loki/loki.source.docker.md
  docs/sources/reference/components/loki/loki.source.file.md
  docs/sources/reference/components/loki/loki.source.gcplog.md
  docs/sources/reference/components/loki/loki.source.gelf.md
  docs/sources/reference/components/loki/loki.source.heroku.md
  docs/sources/reference/components/loki/loki.source.journal.md
  docs/sources/reference/components/loki/loki.source.kafka.md
  docs/sources/reference/components/loki/loki.source.kubernetes.md
  docs/sources/reference/components/loki/loki.source.kubernetes_events.md
  docs/sources/reference/components/loki/loki.source.podlogs.md
  docs/sources/reference/components/loki/loki.source.syslog.md
  docs/sources/reference/components/loki/loki.source.windowsevent.md
  docs/sources/reference/components/loki/loki.write.md
Labels: type/docs, backport

#2683 [release/v1.5] Apply linting rules to loki.* component docs
  docs/sources/reference/components/local/_index.md
  docs/sources/reference/components/local/local.file.md
  docs/sources/reference/components/local/local.file_match.md
  docs/sources/reference/components/loki/_index.md
  docs/sources/reference/components/loki/loki.echo.md
  docs/sources/reference/components/loki/loki.process.md
  docs/sources/reference/components/loki/loki.relabel.md
  docs/sources/reference/components/loki/loki.rules.kubernetes.md
  docs/sources/reference/components/loki/loki.secretfilter.md
  docs/sources/reference/components/loki/loki.source.api.md
  docs/sources/reference/components/loki/loki.source.awsfirehose.md
  docs/sources/reference/components/loki/loki.source.azure_event_hubs.md
  docs/sources/reference/components/loki/loki.source.cloudflare.md
  docs/sources/reference/components/loki/loki.source.docker.md
  docs/sources/reference/components/loki/loki.source.file.md
  docs/sources/reference/components/loki/loki.source.gcplog.md
  docs/sources/reference/components/loki/loki.source.gelf.md
  docs/sources/reference/components/loki/loki.source.heroku.md
  docs/sources/reference/components/loki/loki.source.journal.md
  docs/sources/reference/components/loki/loki.source.kafka.md
  docs/sources/reference/components/loki/loki.source.kubernetes.md
  docs/sources/reference/components/loki/loki.source.kubernetes_events.md
  docs/sources/reference/components/loki/loki.source.podlogs.md
  docs/sources/reference/components/loki/loki.source.syslog.md
  docs/sources/reference/components/loki/loki.source.windowsevent.md
  docs/sources/reference/components/loki/loki.write.md
Labels: type/docs, backport

#2680 [release/v1.4] Apply linting rules to mimir.* component docs
  docs/sources/reference/components/mimir/_index.md
  docs/sources/reference/components/mimir/mimir.rules.kubernetes.md
Labels: type/docs, backport

#2678 [release/v1.4] Apply linting rules to pyroscope.* component docs
  docs/sources/reference/components/pyroscope/_index.md
  docs/sources/reference/components/pyroscope/pyroscope.ebpf.md
  docs/sources/reference/components/pyroscope/pyroscope.java.md
  docs/sources/reference/components/pyroscope/pyroscope.scrape.md
  docs/sources/reference/components/pyroscope/pyroscope.write.md
Labels: type/docs, backport

#2676 [release/v1.6] Apply linting rules to pyroscope.* component docs
  docs/sources/reference/components/pyroscope/_index.md
  docs/sources/reference/components/pyroscope/pyroscope.ebpf.md
  docs/sources/reference/components/pyroscope/pyroscope.java.md
  docs/sources/reference/components/pyroscope/pyroscope.receive_http.md
  docs/sources/reference/components/pyroscope/pyroscope.scrape.md
  docs/sources/reference/components/pyroscope/pyroscope.write.md
Labels: type/docs, backport

#2660 [release/v1.3] Update markdown styles in discovery docs
  docs/sources/reference/components/discovery/_index.md
  docs/sources/reference/components/discovery/discovery.azure.md
  docs/sources/reference/components/discovery/discovery.consul.md
  docs/sources/reference/components/discovery/discovery.consulagent.md
  docs/sources/reference/components/discovery/discovery.digitalocean.md
  docs/sources/reference/components/discovery/discovery.dns.md
  docs/sources/reference/components/discovery/discovery.docker.md
  docs/sources/reference/components/discovery/discovery.dockerswarm.md
  docs/sources/reference/components/discovery/discovery.ec2.md
  docs/sources/reference/components/discovery/discovery.eureka.md
  docs/sources/reference/components/discovery/discovery.file.md
  docs/sources/reference/components/discovery/discovery.gce.md
  docs/sources/reference/components/discovery/discovery.hetzner.md
  docs/sources/reference/components/discovery/discovery.http.md
  docs/sources/reference/components/discovery/discovery.ionos.md
  docs/sources/reference/components/discovery/discovery.kubelet.md
  docs/sources/reference/components/discovery/discovery.kubernetes.md
  docs/sources/reference/components/discovery/discovery.kuma.md
  docs/sources/reference/components/discovery/discovery.lightsail.md
  docs/sources/reference/components/discovery/discovery.linode.md
  docs/sources/reference/components/discovery/discovery.marathon.md
  docs/sources/reference/components/discovery/discovery.nerve.md
  docs/sources/reference/components/discovery/discovery.nomad.md
  docs/sources/reference/components/discovery/discovery.openstack.md
  docs/sources/reference/components/discovery/discovery.ovhcloud.md
  docs/sources/reference/components/discovery/discovery.process.md
  docs/sources/reference/components/discovery/discovery.puppetdb.md
  docs/sources/reference/components/discovery/discovery.relabel.md
  docs/sources/reference/components/discovery/discovery.scaleway.md
  docs/sources/reference/components/discovery/discovery.serverset.md
  docs/sources/reference/components/discovery/discovery.triton.md
  docs/sources/reference/components/discovery/discovery.uyuni.md
Labels: type/docs, backport

#2659 [release/v1.4] Update markdown styles in discovery docs
  docs/sources/reference/components/discovery/_index.md
  docs/sources/reference/components/discovery/discovery.azure.md
  docs/sources/reference/components/discovery/discovery.consul.md
  docs/sources/reference/components/discovery/discovery.consulagent.md
  docs/sources/reference/components/discovery/discovery.digitalocean.md
  docs/sources/reference/components/discovery/discovery.dns.md
  docs/sources/reference/components/discovery/discovery.docker.md
  docs/sources/reference/components/discovery/discovery.dockerswarm.md
  docs/sources/reference/components/discovery/discovery.ec2.md
  docs/sources/reference/components/discovery/discovery.eureka.md
  docs/sources/reference/components/discovery/discovery.file.md
  docs/sources/reference/components/discovery/discovery.gce.md
  docs/sources/reference/components/discovery/discovery.hetzner.md
  docs/sources/reference/components/discovery/discovery.http.md
  docs/sources/reference/components/discovery/discovery.ionos.md
  docs/sources/reference/components/discovery/discovery.kubelet.md
  docs/sources/reference/components/discovery/discovery.kubernetes.md
  docs/sources/reference/components/discovery/discovery.kuma.md
  docs/sources/reference/components/discovery/discovery.lightsail.md
  docs/sources/reference/components/discovery/discovery.linode.md
  docs/sources/reference/components/discovery/discovery.marathon.md
  docs/sources/reference/components/discovery/discovery.nerve.md
  docs/sources/reference/components/discovery/discovery.nomad.md
  docs/sources/reference/components/discovery/discovery.openstack.md
  docs/sources/reference/components/discovery/discovery.ovhcloud.md
  docs/sources/reference/components/discovery/discovery.process.md
  docs/sources/reference/components/discovery/discovery.puppetdb.md
  docs/sources/reference/components/discovery/discovery.relabel.md
  docs/sources/reference/components/discovery/discovery.scaleway.md
  docs/sources/reference/components/discovery/discovery.serverset.md
  docs/sources/reference/components/discovery/discovery.triton.md
  docs/sources/reference/components/discovery/discovery.uyuni.md
Labels: type/docs, backport

#2658 [release/v1.5] Update markdown styles in discovery docs
  docs/sources/reference/components/discovery/_index.md
  docs/sources/reference/components/discovery/discovery.azure.md
  docs/sources/reference/components/discovery/discovery.consul.md
  docs/sources/reference/components/discovery/discovery.consulagent.md
  docs/sources/reference/components/discovery/discovery.digitalocean.md
  docs/sources/reference/components/discovery/discovery.dns.md
  docs/sources/reference/components/discovery/discovery.docker.md
  docs/sources/reference/components/discovery/discovery.dockerswarm.md
  docs/sources/reference/components/discovery/discovery.ec2.md
  docs/sources/reference/components/discovery/discovery.eureka.md
  docs/sources/reference/components/discovery/discovery.file.md
  docs/sources/reference/components/discovery/discovery.gce.md
  docs/sources/reference/components/discovery/discovery.hetzner.md
  docs/sources/reference/components/discovery/discovery.http.md
  docs/sources/reference/components/discovery/discovery.ionos.md
  docs/sources/reference/components/discovery/discovery.kubelet.md
  docs/sources/reference/components/discovery/discovery.kubernetes.md
  docs/sources/reference/components/discovery/discovery.kuma.md
  docs/sources/reference/components/discovery/discovery.lightsail.md
  docs/sources/reference/components/discovery/discovery.linode.md
  docs/sources/reference/components/discovery/discovery.marathon.md
  docs/sources/reference/components/discovery/discovery.nerve.md
  docs/sources/reference/components/discovery/discovery.nomad.md
  docs/sources/reference/components/discovery/discovery.openstack.md
  docs/sources/reference/components/discovery/discovery.ovhcloud.md
  docs/sources/reference/components/discovery/discovery.process.md
  docs/sources/reference/components/discovery/discovery.puppetdb.md
  docs/sources/reference/components/discovery/discovery.relabel.md
  docs/sources/reference/components/discovery/discovery.scaleway.md
  docs/sources/reference/components/discovery/discovery.serverset.md
  docs/sources/reference/components/discovery/discovery.triton.md
  docs/sources/reference/components/discovery/discovery.uyuni.md
Labels: type/docs, backport

#2674 [release/v1.3] Apply linting rules to remote.* component docs
  docs/sources/reference/components/remote/_index.md
  docs/sources/reference/components/remote/remote.http.md
  docs/sources/reference/components/remote/remote.kubernetes.configmap.md
  docs/sources/reference/components/remote/remote.kubernetes.secret.md
  docs/sources/reference/components/remote/remote.s3.md
  docs/sources/reference/components/remote/remote.vault.md
Labels: type/docs, backport

#2664 [release/v1.3] Update markdown styles in faro docs
  docs/sources/reference/components/faro/_index.md
  docs/sources/reference/components/faro/faro.receiver.md
Labels: type/docs, backport

#2662 [release/v1.5] Update markdown styles in faro docs
  docs/sources/reference/components/faro/_index.md
  docs/sources/reference/components/faro/faro.receiver.md
Labels: type/docs, backport

#2661 [release/v1.6] Update markdown styles in faro docs
  docs/sources/reference/components/faro/_index.md
  docs/sources/reference/components/faro/faro.receiver.md
Labels: type/docs, backport

#2681 [release/v1.4] Apply linting rules to mimir.* component docs
  docs/sources/reference/components/mimir/_index.md
  docs/sources/reference/components/mimir/mimir.rules.kubernetes.md
Labels: type/docs, backport

#1574 Update to Prometheus v2.54.1
  CHANGELOG.md
  docs/sources/reference/components/discovery/discovery.docker.md
  docs/sources/reference/components/discovery/discovery.ec2.md
  docs/sources/reference/components/discovery/discovery.kubernetes.md
  docs/sources/reference/components/discovery/discovery.linode.md
  docs/sources/reference/components/discovery/discovery.openstack.md
  docs/sources/reference/components/discovery/discovery.ovhcloud.md
  docs/sources/reference/components/prometheus/prometheus.remote_write.md
  docs/sources/reference/components/prometheus/prometheus.scrape.md
  docs/sources/shared/reference/components/azure-managed_identity-block.md
  docs/sources/shared/reference/components/azure-oauth-block.md
  docs/sources/shared/reference/components/azuread-sdk.md
  go.mod
  go.sum
  internal/cmd/integration-tests/tests/scrape-prom-metrics/config.alloy
  internal/component/discovery/docker/docker.go
  internal/component/discovery/linode/linode.go
  internal/component/discovery/linode/linode_test.go
  internal/component/faro/receiver/server.go
  internal/component/loki/source/api/internal/lokipush/push_api_server.go
  internal/component/prometheus/receive_http/receive_http.go
  internal/component/prometheus/receive_http/receive_http_test.go
  internal/component/prometheus/remotewrite/remote_write.go
  internal/component/prometheus/remotewrite/types.go
  internal/component/prometheus/remotewrite/types_test.go
  internal/component/prometheus/scrape/scrape.go
  internal/converter/internal/prometheusconvert/component/docker.go
  internal/converter/internal/prometheusconvert/component/linode.go
  internal/converter/internal/prometheusconvert/component/remote_write.go
  internal/converter/internal/prometheusconvert/component/scrape.go
  internal/converter/internal/promtailconvert/internal/build/docker_sd.go
  internal/converter/internal/staticconvert/testdata-v2/integrations_v2.alloy
  internal/converter/internal/staticconvert/testdata-v2/unsupported.alloy
  internal/converter/internal/staticconvert/testdata/prom_remote_write.alloy
  internal/converter/internal/staticconvert/testdata/prom_scrape.alloy
  internal/converter/internal/staticconvert/testdata/sanitize.alloy
  internal/converter/internal/staticconvert/testdata/traces.alloy
  internal/converter/internal/staticconvert/testdata/unsupported.alloy
  internal/converter/internal/staticconvert/testdata_linux/promtail_prom.alloy
  internal/converter/internal/staticconvert/testdata_windows/promtail_prom.alloy
  internal/static/metrics/instance/marshal_test.go
  internal/static/metrics/wal/util.go
Labels: type/docs

#1480 Dynamic pipelines - a new `foreach` block
  CHANGELOG.md
  docs/design/1443-dynamic-pipelines.md
  docs/sources/reference/config-blocks/foreach.md
  docs/sources/reference/stdlib/array.md
  docs/sources/shared/stability/experimental_feature.md
  internal/runtime/alloy.go
  internal/runtime/foreach_stringer_test.go
  internal/runtime/foreach_test.go
  internal/runtime/import_git_test.go
  internal/runtime/import_test.go
  internal/runtime/internal/controller/component_references.go
  internal/runtime/internal/controller/loader.go
  internal/runtime/internal/controller/loader_test.go
  internal/runtime/internal/controller/node_builtin_component.go
  internal/runtime/internal/controller/node_builtin_component_test.go
  internal/runtime/internal/controller/node_config.go
  internal/runtime/internal/controller/node_config_foreach.go
  internal/runtime/internal/controller/node_config_foreach_test.go
  internal/runtime/internal/controller/node_custom_component.go
  internal/runtime/internal/testcomponents/pulse.go
  internal/runtime/internal/testcomponents/string_receiver.go
  internal/runtime/internal/testcomponents/stringer.go
  internal/runtime/internal/testcomponents/summation_receiver.go
  internal/runtime/source.go
  internal/runtime/testdata/foreach/foreach_1.txtar
  internal/runtime/testdata/foreach/foreach_10.txtar
  internal/runtime/testdata/foreach/foreach_11.txtar
  internal/runtime/testdata/foreach/foreach_2.txtar
  internal/runtime/testdata/foreach/foreach_3.txtar
  internal/runtime/testdata/foreach/foreach_4.txtar
  internal/runtime/testdata/foreach/foreach_5.txtar
  internal/runtime/testdata/foreach/foreach_6.txtar
  internal/runtime/testdata/foreach/foreach_7.txtar
  internal/runtime/testdata/foreach/foreach_8.txtar
  internal/runtime/testdata/foreach/foreach_9.txtar
  internal/runtime/testdata/foreach_metrics/foreach_1.txtar
  internal/runtime/testdata/foreach_metrics/foreach_2.txtar
  internal/runtime/testdata/foreach_metrics/foreach_3.txtar
  internal/runtime/testdata/foreach_stringer/foreach_1.txtar
  internal/runtime/testdata/foreach_stringer/foreach_2.txtar
  internal/runtime/testdata/foreach_stringer/foreach_3.txtar
  internal/runtime/testdata/foreach_stringer/foreach_4.txtar
  internal/runtime/testdata/foreach_stringer/foreach_5.txtar
  internal/runtime/testdata/foreach_stringer/foreach_6.txtar
  internal/runtime/testdata/foreach_stringer/foreach_7.txtar
  internal/web/ui/src/features/component/ComponentList.tsx
  internal/web/ui/src/features/component/ComponentView.tsx
  internal/web/ui/src/pages/PageRemoteComponentList.tsx
Labels: type/docs, needs-attention

#2665 Add walqueue sharding
  CHANGELOG.md
  docs/sources/reference/components/prometheus/prometheus.write.queue.md
  go.mod
  go.sum
  internal/component/prometheus/write/queue/types.go
  internal/component/prometheus/write/queue/types_test.go
Labels: type/docs

#2723 update the stability level of remotecfg to generally available
  CHANGELOG.md
  docs/sources/reference/config-blocks/remotecfg.md
  internal/service/remotecfg/remotecfg.go
Labels: type/docs

#2724 Update the Alloy Linux and FreeBSD version support
  docs/sources/introduction/supported-platforms.md
Labels: type/docs, backport release/v1.6

#2689 otelcol.processor.cumulativetodelta: new component
  CHANGELOG.md
  docs/sources/reference/compatibility/_index.md
  docs/sources/reference/components/otelcol/otelcol.processor.cumulativetodelta.md
  go.mod
  go.sum
  internal/component/all/all.go
  internal/component/otelcol/processor/cumulativetodelta/cumulativetodelta.go
  internal/component/otelcol/processor/cumulativetodelta/cumulativetodelta_test.go
  internal/converter/internal/otelcolconvert/converter_cumulativetodeltaprocessor.go
  internal/converter/internal/otelcolconvert/testdata/cumulativetodelta.alloy
  internal/converter/internal/otelcolconvert/testdata/cumulativetodelta.yaml
Labels: type/docs

#2633 Add option to merge SNMP configs (custom with embedded)
  CHANGELOG.md
  docs/sources/reference/components/prometheus/prometheus.exporter.snmp.md
  internal/cmd/integration-tests/tests/snmp/config.alloy
  internal/cmd/integration-tests/tests/snmp/snmp_metrics_test.go
  internal/component/prometheus/exporter/snmp/snmp.go
  internal/component/prometheus/exporter/snmp/snmp_test.go
  internal/converter/internal/staticconvert/internal/build/snmp_exporter.go
  internal/static/integrations/snmp_exporter/snmp_exporter.go
  internal/static/integrations/snmp_exporter/snmp_exporter_test.go
  internal/static/integrations/v2/snmp_exporter/snmp_exporter.go
Labels: type/docs

#2727 Update otelcol.exporter.kafka.md
  docs/sources/reference/components/otelcol/otelcol.exporter.kafka.md
Labels: type/docs, backport release/v1.2, backport release/v1.3, backport release/v1.4, backport release/v1.5, backport release/v1.6

#2745 put windowsevent stage in loki process doc back
  docs/sources/reference/components/loki/loki.process.md
Labels: type/docs

#2751 [otelcol.connector.servicegraph] Remove seconds from metric names
  docs/sources/reference/components/otelcol/otelcol.connector.servicegraph.md
Labels: type/docs, backport release/v1.5, backport release/v1.6

#2710 pyroscope.scrape: do not drop __meta labels
  CHANGELOG.md
  docs/sources/reference/components/pyroscope/pyroscope.write.md
  internal/component/pyroscope/scrape/scrape_loop_test.go
  internal/component/pyroscope/scrape/target.go
  internal/component/pyroscope/scrape/target_test.go
Labels: type/docs

#2701 Add the otelcol tcplog receiver
  CHANGELOG.md
  docs/sources/reference/compatibility/_index.md
  docs/sources/reference/components/otelcol/otelcol.receiver.tcplog.md
  go.mod
  go.sum
  internal/component/all/all.go
  internal/component/otelcol/receiver/tcplog/tcplog.go
  internal/component/otelcol/receiver/tcplog/tcplog_test.go
  internal/converter/internal/otelcolconvert/converter_tcplogreceiver.go
  internal/converter/internal/otelcolconvert/testdata/tcplog.alloy
  internal/converter/internal/otelcolconvert/testdata/tcplog.yaml
Labels: type/docs

#2785 Update the otelcol.receiver.vcenter doc
  docs/sources/reference/components/otelcol/otelcol.receiver.vcenter.md
Labels: type/docs, backport release/v1.3, backport release/v1.4, backport release/v1.5, backport release/v1.6

#2790 updates explore metrics product name in alloy next
  docs/sources/tutorials/send-metrics-to-prometheus.md
Labels: type/docs, backport release/v1.6

#2796 Add note about version applicability for Generate support bundle
  docs/sources/troubleshoot/support_bundle.md
Labels: type/docs, backport release/v1.6

#2470 Update Grafana Alloy landing page
  docs/sources/_index.md
  docs/sources/_index.md.t
Labels: type/docs, backport release/v1.6

#2792 Apply linting rules to Prometheus topics
  docs/sources/reference/components/prometheus/_index.md
  docs/sources/reference/components/prometheus/prometheus.exporter.apache.md
  docs/sources/reference/components/prometheus/prometheus.exporter.azure.md
  docs/sources/reference/components/prometheus/prometheus.exporter.blackbox.md
  docs/sources/reference/components/prometheus/prometheus.exporter.cadvisor.md
  docs/sources/reference/components/prometheus/prometheus.exporter.catchpoint.md
  docs/sources/reference/components/prometheus/prometheus.exporter.cloudwatch.md
  docs/sources/reference/components/prometheus/prometheus.exporter.consul.md
  docs/sources/reference/components/prometheus/prometheus.exporter.dnsmasq.md
  docs/sources/reference/components/prometheus/prometheus.exporter.elasticsearch.md
  docs/sources/reference/components/prometheus/prometheus.exporter.gcp.md
  docs/sources/reference/components/prometheus/prometheus.exporter.github.md
  docs/sources/reference/components/prometheus/prometheus.exporter.kafka.md
  docs/sources/reference/components/prometheus/prometheus.exporter.memcached.md
  docs/sources/reference/components/prometheus/prometheus.exporter.mongodb.md
  docs/sources/reference/components/prometheus/prometheus.exporter.mssql.md
  docs/sources/reference/components/prometheus/prometheus.exporter.mysql.md
  docs/sources/reference/components/prometheus/prometheus.exporter.oracledb.md
  docs/sources/reference/components/prometheus/prometheus.exporter.postgres.md
  docs/sources/reference/components/prometheus/prometheus.exporter.process.md
  docs/sources/reference/components/prometheus/prometheus.exporter.redis.md
  docs/sources/reference/components/prometheus/prometheus.exporter.self.md
  docs/sources/reference/components/prometheus/prometheus.exporter.snmp.md
  docs/sources/reference/components/prometheus/prometheus.exporter.snowflake.md
  docs/sources/reference/components/prometheus/prometheus.exporter.squid.md
  docs/sources/reference/components/prometheus/prometheus.exporter.statsd.md
  docs/sources/reference/components/prometheus/prometheus.exporter.unix.md
  docs/sources/reference/components/prometheus/prometheus.exporter.windows.md
  docs/sources/reference/components/prometheus/prometheus.operator.podmonitors.md
  docs/sources/reference/components/prometheus/prometheus.operator.probes.md
  docs/sources/reference/components/prometheus/prometheus.operator.servicemonitors.md
  docs/sources/reference/components/prometheus/prometheus.receive_http.md
  docs/sources/reference/components/prometheus/prometheus.relabel.md
  docs/sources/reference/components/prometheus/prometheus.remote_write.md
  docs/sources/reference/components/prometheus/prometheus.scrape.md
  docs/sources/reference/components/prometheus/prometheus.write.queue.md
Labels: type/docs, backport release/v1.3, backport release/v1.4, backport release/v1.5, backport release/v1.6, backport release/v1.7

#2852 fix: Update OTEL_VERSION used in links in docs
  docs/sources/_index.md
  docs/sources/_index.md.t
Labels: type/docs, backport release/v1.7

#2854 [release v1.7] fix: Update OTEL_VERSION used in links in docs]
  docs/sources/_index.md
  docs/sources/_index.md.t
Labels: type/docs, backport

#2766 Update wording for top-level configuration blocks
  docs/sources/reference/config-blocks/_index.md
Labels: type/docs, backport release/v1.5, backport release/v1.6, backport release/v1.7

#2851 Live debugging prometheus.scrape
  CHANGELOG.md
  docs/sources/troubleshoot/debug.md
  internal/component/prometheus/remotewrite/remote_write.go
  internal/component/prometheus/scrape/scrape.go
  internal/component/prometheus/scrape/scrape_clustering_test.go
  internal/component/prometheus/scrape/scrape_test.go
Labels: type/docs

#2630 loki.secretfilter: utilize fuzz testing for complex input
  .github/workflows/fuzz-go.yml
  internal/component/loki/secretfilter/secretfilter.go
  internal/component/loki/secretfilter/secretfilter_test.go
  syntax/vm/op_binary.go
  syntax/vm/vm_test.go
Labels: enhancement

#2835 [release/v1.6] Apply linting rules to Prometheus topics
  docs/sources/reference/components/prometheus/_index.md
  docs/sources/reference/components/prometheus/prometheus.exporter.apache.md
  docs/sources/reference/components/prometheus/prometheus.exporter.azure.md
  docs/sources/reference/components/prometheus/prometheus.exporter.blackbox.md
  docs/sources/reference/components/prometheus/prometheus.exporter.cadvisor.md
  docs/sources/reference/components/prometheus/prometheus.exporter.catchpoint.md
  docs/sources/reference/components/prometheus/prometheus.exporter.cloudwatch.md
  docs/sources/reference/components/prometheus/prometheus.exporter.consul.md
  docs/sources/reference/components/prometheus/prometheus.exporter.dnsmasq.md
  docs/sources/reference/components/prometheus/prometheus.exporter.elasticsearch.md
  docs/sources/reference/components/prometheus/prometheus.exporter.gcp.md
  docs/sources/reference/components/prometheus/prometheus.exporter.github.md
  docs/sources/reference/components/prometheus/prometheus.exporter.kafka.md
  docs/sources/reference/components/prometheus/prometheus.exporter.memcached.md
  docs/sources/reference/components/prometheus/prometheus.exporter.mongodb.md
  docs/sources/reference/components/prometheus/prometheus.exporter.mssql.md
  docs/sources/reference/components/prometheus/prometheus.exporter.mysql.md
  docs/sources/reference/components/prometheus/prometheus.exporter.oracledb.md
  docs/sources/reference/components/prometheus/prometheus.exporter.postgres.md
  docs/sources/reference/components/prometheus/prometheus.exporter.process.md
  docs/sources/reference/components/prometheus/prometheus.exporter.redis.md
  docs/sources/reference/components/prometheus/prometheus.exporter.self.md
  docs/sources/reference/components/prometheus/prometheus.exporter.snmp.md
  docs/sources/reference/components/prometheus/prometheus.exporter.snowflake.md
  docs/sources/reference/components/prometheus/prometheus.exporter.squid.md
  docs/sources/reference/components/prometheus/prometheus.exporter.statsd.md
  docs/sources/reference/components/prometheus/prometheus.exporter.unix.md
  docs/sources/reference/components/prometheus/prometheus.exporter.windows.md
  docs/sources/reference/components/prometheus/prometheus.operator.podmonitors.md
  docs/sources/reference/components/prometheus/prometheus.operator.probes.md
  docs/sources/reference/components/prometheus/prometheus.operator.servicemonitors.md
  docs/sources/reference/components/prometheus/prometheus.receive_http.md
  docs/sources/reference/components/prometheus/prometheus.relabel.md
  docs/sources/reference/components/prometheus/prometheus.remote_write.md
  docs/sources/reference/components/prometheus/prometheus.scrape.md
  docs/sources/reference/components/prometheus/prometheus.write.queue.md
Labels: type/docs, backport

#2808 Followup doc cleanup for the Beyla2.0 support PR.
  docs/sources/reference/components/beyla/beyla.ebpf.md
Labels: type/docs, backport release/v1.7
