Repository grafana/alloy, pull requests merged in 2025-01, with the labels that each got.

#2307 Fix non-working Promtool example
  docs/sources/reference/components/prometheus/prometheus.remote_write.md
Labels: type/docs, backport release/v1.0, backport release/v1.1, backport release/v1.2, backport release/v1.3, backport release/v1.4, backport release/v1.5

#2294 Performance optimization for live debugging feature
  CHANGELOG.md
  docs/sources/reference/config-blocks/livedebugging.md
  internal/component/loki/process/process_test.go
  internal/web/api/api.go
Labels: type/docs

#2335 fix debug doc
  docs/sources/troubleshoot/debug.md
Labels: type/docs

#2263 feat: Add the otelcol syslog receiver
  CHANGELOG.md
  docs/sources/reference/compatibility/_index.md
  docs/sources/reference/components/otelcol/otelcol.receiver.syslog.md
  go.mod
  go.sum
  internal/component/all/all.go
  internal/component/otelcol/config_consumer_retry.go
  internal/component/otelcol/receiver/syslog/syslog.go
  internal/component/otelcol/receiver/syslog/syslog_test.go
  internal/converter/internal/otelcolconvert/converter_syslogreceiver.go
  internal/converter/internal/otelcolconvert/testdata/syslog.alloy
  internal/converter/internal/otelcolconvert/testdata/syslog.yaml
Labels: type/docs

#2314 Upgrade to OTel v0.116.0
  CHANGELOG.md
  docs/sources/_index.md
  docs/sources/_index.md.t
  docs/sources/reference/components/otelcol/otelcol.exporter.loadbalancing.md
  docs/sources/reference/components/otelcol/otelcol.processor.k8sattributes.md
  docs/sources/reference/components/otelcol/otelcol.processor.span.md
  docs/sources/reference/components/otelcol/otelcol.processor.tail_sampling.md
  docs/sources/release-notes.md
  docs/sources/shared/reference/components/otelcol-kafka-authentication-sasl-aws_msk.md
  docs/sources/shared/reference/components/otelcol-kafka-authentication-sasl.md
  go.mod
  go.sum
  internal/component/beyla/ebpf/beyla_linux_test.go
  internal/component/otelcol/auth/auth.go
  internal/component/otelcol/connector/connector.go
  internal/component/otelcol/exporter/datadog/config/config_datadog.go
  internal/component/otelcol/exporter/datadog/datadog_test.go
  internal/component/otelcol/exporter/exporter.go
  internal/component/otelcol/exporter/loadbalancing/loadbalancing.go
  internal/component/otelcol/exporter/loadbalancing/loadbalancing_test.go
  internal/component/otelcol/extension/extension.go
  internal/component/otelcol/extension/jaeger_remote_sampling/internal/jaegerremotesampling/extension_test.go
  internal/component/otelcol/extension/jaeger_remote_sampling/internal/jaegerremotesampling/internal/grpc.go
  internal/component/otelcol/extension/jaeger_remote_sampling/internal/jaegerremotesampling/internal/grpc_test.go
  internal/component/otelcol/extension/jaeger_remote_sampling/internal/jaegerremotesampling/internal/http.go
  internal/component/otelcol/extension/jaeger_remote_sampling/internal/jaegerremotesampling/internal/http_test.go
  internal/component/otelcol/extension/jaeger_remote_sampling/internal/jaegerremotesampling/internal/metadata/generated_telemetry.go
  internal/component/otelcol/extension/jaeger_remote_sampling/internal/jaegerremotesampling/internal/metadata/generated_telemetry_test.go
  internal/component/otelcol/extension/jaeger_remote_sampling/internal/jaegerremotesampling/internal/remote_strategy_cache.go
  internal/component/otelcol/extension/jaeger_remote_sampling/internal/jaegerremotesampling/internal/remote_strategy_cache_test.go
  internal/component/otelcol/processor/k8sattributes/k8sattributes.go
  internal/component/otelcol/processor/k8sattributes/k8sattributes_test.go
  internal/component/otelcol/processor/processor.go
  internal/component/otelcol/processor/span/span.go
  internal/component/otelcol/processor/span/span_test.go
  internal/component/otelcol/processor/tail_sampling/types.go
  internal/component/otelcol/receiver/prometheus/prometheus.go
  internal/component/otelcol/receiver/receiver.go
  internal/converter/internal/otelcolconvert/converter_k8sattributesprocessor.go
  internal/converter/internal/otelcolconvert/converter_loadbalancingexporter.go
  internal/converter/internal/otelcolconvert/converter_spanprocessor.go
  internal/converter/internal/otelcolconvert/otelcolconvert.go
  internal/converter/internal/otelcolconvert/testdata/datadog.alloy
  internal/converter/internal/otelcolconvert/testdata/splunkhec.alloy
  internal/util/otel_feature_gate.go
  internal/util/otel_feature_gate_test.go
Labels: type/docs

#2351 Fix topics in loki.source.kafka
  CHANGELOG.md
  docs/sources/reference/components/loki/loki.source.kafka.md
  docs/sources/release-notes.md
  internal/component/loki/source/internal/kafkatarget/topics.go
  internal/component/loki/source/internal/kafkatarget/topics_test.go
Labels: type/docs

#2353 Update support bundle link to the correct file in github
  docs/sources/troubleshoot/support_bundle.md
Labels: documentation, type/docs, backport release/v1.5

#2358 update the image version to work with the given example
  example/compose.yaml
Labels: type/docs, backport release/v1.5

#2359 docs: fixed kafka config example
  docs/sources/reference/components/loki/loki.source.kafka.md
Labels: type/docs, backport release/v1.0, backport release/v1.1, backport release/v1.2, backport release/v1.3, backport release/v1.4, backport release/v1.5

#2363 Update wal queue tls
  CHANGELOG.md
  docs/sources/reference/components/prometheus/prometheus.write.queue.md
  go.mod
  go.sum
  internal/component/prometheus/write/queue/types.go
  internal/component/prometheus/write/queue/types_test.go
Labels: type/docs

#2203 #229 Add OpenTelemetry Collector Server Auth Extensions to Receivers
  CHANGELOG.md
  docs/sources/reference/components/otelcol/otelcol.auth.basic.md
  docs/sources/reference/components/otelcol/otelcol.auth.bearer.md
  docs/sources/reference/components/otelcol/otelcol.auth.headers.md
  docs/sources/reference/components/otelcol/otelcol.auth.oauth2.md
  docs/sources/reference/components/otelcol/otelcol.auth.sigv4.md
  docs/sources/reference/components/otelcol/otelcol.extension.jaeger_remote_sampling.md
  docs/sources/reference/components/otelcol/otelcol.receiver.datadog.md
  docs/sources/reference/components/otelcol/otelcol.receiver.influxdb.md
  docs/sources/reference/components/otelcol/otelcol.receiver.jaeger.md
  docs/sources/reference/components/otelcol/otelcol.receiver.opencensus.md
  docs/sources/reference/components/otelcol/otelcol.receiver.otlp.md
  docs/sources/reference/components/otelcol/otelcol.receiver.zipkin.md
  internal/component/faro/receiver/receiver_otelcol_test.go
  internal/component/otelcol/auth/auth.go
  internal/component/otelcol/auth/auth_test.go
  internal/component/otelcol/auth/basic/basic.go
  internal/component/otelcol/auth/basic/basic_test.go
  internal/component/otelcol/auth/bearer/bearer.go
  internal/component/otelcol/auth/bearer/bearer_test.go
  internal/component/otelcol/auth/headers/headers.go
  internal/component/otelcol/auth/headers/headers_test.go
  internal/component/otelcol/auth/oauth2/oauth2.go
  internal/component/otelcol/auth/oauth2/oauth2_test.go
  internal/component/otelcol/auth/sigv4/sigv4.go
  internal/component/otelcol/auth/sigv4/sigv4_test.go
  internal/component/otelcol/config_grpc.go
  internal/component/otelcol/config_http.go
  internal/component/otelcol/exporter/loadbalancing/loadbalancing.go
  internal/component/otelcol/exporter/otlp/otlp.go
  internal/component/otelcol/exporter/otlphttp/otlphttp.go
  internal/component/otelcol/extension/jaeger_remote_sampling/jaeger_remote_sampling.go
  internal/component/otelcol/receiver/datadog/datadog.go
  internal/component/otelcol/receiver/influxdb/influxdb.go
  internal/component/otelcol/receiver/jaeger/jaeger.go
  internal/component/otelcol/receiver/opencensus/opencensus.go
  internal/component/otelcol/receiver/otlp/otlp.go
  internal/component/otelcol/receiver/zipkin/zipkin.go
  internal/converter/internal/otelcolconvert/converter_loadbalancingexporter.go
  internal/converter/internal/otelcolconvert/converter_otlpexporter.go
  internal/converter/internal/otelcolconvert/converter_otlphttpexporter.go
  internal/runtime/componenttest/componenttest.go
Labels: type/docs

#2320 fix(loki.secretfilter): Fix partial masking for short secrets and support multiple allowlists per rule
  CHANGELOG.md
  docs/sources/reference/components/loki/loki.secretfilter.md
  internal/component/loki/secretfilter/secretfilter.go
  internal/component/loki/secretfilter/secretfilter_test.go
Labels: type/docs

#2387 Clean up Alloy component docs
  docs/sources/reference/components/beyla/beyla.ebpf.md
Labels: type/docs, backport release/v1.0, backport release/v1.1, backport release/v1.2, backport release/v1.3, backport release/v1.4, backport release/v1.5

#2276 Add json format support for log export via faro receiver
  CHANGELOG.md
  docs/sources/reference/components/faro/faro.receiver.md
  internal/component/faro/receiver/arguments.go
  internal/component/faro/receiver/exporters.go
  internal/component/faro/receiver/exporters_test.go
  internal/component/faro/receiver/receiver.go
  internal/component/faro/receiver/receiver_test.go
  internal/converter/internal/staticconvert/testdata-v2/integrations_v2.alloy
  internal/converter/internal/staticconvert/testdata-v2/unsupported.alloy
Labels: type/docs

#2308 Add livedebugging support for prometheus.remote_write
  CHANGELOG.md
  docs/sources/troubleshoot/debug.md
  internal/component/prometheus/remotewrite/remote_write.go
Labels: type/docs

#2433 feat(otelcol): allow event extraction from spans in spanlogs (grafana#2427)
  CHANGELOG.md
  docs/sources/reference/components/otelcol/otelcol.connector.spanlogs.md
  internal/component/otelcol/connector/spanlogs/consumer.go
  internal/component/otelcol/connector/spanlogs/spanlogs.go
  internal/component/otelcol/connector/spanlogs/spanlogs_test.go
Labels: type/docs

#2465 Update Beyla component docs
  docs/sources/reference/components/beyla/beyla.ebpf.md
Labels: type/docs, backport release/v1.3, backport release/v1.4, backport release/v1.5, backport release/v1.6

#2479 [release/v1.3] Update Beyla component docs
  docs/sources/reference/components/beyla/beyla.ebpf.md
Labels: type/docs, backport

#2468 Update linting and syntax for database.observability topic
  docs/sources/reference/components/database_observability/database_observability.mysql.md
Labels: type/docs, backport release/v1.6

#2480 [release/v1.6] Update linting and syntax for database.observability topic
  docs/sources/reference/components/database_observability/database_observability.mysql.md
Labels: type/docs, backport

#2403 Update and lint discovery.azure to discovery.dockerswarm
  docs/sources/_index.md
  docs/sources/_index.md.t
  docs/sources/reference/components/discovery/discovery.azure.md
  docs/sources/reference/components/discovery/discovery.consul.md
  docs/sources/reference/components/discovery/discovery.consulagent.md
  docs/sources/reference/components/discovery/discovery.digitalocean.md
  docs/sources/reference/components/discovery/discovery.dns.md
  docs/sources/reference/components/discovery/discovery.docker.md
  docs/sources/reference/components/discovery/discovery.dockerswarm.md
Labels: type/docs, backport release/v1.3, backport release/v1.4, backport release/v1.5, backport release/v1.6

#2426 Update and lint discovery.ec2 to discovery.ionos
  docs/sources/reference/components/discovery/discovery.ec2.md
  docs/sources/reference/components/discovery/discovery.eureka.md
  docs/sources/reference/components/discovery/discovery.file.md
  docs/sources/reference/components/discovery/discovery.gce.md
  docs/sources/reference/components/discovery/discovery.hetzner.md
  docs/sources/reference/components/discovery/discovery.http.md
  docs/sources/reference/components/discovery/discovery.ionos.md
Labels: type/docs, backport release/v1.3, backport release/v1.4, backport release/v1.5, backport release/v1.6

#2432 Update and lint discovery.kubelet to discovery.nomad
  docs/sources/reference/components/discovery/discovery.kubelet.md
  docs/sources/reference/components/discovery/discovery.kubernetes.md
  docs/sources/reference/components/discovery/discovery.kuma.md
  docs/sources/reference/components/discovery/discovery.lightsail.md
  docs/sources/reference/components/discovery/discovery.linode.md
  docs/sources/reference/components/discovery/discovery.marathon.md
  docs/sources/reference/components/discovery/discovery.nerve.md
  docs/sources/reference/components/discovery/discovery.nomad.md
Labels: type/docs, backport release/v1.3, backport release/v1.4, backport release/v1.5, backport release/v1.6

#2435 Update and lint discovery.openstack to discovery.uyuni
  docs/sources/reference/components/discovery/discovery.openstack.md
  docs/sources/reference/components/discovery/discovery.ovhcloud.md
  docs/sources/reference/components/discovery/discovery.process.md
  docs/sources/reference/components/discovery/discovery.puppetdb.md
  docs/sources/reference/components/discovery/discovery.relabel.md
  docs/sources/reference/components/discovery/discovery.scaleway.md
  docs/sources/reference/components/discovery/discovery.serverset.md
  docs/sources/reference/components/discovery/discovery.triton.md
  docs/sources/reference/components/discovery/discovery.uyuni.md
Labels: type/docs, backport release/v1.3, backport release/v1.4, backport release/v1.5, backport release/v1.6

#2512 [release/v1.4] Update and lint discovery.openstack to discovery.uyuni
  docs/sources/reference/components/discovery/discovery.openstack.md
  docs/sources/reference/components/discovery/discovery.ovhcloud.md
  docs/sources/reference/components/discovery/discovery.process.md
  docs/sources/reference/components/discovery/discovery.puppetdb.md
  docs/sources/reference/components/discovery/discovery.relabel.md
  docs/sources/reference/components/discovery/discovery.scaleway.md
  docs/sources/reference/components/discovery/discovery.serverset.md
  docs/sources/reference/components/discovery/discovery.triton.md
  docs/sources/reference/components/discovery/discovery.uyuni.md
Labels: type/docs, backport

#2511 [release/v1.5] Update and lint discovery.openstack to discovery.uyuni
  docs/sources/reference/components/discovery/discovery.openstack.md
  docs/sources/reference/components/discovery/discovery.ovhcloud.md
  docs/sources/reference/components/discovery/discovery.process.md
  docs/sources/reference/components/discovery/discovery.puppetdb.md
  docs/sources/reference/components/discovery/discovery.relabel.md
  docs/sources/reference/components/discovery/discovery.scaleway.md
  docs/sources/reference/components/discovery/discovery.serverset.md
  docs/sources/reference/components/discovery/discovery.triton.md
  docs/sources/reference/components/discovery/discovery.uyuni.md
Labels: type/docs, backport

#2513 [release/v1.3] Update and lint discovery.openstack to discovery.uyuni
  docs/sources/reference/components/discovery/discovery.openstack.md
  docs/sources/reference/components/discovery/discovery.ovhcloud.md
  docs/sources/reference/components/discovery/discovery.process.md
  docs/sources/reference/components/discovery/discovery.puppetdb.md
  docs/sources/reference/components/discovery/discovery.relabel.md
  docs/sources/reference/components/discovery/discovery.scaleway.md
  docs/sources/reference/components/discovery/discovery.serverset.md
  docs/sources/reference/components/discovery/discovery.triton.md
  docs/sources/reference/components/discovery/discovery.uyuni.md
Labels: type/docs, backport

#2488 Add missing metadata for stage in discover topics
  docs/sources/reference/components/discovery/discovery.azure.md
  docs/sources/reference/components/discovery/discovery.consul.md
  docs/sources/reference/components/discovery/discovery.consulagent.md
  docs/sources/reference/components/discovery/discovery.digitalocean.md
  docs/sources/reference/components/discovery/discovery.dns.md
  docs/sources/reference/components/discovery/discovery.docker.md
  docs/sources/reference/components/discovery/discovery.dockerswarm.md
Labels: type/docs, backport release/v1.3, backport release/v1.4, backport release/v1.5, backport release/v1.6

#2322 Update prometheus.exporter.blackbox.md
  docs/sources/reference/components/prometheus/prometheus.exporter.blackbox.md
Labels: type/docs, backport release/v1.3, backport release/v1.4, backport release/v1.5, backport release/v1.6

#2520 Update code format in heading
  docs/sources/reference/components/database_observability/database_observability.mysql.md
Labels: type/docs, backport release/v1.6

#2536 Update linting in local.* topics
  docs/sources/reference/components/local/local.file.md
  docs/sources/reference/components/local/local.file_match.md
Labels: type/docs, backport release/v1.3, backport release/v1.4, backport release/v1.5, backport release/v1.6

#2519 Update using code format in headings and tables
  docs/sources/reference/components/beyla/beyla.ebpf.md
  docs/sources/reference/components/discovery/discovery.azure.md
  docs/sources/reference/components/discovery/discovery.consul.md
  docs/sources/reference/components/discovery/discovery.consulagent.md
  docs/sources/reference/components/discovery/discovery.digitalocean.md
  docs/sources/reference/components/discovery/discovery.dns.md
  docs/sources/reference/components/discovery/discovery.docker.md
  docs/sources/reference/components/discovery/discovery.dockerswarm.md
  docs/sources/reference/components/discovery/discovery.ec2.md
  docs/sources/reference/components/discovery/discovery.eureka.md
  docs/sources/reference/components/discovery/discovery.file.md
  docs/sources/reference/components/discovery/discovery.gce.md
  docs/sources/reference/components/discovery/discovery.hetzner.md
  docs/sources/reference/components/discovery/discovery.http.md
  docs/sources/reference/components/discovery/discovery.ionos.md
  docs/sources/reference/components/discovery/discovery.kubelet.md
  docs/sources/reference/components/discovery/discovery.kubernetes.md
  docs/sources/reference/components/discovery/discovery.kuma.md
  docs/sources/reference/components/discovery/discovery.lightsail.md
  docs/sources/reference/components/discovery/discovery.linode.md
  docs/sources/reference/components/discovery/discovery.marathon.md
  docs/sources/reference/components/discovery/discovery.nerve.md
  docs/sources/reference/components/discovery/discovery.nomad.md
  docs/sources/reference/components/discovery/discovery.openstack.md
  docs/sources/reference/components/discovery/discovery.ovhcloud.md
  docs/sources/reference/components/discovery/discovery.process.md
  docs/sources/reference/components/discovery/discovery.puppetdb.md
  docs/sources/reference/components/discovery/discovery.relabel.md
  docs/sources/reference/components/discovery/discovery.scaleway.md
  docs/sources/reference/components/discovery/discovery.serverset.md
  docs/sources/reference/components/discovery/discovery.triton.md
  docs/sources/reference/components/discovery/discovery.uyuni.md
Labels: type/docs, backport release/v1.3, backport release/v1.4, backport release/v1.5, backport release/v1.6

#2534 Clean up some linting errors on faro.receiver
  docs/sources/reference/components/faro/faro.receiver.md
Labels: type/docs, backport release/v1.3, backport release/v1.4, backport release/v1.5, backport release/v1.6

#2570 [release/v1.3] Clean up some linting errors on faro.receiver
  docs/sources/reference/components/faro/faro.receiver.md
Labels: type/docs, backport

#2569 [release/v1.4] Clean up some linting errors on faro.receiver
  docs/sources/reference/components/faro/faro.receiver.md
Labels: type/docs, backport

#2568 [release/v1.5] Clean up some linting errors on faro.receiver
  docs/sources/reference/components/faro/faro.receiver.md
Labels: type/docs, backport

#2566 [release/v1.6] Clean up some linting errors on faro.receiver (#2534)
  docs/sources/reference/components/faro/faro.receiver.md
Labels: type/docs, backport

#2431 feat(pyroscope.receive_http): Support pushv1.Push in receive_http
  CHANGELOG.md
  docs/sources/reference/components/pyroscope/pyroscope.receive_http.md
  internal/component/pyroscope/receive_http/receive_http.go
  internal/component/pyroscope/receive_http/receive_http_test.go
Labels: type/docs

#2579 [release/v1.4] Update data-collection.md
  docs/sources/data-collection.md
Labels: type/docs, backport

#2583 [release/v1.3] Update linting in local.* topics
  docs/sources/reference/components/local/local.file.md
  docs/sources/reference/components/local/local.file_match.md
Labels: type/docs, backport

#2582 [release/v1.4] Update linting in local.* topics
  docs/sources/reference/components/local/local.file.md
  docs/sources/reference/components/local/local.file_match.md
Labels: type/docs, backport

#2581 [release/v1.5] Update linting in local.* topics
  docs/sources/reference/components/local/local.file.md
  docs/sources/reference/components/local/local.file_match.md
Labels: type/docs, backport

#2584 Remove duplicate stage badge
  docs/sources/reference/components/loki/loki.secretfilter.md
Labels: type/docs, backport release/v1.5, backport release/v1.6

#2588 `loki.secretfilter`: Add explicit message in the docs about labels not being scanned
  docs/sources/reference/components/loki/loki.secretfilter.md
Labels: type/docs, backport release/v1.5, backport release/v1.6
